.kadence-subsection-wrap .subsection-wrap-title {
    font-weight: 500;
	margin: 0 0 6px;
}
.kadence-subsection-wrap .kt-inner-subsection {
	border: 1px solid var(--kb-border-color, #859CB6 );
    padding: 10px;
	border-radius: 2px;
}