.kadence-background-type-container{
	display:flex;
	align-items: center;
	.components-background-type-control__label {
		flex: 1;
	}
	.kadence-background-type-radio-container {
		display: flex;
		.components-button {
			height: 32px;
			flex: 1 1 0;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 14px;
			font-weight: 600;
			font-style: normal;
			text-transform: uppercase;
			line-height: 1.2;
			border: 1px solid #CBD5E0;
			border-radius: 2px;
			background: transparent;
			color: #4A5568;
			padding: 4px;
			box-shadow: none;
			white-space: normal;
		}
		.components-button.is-primary {
			border-color: var(--wp-admin-theme-color, #00669b);
			background: var(--wp-admin-theme-color, #00669b);
			color: #fff;
			box-shadow: none;
		}
		.components-button:not(:first-child) {
			margin-left: 4px;
		}
	}
}
.kadence-background-type-control .kadence-background-type-container .kadence-background-type-radio-container {
    margin-bottom: 0;
}

.kadence-background-type-radio-container .components-button svg {
    width: 1em;
    height: 1em;
}
