figure.wp-block-kadence-image:not(.wp-block) {
  margin: 0; }

.wp-block-kadence-image {
  position: relative;
  /* Image filters */ }
  .wp-block-kadence-image .is-applying img, .wp-block-kadence-image.is-transient img {
    opacity: 0.3; }
  .wp-block-kadence-image figcaption img {
    display: inline; }
  .wp-block-kadence-image .components-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -9px; }
  .wp-block-kadence-image:not(.is-style-rounded) > div:not(.components-placeholder) {
    border-radius: inherit; }
  .wp-block-kadence-image .filter-earlybird img::before {
    background: radial-gradient(circle, #d0ba8e 20%, #360309 85%, #1d0210 100%);
    mix-blend-mode: overlay;
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 40px;
    bottom: 40px;
    z-index: 1; }
  .wp-block-kadence-image .filter-earlybird img {
    filter: contrast(0.9) sepia(0.2); }
  .wp-block-kadence-image .filter-vintage img:after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    box-shadow: inset 0 0 100px rgba(0, 0, 20, 0.4), inset 0 5px 15px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, rgba(255, 145, 0, 0.2) 0%, rgba(255, 230, 48, 0.2) 60%), linear-gradient(20deg, rgba(255, 0, 0, 0.2) 0%, rgba(255, 0, 0, 0) 35%); }
  .wp-block-kadence-image .filter-vintage img {
    filter: sepia(0.2) brightness(1.1) contrast(1.3); }
  .wp-block-kadence-image .filter-grayscale img {
    filter: grayscale(1); }
  .wp-block-kadence-image .filter-sepia img {
    filter: sepia(0.5); }
  .wp-block-kadence-image .filter-saturation img {
    filter: saturate(1.6); }
  .wp-block-kadence-image .filter-toaster img::after {
    background: radial-gradient(circle, #804e0f, #3b003b);
    mix-blend-mode: screen;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .wp-block-kadence-image .filter-toaster img {
    filter: contrast(1.5) brightness(0.9); }
  .wp-block-kadence-image .filter-mayfair img::after {
    background: radial-gradient(circle at 40% 40%, rgba(255, 255, 255, 0.8), rgba(255, 200, 200, 0.6), #111 60%);
    mix-blend-mode: overlay;
    opacity: 0.4;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0; }
  .wp-block-kadence-image .filter-mayfair img {
    filter: contrast(1.1) saturate(1.1); }

.wp-block-kadence-image .components-resizable-box__container {
  display: inline-block; }
  .wp-block-kadence-image .components-resizable-box__container img {
    display: block;
    width: inherit;
    height: inherit; }

.block-editor-block-list__block[data-type="core/image"] .block-editor-block-toolbar .block-editor-url-input__button-modal {
  position: absolute;
  left: 0;
  right: 0;
  margin: -1px 0; }
  @media (min-width: 600px) {
    .block-editor-block-list__block[data-type="core/image"] .block-editor-block-toolbar .block-editor-url-input__button-modal {
      margin: -1px; } }
[data-align="wide"] > .wp-block-kadence-image img,
[data-align="full"] > .wp-block-kadence-image img {
  width: 100%; }

.wp-block[data-align="left"] > .wp-block-kadence-image,
.wp-block[data-align="center"] > .wp-block-kadence-image,
.wp-block[data-align="right"] > .wp-block-kadence-image {
  display: table; }
  .wp-block[data-align="left"] > .wp-block-kadence-image > figcaption,
  .wp-block[data-align="center"] > .wp-block-kadence-image > figcaption,
  .wp-block[data-align="right"] > .wp-block-kadence-image > figcaption {
    display: table-caption;
    caption-side: bottom; }

.wp-block[data-align="left"] > .wp-block-kadence-image {
  margin-right: 1em;
  margin-left: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.wp-block[data-align="right"] > .wp-block-kadence-image {
  margin-left: 1em;
  margin-right: 0;
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.wp-block[data-align="center"] > .wp-block-kadence-image {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.wp-block-kadence-image__crop-area {
  position: relative;
  max-width: 100%;
  width: 100%; }

.wp-block-kadence-image__crop-icon {
  padding: 0 8px;
  min-width: 48px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .wp-block-kadence-image__crop-icon svg {
    fill: currentColor; }

.wp-block-kadence-image__zoom .components-popover__content {
  overflow: visible;
  min-width: 260px; }

.wp-block-kadence-image__zoom .components-range-control {
  flex: 1; }

.wp-block-kadence-image__zoom .components-base-control__field {
  display: flex;
  margin-bottom: 0;
  flex-direction: column;
  align-items: flex-start; }

.wp-block-kadence-image__aspect-ratio {
  height: 46px;
  margin-bottom: -8px;
  display: flex;
  align-items: center; }
  .wp-block-kadence-image__aspect-ratio .components-button {
    width: 36px;
    padding-left: 0;
    padding-right: 0; }
