.kadence-blocks-block-child-selector {
    border-top: 1px solid #CBD5E0;
}
.kadence-blocks-block-child-selector .kadence-blocks-block-child-selector__button.components-button {
    width: 100%;
    padding: 0 16px;
    height: 44px;
}
.kadence-blocks-block-child-selector .kadence-blocks-block-child-selector__button.components-button:hover {
    background: rgba(237,242, 247, .4);
}
