.kadence-onboarding-modal {

	.components-modal__content {
		padding: 0;
	}

	.header {
		display: flex;
		justify-content: space-between;
		padding: 20px;
		top: 0;
		position: sticky;
		z-index: 100;
		background: #FFF;

		img {
			width: 40px;
		}

		.close {
			padding: 10px;
			cursor: pointer;
		}
	}

	.body {
		display: flex;
		justify-content: center;
		padding: 0 30px 30px 30px;
	}

	.body-name {
		display: flex;
	}

	.width-m {
		max-width: 600px;
		width: 100%;
	}

	.width-l {
		max-width: 850px;
		width: 100%;
		padding-bottom: 50px;
	}

	.form-container {
		flex: 1;
		padding: 20px;
		display: flex;
		flex-direction: column;
		margin-left: 25px;
	}

	// desktop and tablet only
	@media (min-width: 769px) {
		.form-container {
			min-width: 400px;
		}
	}

	.form-container input, .form-container textarea {
		margin-bottom: 20px;
		padding: 20px 10px;
		font-size: 16px;
		border: 1px solid #ccc;
		border-radius: 4px;
		width: 100%;
	}

	@media (max-width: 768px) {
		.image {
			display: none !important;
		}

		.form-container {
			width: 100%;
			padding: 20px;
		}
	}

	.width-f {
		display: flex;
		flex: 1;

		.image {
			margin-top: -80px;
			margin-left: -30px;
			background-color: #011227;
			//flex: 1;
			height: calc(100vh - 80px); /* Adjust height to span to footer */

			display: flex;
			align-items: center;
			justify-content: center;

			img {
				max-height: 86vh;
				max-width: 100%;
			}
		}

	}

	.type-selection {
		display: flex;
		border-bottom: 1px solid #d9d9d9;
		.components-button {
			margin-bottom: -1px;
			border-radius: 0;
			border-bottom: 2px solid transparent;
		}
		.components-button.is-pressed {
			border-bottom: 2px solid #3c434a;
			background: #FFF;
			color: #3c434a;
			font-weight: bold;
			&:hover {
				background: #FFF;
				color: #3c434a;
			}
		}
	}

	.options {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		margin-top: 20px;
		text-align: center;

		&.options-mobile .option:not(.blank) {
			width: 48%;
		}

		.blank {
			padding: 20px;
			border: 2px dashed #d9d9d9;
			border-radius: 5px;
			cursor: pointer;

			.components-button:focus {
				outline: none;
				box-shadow: none;
			}

			&:hover {
				border: 2px dashed #0073e6;
			}

			&.is-selected {
				border: 2px dashed #0073e6;
			}
		}

		.option {
			width: 100%;
			margin-bottom: 25px;
		}

		.option-mobile {
			width: 48%;
			margin-bottom: 20px;
		}

		.option-image {
			margin-bottom: 10px;
			border: 3px solid #d9d9d9;
			border-radius: 5px;
			cursor: pointer;
			&:hover {
				border: 3px solid #0073e6;
			}

			&.is-selected {
				border: 3px solid #0073e6;
			}
			svg {
				display: block;
			}
		}
	}

	.footer {
		position: fixed;
		bottom: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 70px;
		border-top: 1px solid #d9d9d9;
		width: 100%;
		padding: 0 35px;
		font-weight: bold;
		background: #FFF;

		.next .is-primary {
			background-color: #0073e6;
		}

		.step-indicator {
			display: flex;
			cursor: default;

			.step {
				margin-right: 20px;
				color: #3c434a;
    			font-weight: 500;

				.number {
					display: inline-flex;
					background-color: #3c434a;
					color: #fff;
					border-radius: 50%;
					line-height: 10px;
					width: 20px;
					height: 20px;
					padding: 5px 5px 0px 6px;
					margin-right: 5px;
					font-weight: 400;
				}

				&.active {
					color: #0073e6;

					.number {
						background-color: #0073e6;
						color: #FFF;
					}
				}
			}
		}
	}
}
