.wp-block-kadence-show-more .kt-show-more-preview {
	overflow: hidden;
}
.wp-block-kadence-show-more .kb-show-more-buttons {
    margin-top: 1em;
}
.wp-block-kadence-show-more {
    margin-top: 0;
    margin-bottom: 0;
}