/**
 * #.# Styles
 */
 .kb-buttons-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: var(--global-kb-gap-xs, 0.5rem);
 }
 .kb-button {
	z-index: 1;
    position: relative;
    overflow: hidden;
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;
    &.kt-btn-width-type-full {
        flex: 1;
        width: 100%;
    }
}
.kb-button:not(.kb-btn-global-inherit) {
    border: 0 solid transparent;
    padding: 0.4em 1em;
    cursor: pointer;
	font-size: 1.125rem;
    border-radius: 3px;
    transition: all .3s ease-in-out;
	box-shadow: none;
    &:hover {
        box-shadow: none;
    }
}
.kb-button.kb-btn-global-fill {
    border: 0px solid transparent;
	border-radius: 3px;
    background: var(--global-palette-btn-bg, #3633E1);
    color: var(--global-palette-btn, #FFFFFF);
    &:hover {
        color: var(--global-palette-btn-hover, #FFFFFF);
        background: var(--global-palette-btn-bg-hover, #2F2FFC);
    }
}
.kb-button.kb-btn-global-outline {
    border: 2px solid var(--global-palette-btn-bg, #3633E1);
	background:transparent;
	color: var(--global-palette-btn-bg, #3633E1);
    &:hover {
        border-color: var(--global-palette-btn-bg-hover, #2F2FFC);
        background: transparent;
        color: var(--global-palette-btn-bg-hover, #2F2FFC);
    }
}
.kb-button::before {
    position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	background:transparent;
	transition: all .3s ease-in-out;
}
.kb-button:hover::before {
	opacity: 1;
}
.wp-block-kadence-advancedbtn .kb-button.kt-btn-size-small{
    font-size: 0.9rem;
}
.wp-block-kadence-advancedbtn .kb-button.kt-btn-size-large {
    font-size: 1.35rem;
}
.wp-block-kadence-advancedbtn .kb-button.kt-btn-size-xlarge {
    font-size: 1.65rem;
}
.kb-button.kb-btn-global-outline.kt-btn-size-xlarge {
    border-width: 4px;
}
.kb-button.kb-btn-global-outline.kt-btn-size-large {
    border-width: 3px;
}
.kb-button.kb-btn-global-outline.kt-btn-size-small {
    border-width: 1px;
}
.kt-btn-has-svg-true {
    gap: 0.5em;
}
.wp-block-kadence-advancedbtn .kb-svg-icon-wrap {
	display: inline-flex;
    justify-content: center;
    align-items: center;
	svg {
		width: 1em;
		height: 1em;
	}
}