/**
 * #.# Front End Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

//@import './splide.scss';
.wp-block-kadence-testimonials {
	.kt-testimonial-rating-wrap {
		margin: 10px 0 10px 0;
		.kb-svg-icon-wrap {
			color: #ffd700;
			font-size: 16px;
		}
	}
	.kb-svg-icon-wrap {
		display: inline-flex;
		svg {
			width: 1em;
			height: 1em;
		}
	}
	.kt-blocks-carousel {
		padding-bottom: 35px;
	}
	.kt-blocks-carousel.kt-carousel-container-dotstyle-none {
		padding-bottom: 0;
	}
	.kt-blocks-carousel .kt-blocks-carousel-init:not(.kt-carousel-arrowstyle-none):not(.tns-slider) {
		padding-left: 35px;
		padding-right: 35px;
	}
	// .kt-blocks-carousel .kt-blocks-testimonial-carousel-item {
	// 	padding: 0 15px;
	// }
	.kt-blocks-carousel-init:not(.kt-carousel-dotstyle-none) {
		padding-bottom: 30px;
		margin-bottom: 0;
	}
	.kt-blocks-carousel-init .splide__pagination {
		bottom: 6px;
	}
}
.kt-testimonial-grid-wrap {
	display: grid;
	grid-template-columns: repeat(2, minmax(0, 1fr));
	gap: 30px 30px;
}
.kt-testimonial-grid-wrap .kt-testimonial-item-wrap {
	margin: 0 auto;
	width: 100%;
}
.kt-testimonial-text-wrap .kt-testimonial-title-wrap {
	.kt-testimonial-title {
		margin: 0 0 0.5em 0;
	}
}

//largest size / fallbacks
.kt-t-xxl-col-1 .kt-testimonial-grid-wrap {
	grid-template-columns: minmax(0, 1fr);
}
.kt-t-xxl-col-2 .kt-testimonial-grid-wrap {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.kt-t-xxl-col-3 .kt-testimonial-grid-wrap {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.kt-t-xxl-col-4 .kt-testimonial-grid-wrap {
	grid-template-columns: repeat(4, minmax(0, 1fr));
}
.kt-t-xxl-col-5 .kt-testimonial-grid-wrap {
	grid-template-columns: repeat(5, minmax(0, 1fr));
}
@media (min-width: 1200px) and (max-width: 1499px) {
	.kt-t-xl-col-1 .kt-testimonial-grid-wrap {
		grid-template-columns: minmax(0, 1fr);
	}
	.kt-t-xl-col-2 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.kt-t-xl-col-3 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.kt-t-xl-col-4 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.kt-t-xl-col-5 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.kt-t-lg-col-1 .kt-testimonial-grid-wrap {
		grid-template-columns: minmax(0, 1fr);
	}
	.kt-t-lg-col-2 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.kt-t-lg-col-3 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.kt-t-lg-col-4 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.kt-t-lg-col-5 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}
@media (min-width: 768px) and (max-width: 991px) {
	.kt-t-md-col-1 .kt-testimonial-grid-wrap {
		grid-template-columns: minmax(0, 1fr);
	}
	.kt-t-md-col-2 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.kt-t-md-col-3 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.kt-t-md-col-4 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.kt-t-md-col-5 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}
@media (min-width: 544px) and (max-width: 767px) {
	.kt-t-sm-col-1 .kt-testimonial-grid-wrap {
		grid-template-columns: minmax(0, 1fr);
	}
	.kt-t-sm-col-2 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.kt-t-sm-col-3 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.kt-t-sm-col-4 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.kt-t-sm-col-5 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}
@media (max-width: 543px) {
	.kt-t-xs-col-1 .kt-testimonial-grid-wrap {
		grid-template-columns: minmax(0, 1fr);
	}
	.kt-t-xs-col-2 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.kt-t-xs-col-3 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.kt-t-xs-col-4 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.kt-t-xs-col-5 .kt-testimonial-grid-wrap {
		grid-template-columns: repeat(5, minmax(0, 1fr));
	}
}
.kt-testimonial-media-inner-wrap {
	overflow: hidden;
	border: 0 solid transparent;
	width: 60px;
	margin: 0 15px 0 0;
	border-radius: 100%;
	.kadence-testimonial-image-intrisic {
		padding-bottom: 100%;
		height: 0;
		position: relative;
	}
	.kt-testimonial-image {
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		padding: 0;
		object-fit: cover;
		//	border-radius: 100%;
	}
	.kt-svg-testimonial-icon {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		left: 0;
		right: 0;
	}
}
.kt-testimonial-item-wrap {
	border: 0 solid transparent;
	text-align: center;
	margin: 0 auto;
	padding: 20px;
}
.kt-testimonial-style-bubble .kt-testimonial-item-wrap,
.kt-testimonial-style-inlineimage .kt-testimonial-item-wrap {
	padding: 0;
}
.kt-testimonial-occupation-wrap .kt-testimonial-occupation {
	font-size: 15px;
}
.kt-testimonial-meta-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
	.kt-testimonial-meta-name-wrap {
		text-align: left;
	}
}
.kt-svg-testimonial-global-icon {
	border: 2px solid var(--global-palette7, #eeeeee);
	border-radius: 100%;
	background: transparent;
	color: var(--global-palette4, #444444);
	padding: 20px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	svg {
		width: 1em;
		height: 1em;
	}
}
.kt-svg-testimonial-global-icon-wrap {
	margin: 0 0 10px 0;
}
// Card
.kt-testimonial-style-card {
	.kt-testimonial-media-inner-wrap {
		width: auto;
		margin: 0 0 15px 0;
		border-radius: 0;
		.kadence-testimonial-image-intrisic {
			padding-bottom: 50%;
		}
		.kt-testimonial-image {
			border-radius: 0;
		}
	}
	.kt-testimonial-meta-wrap .kt-testimonial-meta-name-wrap {
		text-align: center;
	}
	&.kt-testimonials-icon-on.kt-testimonial-halign-center .kt-testimonial-item-wrap {
		text-align: left;
	}
	.kt-svg-testimonial-global-icon-wrap {
		float: left;
		margin: 0 10px 0 0;
	}
	&.kt-testimonial-halign-right .kt-svg-testimonial-global-icon-wrap {
		float: right;
	}
}
.kt-testimonial-style-card.kt-testimonial-halign-right .kt-testimonial-media-inner-wrap {
	margin: 0 0 15px 0;
}
// Bubble
.kt-testimonial-style-bubble {
	.kt-testimonial-text-wrap {
		border: 2px solid var(--global-palette7, #eeeeee);
		padding: 20px;
		position: relative;
		border-radius: 10px;
		&:after {
			height: 0;
			left: 50%;
			top: 100%;
			position: absolute;
			border-top: 14px solid var(--global-palette7, #eeeeee);
			border-bottom: 14px solid transparent;
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
			content: "";
			transform: translateX(-50%);
			width: 0;
		}
	}
	.kt-testimonial-meta-wrap {
		margin-top: 20px;
	}
	&.kt-testimonial-halign-left .kt-testimonial-meta-wrap {
		margin-left: 6px;
	}
	&.kt-testimonial-halign-left.kt-testimonials-media-off .kt-testimonial-meta-wrap {
		margin-left: 20px;
	}
	&.kt-testimonial-halign-right .kt-testimonial-meta-wrap {
		margin-right: 6px;
	}
	&.kt-testimonial-halign-right.kt-testimonials-media-off .kt-testimonial-meta-wrap {
		margin-right: 20px;
	}
	.kt-svg-testimonial-global-icon {
		background: #fff;
	}
	&.kt-testimonials-icon-on .kt-svg-testimonial-global-icon-wrap {
		margin: -55px 0 10px 0;
	}
	&.kt-testimonials-icon-on .kt-testimonial-item-wrap {
		padding-top: 55px;
	}
}
.kt-testimonial-media-off .kt-testimonial-meta-wrap .kt-testimonial-meta-name-wrap {
	text-align: inherit;
}
// inline
.kt-testimonial-style-inlineimage {
	.kt-testimonial-media-wrap {
		float: left;
	}
	.kt-testimonial-text-wrap {
		border: 2px solid var(--global-palette7, #eeeeee);
		padding: 20px;
		position: relative;
		border-radius: 10px;
		text-align: left;
		&:after {
			height: 0;
			left: 20px;
			top: 100%;
			position: absolute;
			border-top: 14px solid var(--global-palette7, #eeeeee);
			border-bottom: 14px solid transparent;
			border-left: 14px solid transparent;
			border-right: 14px solid transparent;
			content: "";
			transform: none;
			width: 0;
		}
	}
	.kt-testimonial-meta-wrap {
		margin-top: 2px;
		justify-content: flex-start;
		padding-left: 60px;
		.kt-testimonial-meta-name-wrap {
			text-align: left;
			display: flex;
			align-items: center;
			.kt-testimonial-name-wrap {
				padding-right: 6px;
			}
		}
	}
	&.kt-testimonial-halign-right {
		.kt-testimonial-text-wrap {
			text-align: left;
		}
		.kt-testimonial-media-wrap {
			float: right;
		}
		.kt-testimonial-meta-wrap {
			padding-left: 0px;
			padding-right: 60px;
		}
	}
	.kt-svg-testimonial-global-icon {
		background: #fff;
	}
	&.kt-testimonials-icon-on .kt-svg-testimonial-global-icon-wrap {
		margin: -55px 0 10px 0;
	}
	&.kt-testimonials-icon-on .kt-testimonial-item-wrap {
		padding-top: 55px;
	}
}
.kt-testimonial-halign-left {
	.kt-testimonial-item-wrap {
		text-align: left;
		margin: 0;
		.kt-testimonial-meta-name-wrap {
			text-align: left;
		}
	}
	.kt-testimonial-meta-wrap {
		justify-content: flex-start;
	}
	.kt-testimonial-text-wrap:after {
		left: 20px;
		transform: none;
	}
}
.kt-testimonial-halign-right {
	.kt-testimonial-item-wrap {
		text-align: right;
		margin-left: auto;
		margin-right: 0;
		.kt-testimonial-meta-name-wrap {
			text-align: right;
		}
	}
	.kt-testimonial-meta-wrap {
		justify-content: flex-start;
		flex-direction: row-reverse;
	}
	.kt-testimonial-media-inner-wrap {
		margin: 0 0 0 15px;
	}
	.kt-testimonial-text-wrap:after {
		left: auto;
		right: 20px;
		transform: none;
	}
}
.kt-testimonial-name a {
	color: inherit;
	text-decoration: underline;
}
.kt-testimonial-occupation a {
	color: inherit;
	text-decoration: underline;
}
.kt-testimonial-item-wrap.testimonial-valign-middle {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.kt-testimonial-item-wrap.testimonial-valign-bottom {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.kt-testimonial-halign-center.kt-testimonials-media-off .kt-testimonial-meta-wrap .kt-testimonial-meta-name-wrap {
	text-align: center;
}
.rtl {
	.kt-testimonial-media-inner-wrap {
		margin: 0 0 0 15px;
	}
	// .kt-testimonial-halign-right {
	// 	.kt-testimonial-media-inner-wrap {
	// 		margin: 0 15px 0 0;
	// 	}
	// }
	.kt-testimonial-style-card {
		.kt-testimonial-media-inner-wrap {
			margin: 0 0 15px 0;
		}
	}
}
.rtl .kt-testimonial-halign-right .kt-testimonial-meta-wrap {
	flex-direction: row;
}
.rtl .kt-testimonial-meta-wrap .kt-testimonial-meta-name-wrap {
	text-align: right;
}

blockquote.kt-testimonial-content {
	margin: unset;
	padding-left:unset;
	border-left: unset;
}