/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
@import "style";

.kb-table-container {

	[data-type="core/paragraph"],
	[data-type="core/paragraph"] > .wp-block {
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}
}
