.wp-block-kadence-header-desktop {

	.kadence-blocks-header-row {
		display: grid !important;
		grid-template-columns: 1fr auto 1fr;
	}

	.kadence-blocks-header-column-center {
		display: flex !important;
		justify-content: center;
	}

	.kadence-blocks-header-section{
		display: flex !important;
		align-items: center;

		.kadence-blocks-header-column {
			display: flex !important;
			align-items: center;
		}
	}

	// Removed centering from blocks
	.kadence-blocks-header-section > *, .kadence-blocks-header-column > * {
		display: flex !important;
		margin-left: unset !important;
		margin-right: unset !important;
	}

	.kadence-blocks-header-column-center-left {
		display: flex !important;
		justify-content: flex-end !important;
	}

	.kadence-blocks-header-column-center-right  {
		display: flex !important;
		justify-content: flex-start !important;
	}

	//.kadence-blocks-header-section-right *:first-child {
	//
	//	justify-content: flex-start;
	//}
	//
	//.kadence-blocks-header-section-right *:nth-child(2) {
	//	justify-content: flex-end;
	//}
}
