.kadence-header-row-wrap {
	display: grid;
	grid-template-columns: 1fr auto 1fr;

	.kadence-header-column {
		display: flex;
	}

	.kadence-header-column>div {
		display: flex;
		align-items: center;
		margin-right: 10px;
		max-height: inherit;
	}
}

.wp-block-kadence-header-desktop {
	.kadence-header-row-wrap:first-child {

		.kadence-header-column:last-of-type {
			flex-grow: 1;
			justify-content: flex-end !important;
		}

	}

	.kadence-header-row-wrap:nth-child(2) {
		justify-content: center;
	}

	.kadence-header-row-wrap:last-child {
		justify-content: flex-end;

		.kadence-header-column:first-of-type {
			flex-grow: 1;
			justify-content: flex-start;
		}
	}

}
