.wp-block-kadence-header-row {
	margin-top: 0;
	margin-bottom: 0;
	.kadence-header-row-inner {
		padding: 0 var(--global-content-edge-padding, 15px);
		display: grid !important;
		grid-template-columns: 1fr minmax(0, auto) 1fr;
		margin: 0 auto;
	}
	.kadence-header-row-inner:has(> div.no-content-column-center) {
		grid-template-columns: auto auto auto;
	}
	.wp-block-kadence-header-column,
	.wp-block-kadence-header-section {
		gap: 10px;
		align-items: center;
		display: flex !important;
	}

	.wp-block-kadence-header-column-center,
	.wp-block-kadence-header-column-tablet-center {
		justify-content: center;
	}

	.wp-block-kadence-header-section {
		// Override a style we set elsewhere
		p {
			margin-bottom: unset;
		}
	}

	.wp-block-kadence-header-column-center-left {
		flex-grow: 1;
		justify-content: flex-end !important;
		> *:not(.specificity):not(.specificity-two) {
			margin-left: 0px;
			margin-right: 0px;
		}
	}

	.wp-block-kadence-header-column-center-right {
		flex-grow: 1;
		justify-content: flex-start !important;
		> *:not(.specificity):not(.specificity-two) {
			margin-left: 0px;
			margin-right: 0px;
		}
	}
	&.wp-block-kadence-header-row-layout-contained:not(.specific):not(.extra-specific) {
		padding: 0 var(--global-content-edge-padding, 15px);
		max-width: var(--global-content-width, var(--wp--style--global--wide-size));
		margin: 0 auto;
		//left and right centering for if this row gets sticky
		left: 0;
		right: 0;
	}
	&.wp-block-kadence-header-row-layout-standard {
		.kadence-header-row-inner {
			max-width: var(--global-content-width, var(--wp--style--global--wide-size));
		}
	}
	&.wp-block-kadence-header-row-layout-fullwidth {
		//don't do anything with fullwidth in the editor too much of a pain to try and get full editor width.
	}

	&.wp-block-kadence-header-row--force-hide {
		display: none !important;
	}
}
