.wp-block-kadence-header-row {
	margin-top: 0;
	margin-bottom: 0;
	&:not(.kb-header-row-layout-contained) {
		background: var(--kb-header-row-bg, transparent );
	}
	&.kb-header-row-layout-contained .kadence-header-row-inner {
		background: var(--kb-header-row-bg, transparent );
	}
	.kadence-header-row-inner {
		padding: 0 var(--global-content-edge-padding, 15px);
		display: grid;
		grid-template-columns: 1fr minmax(0, auto) 1fr;
		margin: 0 auto;
	}
	.kadence-header-row-inner:has(> div.no-content-column-center) {
		grid-template-columns: auto auto;
	}
	.kadence-header-row-inner > .no-content-column-center {
		display: none;
	}

	.wp-block-kadence-header-column,
	.wp-block-kadence-header-section {
		gap: 10px;
		align-items: center;
		display: flex;
	}

	.wp-block-kadence-header-column-center,
	.wp-block-kadence-header-column-tablet-center {
		justify-content: center;
	}

	.wp-block-kadence-header-section {
		// Override a style we set elsewhere
		p {
			margin-bottom: unset;
			margin-top: unset;
		}
	}

	.wp-block-kadence-header-column-center-left {
		flex-grow: 1;
		justify-content: flex-end;
	}

	.wp-block-kadence-header-column-center-right {
		flex-grow: 1;
		justify-content: flex-start;
	}
	&.kb-header-row-layout-contained {
		padding: 0 var(--global-content-edge-padding, 15px);
		max-width: var(--global-content-width, var(--wp--style--global--wide-size));
		margin: 0 auto;
		//left and right centering for if this row gets sticky
		left: 0;
		right: 0;
	}
	&.kb-header-row-layout-standard {
		.kadence-header-row-inner {
			max-width: var(--global-content-width, var(--wp--style--global--wide-size));
		}
	}
	// &:where(.kb-header-row-layout-fullwidth) {
	// 	.kadence-header-row-inner {
	// 		padding: 0;
	// 	}
	// }
	&.kb-header-row-layout-config-single > .kadence-header-row-inner:not(.specificity) {
		grid-template-columns: auto;
		> .wp-block-kadence-header-section,
		> .wp-block-kadence-header-column {
			display: none;
		}
		> .wp-block-kadence-header-section:first-child,
		> .wp-block-kadence-header-column:first-child {
			display: block;
			> .wp-block-kadence-header-column {
				display: none;
			}
		}
	}
}
