.wp-block-kadence-header-row {
	margin-top: 0;
	margin-bottom: 0;
	.kadence-header-row-inner {
		padding: 0 var(--global-content-edge-padding, 15px);
		display: grid;
		grid-template-columns: 1fr minmax(0, auto) 1fr;
		margin: 0 auto;
	}
	.kadence-header-row-inner:has(> div.no-content-column-center) {
		grid-template-columns: auto auto auto;
	}

	.wp-block-kadence-header-column,
	.wp-block-kadence-header-section {
		gap: 10px;
		align-items: center;
		display: flex;
	}

	.wp-block-kadence-header-column-center,
	.wp-block-kadence-header-column-tablet-center {
		justify-content: center;
	}

	.wp-block-kadence-header-section {
		// Override a style we set elsewhere
		p {
			margin-bottom: unset;
		}
	}

	.wp-block-kadence-header-column-center-left {
		flex-grow: 1;
		justify-content: flex-end;
	}

	.wp-block-kadence-header-column-center-right {
		flex-grow: 1;
		justify-content: flex-start;
	}
	&.wp-block-kadence-header-row-layout-contained {
		padding: 0 var(--global-content-edge-padding, 15px);
		max-width: var(--global-content-width, var(--wp--style--global--wide-size));
		margin: 0 auto;
		//left and right centering for if this row gets sticky
		left: 0;
		right: 0;
	}
	&.wp-block-kadence-header-row-layout-standard {
		.kadence-header-row-inner {
			max-width: var(--global-content-width, var(--wp--style--global--wide-size));
		}
	}
	// &.wp-block-kadence-header-row-layout-fullwidth {
	// 	width: 100vw;
	// 	position: relative;
	// 	left: 50%;
	// 	right: 50%;
	// 	margin-left: -50vw;
	// 	margin-right: -50vw;
	// }
}
