.wp-block-kadence-header-row {
	display: grid !important;
	grid-template-columns: 1fr auto 1fr;

	.wp-block-kadence-header-column-center {
		display: flex !important;
		justify-content: center;
	}

	.wp-block-kadence-header-section {
		display: flex !important;
		align-items: center;

		.wp-block-kadence-header-column {
			display: flex !important;
			align-items: center;
		}

		// Override a style we set elsewhere
		p {
			margin-bottom: unset;
		}
	}

	.wp-block-kadence-header-column-center-left {
		flex-grow: 1;
		display: flex !important;
		justify-content: flex-end !important;
	}

	.wp-block-kadence-header-column-center-right {
		flex-grow: 1;
		display: flex !important;
		justify-content: flex-start !important;
	}

	.wp-block-kadence-header-column,
	.wp-block-kadence-header-section {
		gap: 10px;
	}

	&.wp-block-kadence-header-row-layout-contained {
		margin: 0 auto;
		padding: 0 var(--global-content-edge-padding);
		max-width: var(--global-content-width);
	}
	&.wp-block-kadence-header-row-layout-fullwidth {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}
}
