.components-base-control.kadence-form-input-control .kadence-controls-content .components-button.kb-dynamic-form-input-sidebar.has-icon {
    border: 1px solid var(--kb-border-color, #859CB6);
	height: 30px;
    border-radius: 0;
	svg {
		height: 16px;
		width: 16px;
	}
}
.kadence-form-input-control__title {
    font-weight: 500;
    line-height: 1.4;
    display: inline-block;
    margin-bottom: calc(8px);
    padding: 0px;
}
.components-base-control.kadence-form-input-control .kadence-controls-content {
    width: 100%;
    display: flex;
}
.components-base-control.kadence-form-input-control .kadence-controls-content .components-base-control__field {
    margin: 0;
}
.components-base-control.kadence-form-input-control .kadence-controls-content .components-base-control {
    margin: 0;
	width: 100%;
}
.kadence-form-input-control__dynamic__label {
    border: 1px solid #949494;
    border-radius: 0px;
    border-right: 0;
    padding: 6px 8px;
    width: 100%;
    background-color: #f0f0f1;
    min-height: 30px;
    font-size: 13px;
    line-height: normal;
}
.kadence-form-input-control__dynamic__label .kb-dynamic-link-label svg {
    height: 13px;
    max-width: 13px;
}