.kb-responsive-options-dropdown .dashicon {
    width: 15px;
    height: 15px;
    font-size: 15px;
    margin: 0;
}
.kb-responsive-options-dropdown .components-button.components-dropdown-menu__toggle {
    background: transparent;
    height: auto;
    border: 0;
    box-shadow: none;
    padding: 0;
    margin-bottom: 0;
    outline: 0;
    color: #A0AEC0;
    width: auto;
    font-size: 10px;
    min-width: 0;
    color: var(--wp-admin-theme-color, #00669b);
    background: transparent;
    width: 22px;
	height: 18px;
    line-height: 18px;
    margin: 0;
}
.components-dropdown.components-dropdown-menu.kb-responsive-options-dropdown {
    display: flex;
}