.kadence-blocks-image-picker {
    width: 100%;
    height: 100%;

    .kadence-blocks-image-picker-wrapper, 
    .kadence-blocks-image-picker-router,
    .kadence-blocks-image-picker-contents {
        width: 100%;
        height: 100%;
    }

    .kadence-blocks-image-picker-contents {
        display: grid;
        grid-template-columns: 1fr 300px;
        grid-template-rows: min-content 1fr;

        .kadence-blocks-image-picker-search-container {
            order: 1;
            background: #f6f7f7;
            border-bottom: 1px solid #dcdcde;
            padding: 10px;

            input {
                width: 100%;
            }
        }

        .kadence-blocks-image-picker-scroll-container {
            order: 3;
            overflow: auto;
            padding: 10px 10px 0 10px;
        }

        .kadence-blocks-image-picker-sidebar {
            order: 2;
            grid-row: span 2;
            padding: 20px 16px;
            background: #f6f7f7;
            border-left: 1px solid #dcdcde;
            overflow: auto;

            .result-details-container {

                hr {
                    margin: 10px 0;
                }

                .result-details {
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    .result-detail {
                        display: grid;
                        grid-template-columns: 30% minmax(0, 1fr);
                        gap: 10px;

                        .result-detail-label {
                            text-align: right;
                        }
                        .result-detail-value {
                            word-wrap: break-word;
                        }
                    }
                }
            }
        }
    }

}