.kadence-gap-size-control .components-button-group.kadence-radio-container-control {
    flex: 1;
}
.kadence-gap-size-control .kadence-single-unit-control .components-button-group.kadence-radio-container-control {
    flex:0;
}
.kadence-gap-size-control .kadence-radio-container-control.components-button-group .components-button {
    height: 32px;
    min-width: 20px;
}
.kadence-gap-size-control .kadence-radio-container-control.components-button-group .components-button.has-icon.only-icon svg {
    margin: 0;
    width: 1em;
    height: 1em;
    font-size: 18px;
}
.kadence-gap-size-control .kadence-single-unit-control .components-unit-control-wrapper {
    flex-grow: 2;
}
.kadence-gap-size-control .kadence-single-unit-control {
    gap: 2px;
}
.kadence-gap-size-control .kadence-single-unit-control .kadence-measure-control-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 0px 2px 2px 0px;
    display: block;
    outline: none;
    margin: 0px;
    min-height: auto;
    font-family: inherit;
    box-sizing: border-box;
    padding: 2px 1px;
    width: 20px;
    color: rgb(47, 47, 47);
    font-size: 10px;
    line-height: 1;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    -moz-text-align-last: center;
    text-align-last: center;
    height: 100%;
    border: 1px solid #e2e4e7;
    transition: box-shadow 0.1s linear 0s, border 0.1s linear 0s;
    cursor: pointer;
}