# Path-based git attributes
# https://mirrors.edge.kernel.org/pub/software/scm/git/docs/gitattributes.html

*               text
composer.lock   text -diff
*.png			binary
*.jpg			binary
*.gif			binary

# Bun lock files
*.lockb binary diff=lockb

# Ignore paths when git creates an archive of this package
/.gitattributes             export-ignore
/.gitignore                 export-ignore
/.github                    export-ignore
/.editorconfig              export-ignore
/.env.testing               export-ignore
/.env.testing.slic          export-ignore
/codeception.dist.yml       export-ignore
/codeception.slic.yml       export-ignore
/tests                      export-ignore
