node_modules
**/node_modules/**
.DS_Store
dist/
zip/
bin/strauss.phar
.idea
/.vscode/
/vendor/
/vendor-prefixed/
bin/pup.phar
bin/wp-cli.phar
.pup-build
.pup-zip
/tests/codeception.env
/.env
# Remove this when fully transitioning to bun.
/bun.lock*
/.kadence-packages-root
