/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.kadence-info-box-image-intrisic {
    height: 0;
}
.kt-info-halign-center {
	text-align: center;
	.kadence-info-box-image-inner-intrisic-container {
		margin: 0 auto;
	}
}
.kt-info-halign-right {
	text-align: right;
	.kadence-info-box-image-inner-intrisic-container {
		margin: 0 0 0 auto;
	}
}
.kt-info-halign-left {
	text-align: left;
	.kadence-info-box-image-inner-intrisic-container {
		margin: 0 auto 0 0;
	}
}
.kt-blocks-info-box-media-align-top {
	.kt-blocks-info-box-media {
		display: inline-block;
	}
	.kt-infobox-textcontent {
		display: block;
	}
}
.kt-blocks-info-box-media, .kt-blocks-info-box-link-wrap {
	border: 0 solid transparent;
	transition: all 0.3s cubic-bezier(.17,.67,.35,.95);
}
.kt-blocks-info-box-title, .kt-blocks-info-box-text, .kt-blocks-info-box-learnmore {
	transition: all 0.3s cubic-bezier(.17,.67,.35,.95);
}
.kt-blocks-info-box-learnmore {
border: 0 solid transparent;
}
.kt-blocks-info-box-text {
    color: #555555;
}
.wp-block-kadence-infobox .kt-blocks-info-box-learnmore-wrap {
    display: inline-block;
    width: auto;
}
.kt-blocks-info-box-media-align-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.kt-blocks-info-box-media-align-right {
    display: flex;
    align-items: center;
	justify-content: flex-start;
	flex-direction: row-reverse;
}

.kt-info-animate-grayscale img, .kt-info-animate-grayscale-border-draw img {
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	transition: .3s cubic-bezier(.17,.67,.35,.95);
}
.kt-blocks-info-box-link-wrap:hover .kt-info-animate-grayscale img, .kt-blocks-info-box-link-wrap:hover .kt-info-animate-grayscale-border-draw img {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
}
.kt-info-animate-flip, .kt-info-icon-animate-flip {
	perspective: 1000;
}
.kt-blocks-info-box-link-wrap:hover .kt-info-animate-flip .kadence-info-box-image-inner-intrisic, .kt-blocks-info-box-link-wrap:hover .kt-info-icon-animate-flip .kadence-info-box-icon-inner-container {
	transform: rotateY(180deg);
}
.kt-info-animate-flip .kadence-info-box-image-inner-intrisic, .kt-info-icon-animate-flip .kadence-info-box-icon-inner-container {
	transition: 0.6s;
	transform-style: preserve-3d;
	position: relative;
}
.kt-info-animate-flip  .kt-info-box-image-flip, .kt-info-icon-animate-flip  .kt-info-svg-icon-flip {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.kt-info-animate-flip .kt-info-box-image, .kt-info-icon-animate-flip .kt-info-svg-icon {
	backface-visibility: hidden;
}
.kt-info-animate-flip .kt-info-box-image, .kt-info-icon-animate-flip .kt-info-svg-icon {
	z-index: 2;
}
.kt-info-animate-flip .kt-info-box-image-flip, .kt-info-icon-animate-flip .kt-info-svg-icon-flip {
	transform: rotateY(180deg);
}
.kt-info-media-animate-drawborder, .kt-info-media-animate-grayscale-border-draw {
	position: relative;
	box-sizing: border-box;
	&::before,
	&::after {
		box-sizing: border-box;
		content: '';
		position: absolute;
		border: 0px solid transparent;
		width: 0;
		height: 0;
	}
	&::before,
	&::after {
		top: 0;
		left: 0;
	}
	&:after {
		transform: rotate(-90deg);
	}
}
.kt-blocks-info-box-link-wrap:hover .kt-info-media-animate-drawborder, .kt-blocks-info-box-link-wrap:hover .kt-info-media-animate-grayscale-border-draw {
	&:before {
		width: 100%;
		height: 100%;
		transition:
      border-top-color 0.15s linear, // Stagger border appearances
      border-right-color 0.15s linear 0.10s,
      border-bottom-color 0.15s linear 0.20s;
	}
	&:after {
		width: 100%;
		height: 100%;
		transform: rotate(180deg); // Rotate around circle
		transition:
		transform 0.4s linear 0s,
		border-bottom-width 0s linear 0.35s,
	}
}