/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 // Fix Bug with appender not working.
 .wp-block-kadence-advanced-form .kadence-inner-column-inner.kb-section-only-appender .block-list-appender.wp-block, .wp-block-kadence-advanced-form .kadence-inner-column-inner.kb-section-only-appender .block-list-appender.wp-block>.block-editor-inserter {
    pointer-events: all !important;
}
.components-toolbar.kb-add-block .block-editor-button-block-appender.components-button.components-button {
    box-shadow: none;
}
.wp-block-kadence-advanced-form {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 3px;
}
.wp-block-kadence-advanced-form .kb-advanced-form {
	.wp-block {
		margin-left:0;
		margin-right: 0;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
.kb-form-hide-while-setting-up {
	height: 0;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
}
.kb-advanced-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap:1.6em;
	select {
		max-width: unset;
	}
	input, select {
		margin: 0;
	}
	.kb-adv-form-required {
		margin-left: 2px;
		color: #b32d2e;
	}
	.kb-adv-form-field {
		display: flex;
		flex-direction: column;
		flex: 0 1 100%;

		.kb-checkbox-style, .kb-radio-style {
			padding: 0;
			background-color: initial;
			cursor: default;
			-webkit-appearance: auto;
			appearance: auto;
			box-sizing: border-box;
			margin: 3px 5px 3px 0;
			border-color: var(--global-gray-500, #818a91);
			box-shadow: none;
			width: auto;

			&:before {
				display: none;
			}
		}

		.kb-radio-item {
			display: flex;
			margin: 0;
			align-items: center;
		}

		.kb-field-help {
			color: var(--global-palette6, #777);
			margin: 2px 0 5px 0;
			font-size: 80%;
			font-style: italic;
			display: block;
			flex-basis: 100%;
			width: 0;
		}

	}

	.kb-form-multi {

		margin-bottom: 10px;
		display: block !important;

		.components-base-control {
			display: inline;
		}

		.components-base-control__field {
			display: inline;

			input {
				display: inline;
			}
		}

		.dashicons.dashicons-trash {
			margin-left: 0px;
		}

		input[type=text] {
			width: 75%;
		}

		&__add-option {
			margin-top: 15px;
		}


	}
}

.kadence-blocks-form-warning {
	background: #fff5f5;
	margin-top: 10px;
	padding: 10px;
	border-radius: 2px;
	border: 1px solid #fc8181;
	color: #c53030;
	font-weight: bold;
}

.kb-form-error-msg {
	background: #fff5f5;
	margin-top: 10px;
	padding: 8px;
	border-radius: 2px;
	border: 1px solid #fc8181;
	color: #c53030;
	font-weight: bold;
	width: 100%;
	text-align: left;
}

.kb-form-has-error {
	align-items: flex-start;
}

.kb-adv-form-field .kb-text-style-field.has-error:not(.missingclass) {
	border-color: #c53030;
}

.kadence-blocks-form-success {
	background: #ebf8ff;
	margin-top: 10px;
	padding: 10px;
	border-radius: 2px;
	border: 1px solid #4299e1;
	color: #2b6cb0;
	font-weight: bold;
}

.kb-advanced-form-submit-container {
	box-sizing: border-box;
	margin-bottom: 15px;
	margin-top: 15px;
	flex-wrap: wrap;
	align-items: center;
	display: flex;
	//width: 100%;

	.kb-advanced-form-submit {
		z-index: 1;
		padding: 8px 16px;
		cursor: text;
		position: relative;
		font-size: 18px;
		border-width: 0px;
		border-radius: 3px;
		border-color: var(--global-palette-btn-bg, #1768ea);
		background: var(--global-palette-btn-bg, #1768ea);
		color: var(--global-palette-btn, #ffffff);
		display: flex;
		text-align: center;
		justify-content: center;
		border-style: solid;
		overflow: hidden;
		transition: all 0.3s ease-in-out;
	}

	.kb-button-size-small {
		padding: 4px 8px;;
		font-size: 16px;
	}

	.kb-button-size-large {
		padding: 12px 24px;
		font-size: 20px;
	}

	.kb-button-width-full {
		width: 100%;
	}
}

.kb-select-or-create-placeholder {
	.components-placeholder__label {
		font-size: 20px;
		line-height: 20px;
	}
	.components-placeholder__instructions {
		margin-bottom: 1em;
	}

	.components-select-control__input {
		height: 36px !important; // Match height of buttons.
	}

	.kb-select-or-create-placeholder__actions {
		display: block;

		.components-base-control__field {
			margin-right: 12px;
		}

		.components-button {

		}
	}
}

