/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.kb-form-multi {

	margin-bottom: 10px;
	display: block !important;

	.components-base-control {
		display: inline;
	}

	.components-base-control__field {
		display: inline;

		input {
			display: inline;
		}
	}

	.dashicons.dashicons-trash {
		margin-left: 0px;
	}

	input[type=text] {
		width: 75%;
	}

	&__add-option {
		margin-top: 15px;
	}


}

.kb-form-field-container {
	.kb-form-field-inline {
		display: flex;
		align-items: center;
	}

	.kb-form-field {
		display: block;
		align-items: center;
	}

	.kb-form-field-help {
		display: block;
	}
}

.kb-forms-submit-container {
	box-sizing: border-box;
	padding: 0 5px;
	margin-bottom: 16px;
	flex-wrap: wrap;
	align-items: center;
	display: flex;
	width: 100%;

	.kb-forms-submit {
		z-index: 1;
		padding: 8px 16px;
		cursor: text;
		position: relative;
		font-size: 18px;
		border-width: 0px;
		border-radius: 3px;
		border-color: var(--global-palette-btn-bg, #1768ea);
		background: var(--global-palette-btn-bg, #1768ea);
		color: var(--global-palette-btn, #ffffff);
		display: flex;
		text-align: center;
		justify-content: center;
		border-style: solid;
		overflow: hidden;
		transition: all 0.3s ease-in-out;
	}

	.kb-button-size-small {
		padding: 4px 8px;;
		font-size: 16px;
	}
	.kb-button-size-large {
		padding: 12px 24px;
		font-size: 20px;
	}
	.kb-button-width-full {
		width: 100%;
	}
}

.kb-select-or-create-placeholder {
	.components-placeholder__label {
		font-size: 20px;
		line-height: 20px;
	}
	.components-placeholder__instructions {
		margin-bottom: 1em;
	}

	.components-select-control__input {
		height: 36px !important; // Match height of buttons.
	}

	.kb-select-or-create-placeholder__actions {
		display: block;

		.components-base-control__field {
			margin-right: 12px;
		}

		.components-button {

		}
	}
}

