/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
// Fix Bug with appender not working.
.wp-block-kadence-advanced-form .kadence-inner-column-inner.kb-section-only-appender .block-list-appender.wp-block,
.wp-block-kadence-advanced-form
	.kadence-inner-column-inner.kb-section-only-appender
	.block-list-appender.wp-block
	> .block-editor-inserter {
	pointer-events: all !important;
}
.components-toolbar.kb-add-block .block-editor-button-block-appender.components-button.components-button {
	box-shadow: none;
}
// Form title validation.
.kadence-input-required-warning .components-text-control__input[type="text"]:not(:focus) {
	border-color: #dc3545;
}
.kb-adv-form-actions {
	margin-bottom: 24px;
}
.kb-form-field-name-wrap .components-notice.is-error {
	margin: -10px 0px 24px;
}
.kb-form-field-name-wrap.kb-field-has-warning .components-base-control {
	padding-left: 12px;
	border-left: 4px solid #cc1818;
}
.block-editor-block-inspector {
	.kb-adv-field-options-wrap {
		display: flex;
		flex-direction: column;
		gap: 8px;
		margin-bottom: 8px;
	}
	.kb-adv-field-option {
		position: relative;
		border: 1px solid var(--kb-border-color, #859cb6);
		padding: 0.5em;
		.components-base-control {
			margin-bottom: 8px;
		}
		.kadence-blocks-list-item__control-menu {
			border-top: 1px solid var(--kb-border-color, #859cb6);
			margin-bottom: -0.5em;
			margin-left: -0.5em;
			margin-right: -0.5em;
			.components-button.has-icon {
				padding: 4px;
			}
		}
	}
}
.wp-block-kadence-advanced-form .kb-form-basic-style {
	font-size: var(--kb-form-font-size, 1rem);
	line-height: var(--kb-form-line-height, 1.6);
	textarea {
		width: 100%;
	}
	input[type="text"]:not(.ignore-field-styles),
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	input[type="file"],
	textarea {
		-webkit-appearance: none;
		color: var(--kb-form-text-color, var(--global-palette5, #555352));
		border: var(--kb-form-border-width, 1px) solid var(--kb-form-border-color, var(--global-gray-400, #cbd5e0));
		font-size: var(--kb-form-font-size, 1rem);
		line-height: var(--kb-form-line-height, 1.6);
		border-radius: var(--kb-form-border-radius, 3px);
		padding: var(--kb-form-v-padding, 0.4em) var(--kb-form-h-padding, 0.5em);
		max-width: 100%;
		background: var(--kb-form-background-color, var(--global-palette9, #fff));
		box-shadow: 0px 0px 0px -7px rgba(0, 0, 0, 0);
		font-family: inherit;
	}
	input[type="file"] {
		width: 100%;
		pointer-events: none;
	}
	input[type="text"]:not(.ignore-field-styles):focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,
	input[type="number"]:focus,
	input[type="tel"]:focus,
	input[type="range"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="week"]:focus,
	input[type="time"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="color"]:focus,
	input[type="file"]:focus,
	textarea:focus {
		color: var(--kb-form-text-focus-color, var(--kb-form-text-color, var(--global-palette, #241e1a)));
		border-color: var(--kb-form-border-focus-color, var(--global-palette6, #6e6e70));
		outline: 0;
		box-shadow: 0px 5px 15px -7px rgba(0, 0, 0, 0.1);
		background: var(
			--kb-form-background-focus-color,
			var(--kb-form-background-color, var(--global-palette9, #fff))
		);
	}
	select {
		border: var(--kb-form-border-width, 1px) solid var(--kb-form-border-color, var(--global-gray-400, #cbd5e0));
		background-size: 16px 100%;
		padding: var(--kb-form-v-padding, 0.4em) 35px var(--kb-form-v-padding, 0.4em) var(--kb-form-h-padding, 0.5em);
		font-size: var(--kb-form-font-size, 1rem);
		line-height: var(--kb-form-line-height, 1.6);
		border-radius: var(--kb-form-border-radius, 3px);
		background:
			url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==)
				no-repeat calc(100% - 6px) 50%,
			var(--kb-form-background-color, var(--global-palette9, #fff));
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		box-shadow: none;
		outline: 0;
		box-shadow: 0px 0px 0px -7px rgba(0, 0, 0, 0);
		font-family: inherit;
	}
	select[multiple=""] {
		background: var(--kb-form-background-color, var(--global-palette9, #fff));
	}
	select::-ms-expand {
		display: none;
	}
	select:focus {
		color: var(--kb-form-text-focus-color, var(--kb-form-text-color, var(--global-palette, #241e1a)));
		border-color: var(--kb-form-border-focus-color, var(--global-palette6, #6e6e70));
		background:
			url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==)
				no-repeat calc(100% - 6px) 50%,
			var(--kb-form-background-focus-color, var(--kb-form-background-color, var(--global-palette9, #fff)));
		box-shadow: 0px 5px 15px -7px rgba(0, 0, 0, 0.1);
		outline: 0;
		// Fix for firefox if the color palette is dark.
		option {
			color: #333;
		}
	}
	button {
		line-height: var(--kb-form-line-height, 1.6);
	}
	::-webkit-input-placeholder {
		/* Chrome/Opera/Safari */
		color: var(--kb-form-placeholder-color, var(--global-palette6, #6e6e70));
	}
	::-moz-placeholder {
		/* Firefox 19+ */
		color: var(--kb-form-placeholder-color, var(--global-palette6, #6e6e70));
		opacity: 1;
	}
	:-ms-input-placeholder {
		/* IE 10+ */
		color: var(--kb-form-placeholder-color, var(--global-palette6, #6e6e70));
	}
	:-moz-placeholder {
		/* Firefox 18- */
		color: var(--kb-form-placeholder-color, var(--global-palette6, #6e6e70));
	}
	::placeholder {
		color: var(--kb-form-placeholder-color, var(--global-palette6, #6e6e70));
	}
	input[type="radio"],
	input[type="checkbox"] {
		/* Add if not using autoprefixer */
		-webkit-appearance: none;
		/* Remove most all native input styles */
		appearance: none;
		/* For iOS < 15 */
		background: var(--kb-form-background-color, var(--global-palette9, #fff));
		/* Not removed via appearance */
		margin: 0;
		color: currentColor;
		width: 0.9em;
		height: 0.9em;
		border: max(var(--kb-form-border-width, 1px), 1px) solid
			var(--kb-form-border-color, var(--global-gray-400, #cbd5e0));
		border-radius: 50%;
		transform: translateY(-0.18em);
		display: grid;
		place-content: center;
		min-width: 0.8em;
		line-height: 1.6;
		font-size: var(--kb-form-font-size, 1rem);
	}
	input[type="checkbox"] {
		transform: translateY(-0.075em);
		border-radius: var(--kb-form-border-radius, 3px);
	}
	input[type="radio"]::before,
	input[type="checkbox"]::before {
		content: "";
		width: 0.3em;
		height: 0.3em;
		border-radius: 50%;
		transform: scale(0);
		transition: 120ms transform ease-in-out;
		box-shadow: inset 1em 1em var(--kb-form-check-color, #fff);
		/* Windows High Contrast Mode */
		background-color: CanvasText;
	}
	input[type="checkbox"]::before {
		clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
		border-radius: var(--kb-form-border-radius, 3px);
		width: 0.5em;
		height: 0.5em;
	}
	input[type="radio"]:checked,
	input[type="checkbox"]:checked {
		border-color: var(--kb-form-check-highlight-color, #0c5aff);
		background: var(--kb-form-check-highlight-color, #0c5aff);
	}
	input[type="radio"]:checked::before,
	input[type="checkbox"]:checked::before {
		transform: scale(1);
	}
	input[type="radio"]:focus,
	input[type="checkbox"]:focus {
		outline-offset: 3px;
	}
	.kb-radio-check-item {
		display: flex;
		margin: 0;
		align-items: baseline;
		label {
			flex-grow: 1;
			padding-left: 0.4em;
			font-size: 90%;
			color: var(--kb-form-text-color, var(--global-palette5, #555352));
		}
	}
	.kb-radio-check-inline {
		display: flex !important;
		flex-wrap: wrap;
		gap: 10px;
	}
	input[type="file"]::file-selector-button {
		margin-right: 1em;
		border: none;
		font-size: 90%;
		padding: var(--kb-form-btn-v-padding, 0.2em) var(--kb-form-btn-h-padding, 1em);
		border-radius: var(--kb-form-border-radius, 3px);
		cursor: pointer;
		transition: background 0.2s ease-in-out;
	}
	.kb-adv-form-help {
		color: var(--kb-form-help-color, var(--global-palette5, #474748));
		margin: 2px 0 2px 0;
		font-size: 80%;
		font-style: italic;
		display: block;
	}
}
.kb-form-input-size-large {
	--kb-form-font-size: 1.25rem;
}
.kb-form-input-size-small {
	--kb-form-font-size: 0.85rem;
}
.kb-select-or-create-placeholder__actions .components-base-control {
	margin-bottom: 1.2em;
}
.wp-block-kadence-advanced-form {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0 3px;
	.components-placeholder__fieldset {
		position: relative;
	}
	.kb-form-wizard-pagination {
		display: flex;
		align-items: center;
		gap: 1em;
		position: absolute;
		right: 0;
		bottom: calc(100% + 10px);
	}
	.kb-form-pagination-btn.is-small.has-icon {
		height: 30px;
		margin: 6px 0 0;
		min-width: 20px;
		width: auto;
		background: transparent;
		color: #484848;
		padding: 2px 4px;
		.kb-form-pagination-icon {
			height: 24px;
			width: 24px;
			margin-right: 6px;
			background: white;
			color: #484848;
			border-radius: 12px;
			border: 1px solid var(--kb-border-color, #859cb6);
			line-height: 24px;
			font-size: 10px;
		}
		&.is-pressed .kb-form-pagination-icon {
			background: var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
			border: 1px solid var(--wp-components-color-accent, var(--wp-admin-theme-color, #007cba));
			color: #ffffff;
		}
	}
	.kb-adv-form-select {
		min-height: 300px;
	}
	.kb-form-hide-required-asterisk .kb-adv-form-required {
		display: none;
	}
	.kb-form-block-title label {
		font-size: 16px;
		text-transform: none;
		font-weight: 500;
	}
	.kt-select-starter-style-forms {
		border: none;
		padding: 0px 0;
		.kt-select-starter-style-forms-title {
			font-size: 16px;
			font-weight: 500;
		}
		.kt-inital-form-style-btn {
			height: auto;
			width: 320px;
			min-width: 230px;
			background: white;
			-webkit-box-shadow: none;
			box-shadow: none;
			border: 2px solid #f2f2f2;
			padding: 10px 2px 2px;
			margin-right: 15px;
			margin-bottom: 5px;
			.template-select {
				opacity: 0;
				text-transform: uppercase;
				transition: opacity 0.2s ease-in-out;
				background: #efefef;
				border-radius: 3px;
				text-transform: uppercase;
				flex: 1;
				width: 100%;
				text-align: center;
				justify-content: center;
				font-size: 90%;
				line-height: 1.6;
			}
		}
		.kt-init-forms-btn-group {
			position: relative;
		}
		.kt-inital-form-style-btn svg {
			width: 100%;
		}
		.kt-init-forms-btn-group:not(.style-only) .kt-inital-form-style-btn:first-child {
			width: auto;
			text-align: right;
			display: block;
			position: absolute;
			border: 0;
			padding: 2px;
			cursor: pointer;
			opacity: 0.5;
			margin: 0;
			right: 0;
			bottom: calc(100% + 5px);
			min-width: 0;
		}
		.kt-init-forms-btn-group:not(.style-only) .kt-inital-form-style-btn:first-child:hover {
			text-decoration: underline;
			border: none;
		}
		.kt-init-forms-btn-group {
			gap: 1.5em;
			margin: 5px 0;
			width: 100%;
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
			.kt-inital-form-style-btn {
				width: auto;
				margin: 0;
			}
		}
		.kt-inital-form-style-btn {
			color: #1e1e1e;
			font-size: 16px;
			flex-direction: column;
			gap: 5px;

			&.is-pressed {
				border: 2px solid var(--wp-admin-theme-color);
			}

			&:hover {
				color: #1e1e1e;
				border: 2px solid #aaa;
				background: none;
				.template-select {
					opacity: 1;
				}
			}
		}
	}
}
.wp-block-kadence-advanced-form .kb-advanced-form {
	.wp-block {
		margin-left: 0;
		margin-right: 0;
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
.kb-form-hide-while-setting-up {
	height: 0;
	overflow: hidden;
	visibility: hidden;
	opacity: 0;
}
.editor-styles-wrapper .kb-advanced-form {
	> * {
		margin-bottom: 0;
		margin-top: 0;
	}
	> * > {
		h2,
		h3,
		h4,
		h5,
		h6 {
			margin-bottom: 0;
			margin-top: 0;
		}
	}
}
.kb-advanced-form {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 1.6em;
	&.kb-form-has-background {
		padding: 1em;
	}
	input,
	select {
		margin: 0;
	}
	.kb-adv-form-required {
		margin-left: 2px;
		color: #b32d2e;
	}
	.kb-adv-form-field {
		display: flex;
		flex-direction: column;
		max-width: 100%;
		flex: 0 1 100%;
	}

	select {
		max-width: unset;
	}

	.kb-form-multi {
		margin-bottom: 10px;
		display: block !important;
		.inline-option-add-item {
			display: flex;
			align-items: center;
		}
		.components-base-control {
			display: inline;
		}

		.components-base-control__field {
			display: inline;

			input {
				display: inline;
			}
		}
		.dashicons.dashicons-trash {
			margin-left: 0px;
		}
		input[type="text"] {
			width: 100%;
			border-radius: 3px;
			padding: 0.2em 0.3em;
		}
		&__add-option {
			margin-top: 15px;
		}
	}
}
.kb-advanced-form.kb-form-is-dark {
	color-scheme: dark;
	.kb-hidden-field-label {
		color: var(--global-palette7, #fff);
	}
	.inline-option-add-item button.components-button {
		color: white;
	}
}
.kadence-blocks-form-warning {
	background: #fff5f5;
	margin-top: 10px;
	padding: 10px;
	border-radius: 2px;
	border: 1px solid #fc8181;
	color: #c53030;
	font-weight: bold;
}

.kb-form-error-msg {
	background: #fff5f5;
	margin-top: 10px;
	padding: 8px;
	border-radius: 2px;
	border: 1px solid #fc8181;
	color: #c53030;
	font-weight: bold;
	width: 100%;
	text-align: left;
}

.kb-form-has-error {
	align-items: flex-start;
}

.kb-adv-form-field .kb-text-style-field.has-error:not(.missingclass) {
	border-color: #c53030;
}

.kadence-blocks-form-success {
	background: #ebf8ff;
	margin-top: 10px;
	padding: 10px;
	border-radius: 2px;
	border: 1px solid #4299e1;
	color: #2b6cb0;
	font-weight: bold;
}

.kb-advanced-form-submit-container {
	box-sizing: border-box;
	margin-bottom: 15px;
	margin-top: 15px;
	flex-wrap: wrap;
	align-items: center;
	display: flex;
	//width: 100%;

	.kb-advanced-form-submit {
		z-index: 1;
		padding: 8px 16px;
		cursor: text;
		position: relative;
		font-size: 18px;
		border-width: 0px;
		border-radius: 3px;
		border-color: var(--global-palette-btn-bg, #1768ea);
		background: var(--global-palette-btn-bg, #1768ea);
		color: var(--global-palette-btn, #ffffff);
		display: flex;
		text-align: center;
		justify-content: center;
		border-style: solid;
		overflow: hidden;
		transition: all 0.3s ease-in-out;
	}

	.kb-button-size-small {
		padding: 4px 8px;
		font-size: 16px;
	}

	.kb-button-size-large {
		padding: 12px 24px;
		font-size: 20px;
	}

	.kb-button-width-full {
		width: 100%;
	}
}

.kb-select-or-create-placeholder {
	.components-placeholder__label {
		font-size: 20px;
		line-height: 20px;
	}
	.components-placeholder__instructions {
		margin-bottom: 1em;
	}
	.components-select-control__input {
		height: 36px !important; // Match height of buttons.
	}
	.kb-select-or-create-placeholder__actions {
		display: block;
		width: 100%;
		.components-base-control__field {
			margin-right: 12px;
		}
	}
}

.kb-adv-form-actions select.components-select-control__input {
	height: 280px;
	font-size: 14px;
	option {
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 3px;
	}
}
// Styles of infield label.
.wp-block-kadence-advanced-form .kb-form-label-style-infield {
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="file"],
	input[type="color"],
	textarea,
	select {
		&:not(.ignore-field-styles) {
			padding-top: calc(1em + var(--kb-form-v-padding, 0.4em));
		}
	}
	.kb-adv-form-label {
		line-height: 1;
		font-size: 75%;
		padding: var(--kb-form-v-padding, 0.4em) 0;
	}
	.kb-adv-form-infield-type-input {
		position: relative;
		.kb-adv-form-label {
			position: absolute;
			left: 0;
			top: 0;
			padding: var(--kb-form-v-padding, 0.4em) var(--kb-form-h-padding, 0.5em) 0;
		}
	}
	.is-selected.wp-block-kadence-advanced-form-select {
		.kb-adv-form-label {
			position: static;
		}
	}
}
// Styles of float label.
.kb-form-label-style-float .kb-adv-form-field {
	.kb-adv-form-label {
		cursor: pointer;
		opacity: 1;
		transform: translate(0, 0) scale(0.75);
		transform-origin: left bottom;
		padding: var(--kb-form-v-padding, 0.4em) 0;
		transition: all 0.2s;
		margin-top: -1em;
	}
}
.kb-form-label-style-float .kb-adv-form-text-type-input {
	&:not(.kb-form-field-focus) {
		.kb-adv-form-label {
			cursor: text;
			transform: translate(var(--kb-form-h-padding, 0.5em), calc(100% + var(--kb-form-border-width, 1px)))
				scale(1);
		}
	}
	input,
	textarea {
		&:placeholder-shown::placeholder {
			opacity: 0;
		}
	}
	&.kb-form-field-focus {
		input,
		textarea {
			&::placeholder {
				opacity: 1;
				transition: all 0.2s;
			}
		}
	}
}

// Conditional Fields
.kb-conditional-field {
	.kb-field-rules-label {
		color: #1e1e1e;
		font-weight: 500;
		font-size: 13px;
	}
	.components-base-control.action {
		display: flex;
		align-items: flex-end;
		gap: 10px;

		& > .components-base-control {
			margin-bottom: 0;

			.components-base-control__field {
				margin-bottom: 0;
			}
		}
	}
	.kb-field-rules {
		margin-top: 8px;
		.kb-field-rule {
			position: relative;
			border: 1px solid var(--kb-border-color, #859cb6);
			padding: 0.5em;
			margin-bottom: 7px;

			.components-base-control {
				margin-bottom: 15px;
				&:last-child {
					margin-bottom: 0;
				}
			}
			.kb-field-rule-remove {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 11;
			}
		}

		.combine {
			margin-bottom: 7px;
			margin-left: 7px;

			text-transform: uppercase;
		}

		.kb-field-rule-add {
			margin-top: 10px;
		}

		.kb-time-only {
			.components-datetime__time {
				.components-datetime__time-field .components-base-control {
					margin-bottom: 0;
				}
				.components-button-group button {
					padding: 5px;
				}
				fieldset:nth-child(2) {
					display: none;
				}
			}
		}
	}
}
