/**
 * #.# Frontend Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block-kadence-advanced-form {
	.kb-advanced-form {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 1.6em;
		position: relative;
		> * {
			margin-bottom: 0;
		}
	}
	select {
		max-width: unset;
	}

	.kb-adv-form-required {
		margin-left: 2px;
		color: #b32d2e;
	}

	.kb-adv-form-field {
		display: flex;
		flex-direction: column;
		.kb-checkbox-style, .kb-radio-style {
			padding: 0;
			background-color: initial;
			cursor: default;
			-webkit-appearance: auto;
			appearance: auto;
			box-sizing: border-box;
			margin: 3px 5px 3px 0;
			border-color: var(--global-gray-500, #818a91);
			box-shadow: none;
			width: auto;

			&:before {
				display: none;
			}
		}
		.kb-radio-item {
			display: flex;
			margin: 0;
			align-items: center;
		}
		.kb-adv-form-help {
			color: var(--global-palette6, #777);
			margin: 2px 0 2px 0;
			font-size: 80%;
			font-style: italic;
			display: block;
		}

		&.kb-submit-field {
			flex-direction: initial;
		}
	}

	.kb-form-multi {

		margin-bottom: 10px;
		display: block !important;

		.components-base-control {
			display: inline;
		}

		.components-base-control__field {
			display: inline;

			input {
				display: inline;
			}
		}

		.dashicons.dashicons-trash {
			margin-left: 0px;
		}

		input[type=text] {
			width: 75%;
		}

		&__add-option {
			margin-top: 15px;
		}


	}
	.kb-adv-form-loading {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255,255,255,0.7);
		z-index: 10;
		display:flex;
		align-items: flex-end;
		justify-content: center;
	}
	.kb-adv-form-loading-spin {
		display: inline-block;
		position: relative;
		width: 64px;
		height: 64px;
		div {
			position: absolute;
			top: 27px;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background: rgba(0,0,0,.7);
			animation-timing-function: cubic-bezier(0, 1, 1, 0);
		}
		div:nth-child(1) {
			left: 6px;
			animation: kb-adv-form-ellipses1 0.6s infinite;
		}
		div:nth-child(2) {
			left: 6px;
			animation: kb-adv-form-ellipses2 0.6s infinite;
		}
		div:nth-child(3) {
			left: 26px;
			animation: kb-adv-form-ellipses2 0.6s infinite;
		}
		  div:nth-child(4) {
			left: 45px;
			animation: kb-adv-form-ellipses3 0.6s infinite;
		}
	}
}
@keyframes kb-adv-form-ellipses1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes kb-adv-form-ellipses3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes kb-adv-form-ellipses2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}
.kb-adv-form-warning {
	background: #fff5f5;
	padding: 1em;
	border-radius: 2px;
	border: 1px solid #fc8181;
	color: #c53030;
}

.kb-adv-form-error-msg {
	background: #fff5f5;
	padding: 0.7em;
	border-radius: 2px;
	border: 1px solid #fc8181;
	color: #c53030;
	width: 100%;
	text-align: left;
}

.kb-adv-form-has-error {
	align-items: flex-start;
}

.kb-adv-form-field .kb-text-style-field.has-error:not(.missingclass) {
	border-color: #c53030;
}

.kb-adv-form-success {
	background: #ebf8ff;
    padding: 1em;
    border-radius: 2px;
    border: 1px solid #4299e1;
    color: #2b6cb0;
}
// Styles of infield label.
.wp-block-kadence-advanced-form.kb-adv-form-label-style-infield {
	input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea, select {
		padding-top: calc(16px + 0.4rem);
	}
	label.kb-adv-form-label {
		position: absolute;
		line-height: 16px;
		font-size: 14px;
		left: 0;
		top: 0;
		padding: 0.4em 0.5em 0;
	}
	.kb-adv-form-field {
		position: relative;
	}
}