/**
 * #.# Frontend Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 // Basic Styles.
 .wp-block-kadence-advanced-form {
	font-size: var( --kb-form-font-size, 1rem );
	line-height: var( --kb-form-line-height, 1.6 );
	textarea {
		width: 100%;
	}
	input[type="text"],
	input[type="email"],
	input[type="url"],
	input[type="password"],
	input[type="search"],
	input[type="number"],
	input[type="tel"],
	input[type="range"],
	input[type="date"],
	input[type="month"],
	input[type="week"],
	input[type="time"],
	input[type="datetime"],
	input[type="datetime-local"],
	input[type="color"],
	textarea {
		-webkit-appearance: none;
		color: var(--kb-form-text-color, var(--global-palette5, #555352 ));
		border: 1px solid var(--kb-form-border-color, var(--global-gray-400, #cbd5e0) );
		font-size: var( --kb-form-font-size, 1rem );
		line-height: var( --kb-form-line-height, 1.6 );
		border-radius: var( --kb-form-border-radius, 3px );
		padding: var( --kb-form-v-padding, 0.4em ) var( --kb-form-h-padding, 0.5em );
		max-width: 100%;
		background: var(--kb-form-background-color, var(--global-palette9, #fff ) );
		box-shadow: 0px 0px 0px -7px rgba(0,0,0,0);
	}
	input[type="text"]:focus,
	input[type="email"]:focus,
	input[type="url"]:focus,
	input[type="password"]:focus,
	input[type="search"]:focus,
	input[type="number"]:focus,
	input[type="tel"]:focus,
	input[type="range"]:focus,
	input[type="date"]:focus,
	input[type="month"]:focus,
	input[type="week"]:focus,
	input[type="time"]:focus,
	input[type="datetime"]:focus,
	input[type="datetime-local"]:focus,
	input[type="color"]:focus,
	textarea:focus {
		color: var(--kb-form-text-focus-color, var(--global-palette, #241e1a) );
		border-color:var(--kb-form-border-focus-color, var(--global-palette6, #6e6e70) );
		outline: 0;
		box-shadow: 0px 5px 15px -7px rgba(0,0,0,0.1);
		background:var(--kb-form-background-focus-color, var(--global-palette9, #fff ) );
	}
	select {
		border: 1px solid var(--kb-form-border-color, var(--global-gray-400, #cbd5e0) );
		background-size: 16px 100%;
		padding: var( --kb-form-v-padding, 0.4em ) 35px var( --kb-form-v-padding, 0.4em ) var( --kb-form-h-padding, 0.5em );
		font-size: var( --kb-form-font-size, 1rem );
		line-height: var( --kb-form-line-height, 1.6 );
		border-radius: var( --kb-form-border-radius, 3px );
		background: var(--kb-form-background-color, var(--global-palette9, #fff ) ) url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNSIgaGVpZ2h0PSIyNSIgZmlsbD0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2U9IiNiYmIiPjxwYXRoIGQ9Ik02IDlsNiA2IDYtNiIvPjwvc3ZnPg==) no-repeat calc(100% - 6px) 50%;
		-moz-appearance: none;
		-webkit-appearance: none;
		appearance: none;
		box-shadow: none;
		outline: 0;
		box-shadow: 0px 0px 0px -7px rgba(0,0,0,0);
	}
	select::-ms-expand {
		display: none;
	}
	select:focus {
		color: var(--kb-form-text-focus-color, var(--global-palette, #241e1a) );
		border-color:var(--global-palette6, #6e6e70);
		background-color:var(--kb-form-background-focus-color, var(--global-palette9, #fff ) );
		box-shadow: 0px 5px 15px -7px rgba(0,0,0,0.1);
		outline: 0;
		// Fix for firefox if the color palette is dark.
		option {
			color: #333;
		}
	}
	button {
		line-height: var( --kb-form-line-height, 1.6 );;
	}
	::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: var(--kb-form-placeholder-color, var(--global-palette6, #6e6e70));
	}
	::-moz-placeholder { /* Firefox 19+ */
		color: var(--kb-form-placeholder-color, var(--global-palette6, #6e6e70));
		opacity: 1;
	}
	:-ms-input-placeholder { /* IE 10+ */
		color: var(--kb-form-placeholder-color, var(--global-palette6, #6e6e70));
	}
	:-moz-placeholder { /* Firefox 18- */
		color: var(--kb-form-placeholder-color, var(--global-palette6, #6e6e70));
	}
	::placeholder {
		color: var(--kb-form-placeholder-color, var(--global-palette6, #6e6e70));
	}
 }
 // Forced Basic Styles.
.wp-block-kadence-advanced-form {
	.kb-advanced-form {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 1.6em;
		position: relative;
		> * {
			margin-bottom: 0;
		}
	}
	select {
		max-width: unset;
	}

	.kb-adv-form-required {
		margin-left: 2px;
		color: #b32d2e;
	}

	.kb-adv-form-field {
		display: flex;
		flex-direction: column;
		.kb-checkbox-style, .kb-radio-style {
			padding: 0;
			background-color: initial;
			cursor: default;
			-webkit-appearance: auto;
			appearance: auto;
			box-sizing: border-box;
			margin: 3px 5px 3px 0;
			border-color: var(--global-gray-500, #818a91);
			box-shadow: none;
			width: auto;

			&:before {
				display: none;
			}
		}
		.kb-radio-item {
			display: flex;
			margin: 0;
			align-items: center;
		}
		.kb-adv-form-help {
			color: var(--global-palette6, #777);
			margin: 2px 0 2px 0;
			font-size: 80%;
			font-style: italic;
			display: block;
		}

		&.kb-submit-field {
			flex-direction: initial;
		}
	}

	.kb-form-multi {

		margin-bottom: 10px;
		display: block !important;

		.components-base-control {
			display: inline;
		}

		.components-base-control__field {
			display: inline;

			input {
				display: inline;
			}
		}
	}
	.kb-adv-form-loading {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(255,255,255,0.7);
		z-index: 10;
		display:flex;
		align-items: flex-end;
		justify-content: center;
	}
	.kb-adv-form-loading-spin {
		display: inline-block;
		position: relative;
		width: 64px;
		height: 64px;
		div {
			position: absolute;
			top: 27px;
			width: 11px;
			height: 11px;
			border-radius: 50%;
			background: rgba(0,0,0,.7);
			animation-timing-function: cubic-bezier(0, 1, 1, 0);
		}
		div:nth-child(1) {
			left: 6px;
			animation: kb-adv-form-ellipses1 0.6s infinite;
		}
		div:nth-child(2) {
			left: 6px;
			animation: kb-adv-form-ellipses2 0.6s infinite;
		}
		div:nth-child(3) {
			left: 26px;
			animation: kb-adv-form-ellipses2 0.6s infinite;
		}
		  div:nth-child(4) {
			left: 45px;
			animation: kb-adv-form-ellipses3 0.6s infinite;
		}
	}
}
@keyframes kb-adv-form-ellipses1 {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes kb-adv-form-ellipses3 {
	0% {
		transform: scale(1);
	}
	100% {
		transform: scale(0);
	}
}
@keyframes kb-adv-form-ellipses2 {
	0% {
		transform: translate(0, 0);
	}
	100% {
		transform: translate(19px, 0);
	}
}
.kb-adv-form-warning {
	background: #fff5f5;
	padding: 1em;
	border-radius: 2px;
	border: 1px solid #fc8181;
	color: #c53030;
}

.kb-adv-form-error-msg {
	background: #fff5f5;
	padding: 0.7em;
	border-radius: 2px;
	border: 1px solid #fc8181;
	color: #c53030;
	width: 100%;
	text-align: left;
}

.kb-adv-form-has-error {
	align-items: flex-start;
}

.kb-adv-form-field .kb-text-style-field.has-error:not(.missingclass) {
	border-color: #c53030;
}

.kb-adv-form-success {
	background: #ebf8ff;
    padding: 1em;
    border-radius: 2px;
    border: 1px solid #4299e1;
    color: #2b6cb0;
}
// Styles of infield label.
.wp-block-kadence-advanced-form.kb-adv-form-label-style-infield {
	input[type="text"], input[type="email"], input[type="url"], input[type="password"], input[type="search"], input[type="number"], input[type="tel"], input[type="range"], input[type="date"], input[type="month"], input[type="week"], input[type="time"], input[type="datetime"], input[type="datetime-local"], input[type="color"], textarea, select {
		padding-top: calc(1em + 0.4rem);
	}
	label.kb-adv-form-label {
		position: absolute;
		line-height: 1;
		font-size: 75%;
		left: 0;
		top: 0;
		padding: 0.4em 0.5em 0;
	}
	.kb-adv-form-field {
		position: relative;
	}
}
// Styles of float label.
.no-js {
	.kb-adv-form-label-style-float .kb-adv-form-text-type-input {
		&:not( .kb-form-field-focus ) {
			label.kb-adv-form-label {
				cursor: pointer;
				transform: translate(0, 0) scale(0.75);
			}
		}
	}
}
.kb-adv-form-label-style-float .kb-adv-form-field {
	label.kb-adv-form-label {
		cursor: pointer;
		opacity: 1;
		transform: translate(0, 0) scale(0.75);
		transform-origin: left bottom;
		padding: 0.4em 0;
		line-height: 1;
		transition: all 0.2s;
		margin-top: -0.3em;
	}
}
.kb-adv-form-label-style-float .kb-adv-form-text-type-input {
	&:not( .kb-form-field-focus ) {
		label.kb-adv-form-label {
			cursor: text;
			transform: translate(0.5em, 115%) scale(1);
		}
	}

	input, textarea {
		&::placeholder {
			opacity: 1;
			transition: all .2s;
		}
		&:placeholder-shown:not(:focus)::placeholder {
			opacity: 0;
		}
	}
}
.kb-adv-form-input-size-large {
	--kb-form-font-size: 1.35rem;
}
.kb-adv-form-input-size-small {
	--kb-form-font-size: 0.9rem;
}