.kadence-radio-range-control .kadence-radio-container-control.components-button-group .components-button {
    flex: 0 1 1;
}
.kadence-radio-range-control  .kadence-radio-container-control {
    flex-grow: 1;
}
.kadence-radio-range-control .kadence-radio-container-control.components-button-group .components-button.has-icon.only-icon svg {
    margin: 0;
    width: 1em;
    height: 1em;
    font-size: 18px;
}
.kadence-radio-range-control .kadence-radio-container-control.components-button-group .components-button {
	height: 32px;
}