/**
 * #.# Styles
 */
.kb-advanced-form .kt-btn-align-right {
	justify-content: flex-end;
}
.kb-advanced-form .kt-btn-align-center {
	justify-content: center;
}
.kb-advanced-form .kt-btn-align-left {
	justify-content: flex-start;
}
