/**
 * #.# Button Styles
 */
 .kb-adv-form-submit-button {
	z-index: 1;
    position: relative;
    overflow: hidden;
	display: inline-flex;
	text-align: center;
	align-items: center;
	justify-content: center;
    &.kt-btn-width-type-full {
        flex: 1 0 fit-content;
        width: 100%;
    }
}
.kb-blocks-button-aos.kb-btn-width-type-full {
    flex: 1 0 fit-content;
    width: 100%;
}
.kb-adv-form-submit-button:not(.kb-btn-global-inherit) {
    border: 0 solid transparent;
    padding: 0.4em 1em;
    cursor: pointer;
	font-size: 1.125rem;
    border-radius: 3px;
    transition: all .3s ease-in-out;
	box-shadow: none;
    &:hover {
        box-shadow: none;
    }
}
.kb-adv-form-submit-button.kb-btn-global-fill {
    border: 0px solid transparent;
	border-radius: 3px;
    background: var(--global-palette-btn-bg, #3633E1);
    color: var(--global-palette-btn, #FFFFFF);
    &:hover {
        color: var(--global-palette-btn-hover, #FFFFFF);
        background: var(--global-palette-btn-bg-hover, #2F2FFC);
    }
}
.kb-adv-form-submit-button.kb-btn-global-outline {
    border: 2px solid var(--global-palette-btn-bg, #3633E1);
	background:transparent;
	color: var(--global-palette-btn-bg, #3633E1);
    padding: calc( 0.4em - 2px ) calc( 1em - 2px );
    &:hover {
        border-color: var(--global-palette-btn-bg-hover, #2F2FFC);
        background: transparent;
        color: var(--global-palette-btn-bg-hover, #2F2FFC);
    }
}
.kb-adv-form-submit-buttonn::before {
    position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	background:transparent;
	//transition: all .3s ease-in-out;
}
.kb-adv-form-submit-button:hover::before, .kb-adv-form-submit-button:focus::before {
	opacity: 1;
}
.wp-block-kadence-advanced-form-submit .kb-adv-form-submit-button.kt-btn-size-small{
    font-size: 0.9rem;
}
.wp-block-kadence-advanced-form-submit .kb-adv-form-submit-button.kt-btn-size-large {
    font-size: 1.35rem;
}
.wp-block-kadence-advanced-form-submit .kb-adv-form-submit-button.kt-btn-size-xlarge {
    font-size: 1.65rem;
}
.kb-adv-form-submit-button.kb-btn-global-outline.kt-btn-size-xlarge {
    border-width: 4px;
}
.kb-adv-form-submit-button.kb-btn-global-outline.kt-btn-size-large {
    border-width: 3px;
    padding: calc( 0.4em - 3px ) calc( 1em - 3px );
}
.kb-adv-form-submit-button.kb-btn-global-outline.kt-btn-size-small {
    border-width: 1px;
    padding: calc( 0.4em - 1px ) calc( 1em - 1px );
}
.kb-adv-form-submit-button.kt-btn-has-svg-true {
    gap: 0.5em;
    display: inline-flex;
}
.wp-block-kadence-advanced-form-submit .kb-svg-icon-wrap {
	display: inline-flex;
    justify-content: center;
    align-items: center;
	svg {
		width: 1em;
		height: 1em;
	}
}
