.kadence-radio-container-control {
    display: flex;
	flex-wrap: wrap;
	gap: 4px;
    position: relative;
    z-index: 0;
}
.kadence-radio-container-control.components-button-group .components-button {
    flex: 1 1 0;
    display: inline-block;
    align-items: center;
    justify-content: center;
    font-size: 10px;
    font-weight: 600;
    font-style: normal;
    text-transform: uppercase;
    height: 40px;
	line-height: 1.2;
	border: 1px solid var(--kb-border-color, #859CB6 );
    border-radius: 2px;
    background: transparent;
    color: #4A5568;
	padding: 4px;
	box-shadow: none;
    white-space: normal;
	max-width: 100%;
	word-wrap: break-word;
}
.kadence-radio-container-control.components-button-group .components-button.is-primary {
	border-color: var( --wp-admin-theme-color,#00669b);
	background: var( --wp-admin-theme-color,#00669b);
	color: #fff;
	box-shadow: none;
}
.kadence-radio-container-control.components-button-group .components-button.has-icon {
	flex-direction: column;
}
.kadence-radio-container-control.components-button-group .components-button.has-icon svg {margin: 0 0 8px 0;}
.kadence-radio-container-control.components-button-group .components-button.has-icon.radio-no-label svg {
	margin: 0;
	* {
		fill: currentColor !important;
	}
}
.kadence-radio-control-flexwrap {
    flex-wrap: wrap;
    gap: 4px;
}
.kadence-radio-container-control.components-button-group.kadence-radio-control-flexwrap .components-button {
    flex: 0 1 calc( 33.33% - ( 8px / 3 ) );
    margin: 0;
	svg {
		width: 100%;
	}
}
.kadence-radio-container-control.components-button-group .components-button.kb-disabled-btn {
    opacity: 0.6;
    box-shadow: none !important;
    color: #4A5568 !important;
}
