/**
 * #.# Editor components.
 */
 .edit-post-sidebar .term-select-form-row {
    margin-bottom: 10px;
}

/**
 * #.# Editor Styles
 */
.loop-entry {
	box-shadow: 0px 15px 25px -10px rgba(0,0,0,0.05);
	border-radius: .25rem;
}
.loop-entry.content-bg {
    background: var(--global-palette9, #fff);
}
.wp-block-kadence-posts .entry-meta a {
	color: inherit;
	text-decoration: none;
}
 .entry-meta {
	font-size: 80%;
	margin: 1em 0;
	display: flex;
	flex-wrap: wrap;
	> * {
		display: inline-flex;
		align-items: center;
		flex-wrap: wrap;
		time {
			white-space: nowrap;
		}
	}
	.meta-label {
		margin-right: .2rem;
	}
	.author-avatar {
		width: 25px;
		height: 25px;
		margin-right: .5rem;
		position: relative;
		display: inline-block;
		a.author-image {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		.image-size-ratio {
			padding-bottom: 100%;
			display: block;
		}
		img {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			right: 0;
			border-radius: 50%;
		}
	}
}
.entry-meta>*:after {
    margin-left: .5rem;
    margin-right: .5rem;
    content: "";
    display: inline-block;
    background-color: currentColor;
    height: .25rem;
	width: .25rem;
	opacity: .8;
    border-radius: 9999px;
    vertical-align: .1875em;
}
.entry-meta.entry-meta-divider-slash>*:after {
    content: '/';
    height: auto;
    background: transparent;
}
.entry-meta.entry-meta-divider-dash>*:after {
    content: '-';
    height: auto;
    background: transparent;
}
.entry-meta.entry-meta-divider-vline>*:after {
    content: '|';
    height: auto;
    background: transparent;
}
.entry-meta>*:last-child:after {
    display: none;
}
.entry-meta-divider-customicon.entry-meta>*>.kadence-svg-iconset {
    margin-right: 0.3em;
    margin-left: .8em;
}
.entry-meta-divider-customicon.entry-meta>*:after {
    display: none;
}
.loop-entry .entry-header .entry-title {
    margin: 0;
}
.loop-entry .entry-summary p, .loop-entry .entry-header .entry-meta {
    margin: 1em 0;
}
.loop-entry .entry-content-wrap {
    padding: 2rem;
}
/* Hides the update date and time. */
.updated:not(.published) {
	display: none;
}
.updated-on .updated:not(.published) {
    display: inline-block;
}

.entry-summary {
	margin: var(--global-xs-spacing, 1em) 0;
}
a.post-more-link {
    font-weight: bold;
    letter-spacing: .05em;
    text-transform: uppercase;
	font-size: 80%;
	.kadence-svg-iconset {
		margin-left: 0.5em;
	}
}
.wp-block-kadence-posts a.post-more-link {
    text-decoration: none;
    color: inherit;
	&:hover {
		color: var(--global-palette-highlight, #3182CE);
	}
}
.more-link-wrap {
    margin-top: var(--global-xs-spacing, 1em);
    margin-bottom: 0;
}
.entry-taxonomies {
	margin-bottom: 0.5em;
	letter-spacing: .05em;
	font-size: 70%;
	text-transform: uppercase;
	a {
		text-decoration: none;
		font-weight: bold;
	}
	.category-style-pill a {
		background: var(--global-palette-highlight, #3182CE);
		color: white;
		padding: 0.25rem;
		border-radius: 0.25rem;
		margin-right: .25rem;
		margin-bottom: .25rem;
		display: inline-block;
		line-height: 1.2;
		&:last-child {
			margin-right: 0;
		}
		&:hover {
			color: white;
		}
	}
	.category-style-underline a {
		text-decoration: underline;
	}
}
.loop-entry.type-post .entry-taxonomies .category-style-pill a {
	color:white;
}
.grid-cols {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    column-gap: 2.5rem;
    row-gap: 2.5rem;
}
.grid-cols:before {
    display: none;
}
.grid-lg-col-1 {
	grid-template-columns: minmax(0, 1fr);
}
.grid-lg-col-2 {
	grid-template-columns: repeat(2, minmax(0, 1fr) );
}
.grid-lg-col-3 {
	grid-template-columns: repeat(3, minmax(0, 1fr) );
}
.grid-lg-col-4 {
	grid-template-columns: repeat(4, minmax(0, 1fr) );
}
.grid-lg-col-5 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.grid-lg-col-6 {
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.loop-entry .post-thumbnail {
	display: block;
	height: 0;
    padding-bottom: 66.67%;
    overflow: hidden;
	position: relative;
	&.kadence-thumbnail-ratio-1-2 {
		padding-bottom: 50%;
	}
	&.kadence-thumbnail-ratio-9-16 {
		padding-bottom: 56.25%;
	}
	&.kadence-thumbnail-ratio-1-1 {
		padding-bottom: 100%;
	}
	&.kadence-thumbnail-ratio-3-4 {
		padding-bottom: 75%;
	}
	&.kadence-thumbnail-ratio-5-4 {
		padding-bottom: 125%;
	}
	&.kadence-thumbnail-ratio-4-3 {
		padding-bottom: 133%;
	}
	&.kadence-thumbnail-ratio-3-2 {
		padding-bottom: 150%;
	}
	&.kadence-thumbnail-ratio-inherit {
		padding-bottom: 0;
		height:auto;
		.post-thumbnail-inner {
			position: static;
		}
	}
	.post-thumbnail-inner {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
	}
	img {
		flex: 1;
		height: 100%;
		object-fit: cover;
		width: 100%;
	}
}
.grid-lg-col-1.item-image-style-beside article.loop-entry.has-post-thumbnail {
	display: grid;
	grid-template-columns: 1fr 2fr;
}
.kb-posts-style-unboxed .loop-entry {
	background: transparent;
	box-shadow: none;
	> .entry-content-wrap {
		padding:0;
	}
	.post-thumbnail {
		margin-bottom: 1em;
	}
	&.grid-lg-col-1.item-image-style-beside article.loop-entry {
		gap: 2rem;
		.post-thumbnail {
			margin-bottom: 0;
		}
	}
}

#start-resizable-editor-section {
    display: none;
}
@media (max-width: 992px) {
	.grid-sm-col-1 {
	    grid-template-columns: minmax(0, 1fr);
	}
	.grid-sm-col-2 {
	    grid-template-columns: repeat(2, minmax(0, 1fr) );
	}
	.grid-sm-col-3 {
	    grid-template-columns: repeat(3, minmax(0, 1fr) );
	}
	.grid-sm-col-4 {
	    grid-template-columns: repeat(4, minmax(0, 1fr) );
	}
}
@media (max-width: 544px) {
	.grid-lg-col-1.item-image-style-beside article.loop-entry {
		&.has-post-thumbnail {
			display: block;
		}
	}
	.grid-xs-col-1 {
		grid-template-columns: minmax(0, 1fr);
	}
	.grid-xs-col-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr) );
	}
	.grid-xs-col-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr) );
	}
	.grid-xs-col-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr) );
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.grid-md-col-1 {
	    grid-template-columns: minmax(0, 1fr);
	}
	.grid-md-col-2 {
	    grid-template-columns: repeat(2, minmax(0, 1fr) );
	}
	.grid-md-col-3 {
	    grid-template-columns: repeat(3, minmax(0, 1fr) );
	}
	.grid-md-col-4 {
	    grid-template-columns: repeat(4, minmax(0, 1fr) );
	}
}

#end-resizable-editor-section {
    display: none;
}
