/**
 * Front End Styles
 */
ul.wp-block-kadence-posts.kb-posts {
	list-style: none;
	margin: 0;
	padding: 0;
}
.wp-block-kadence-posts {
	.kb-post-list-item {
		display: grid;
	}
	.loop-entry {
		box-shadow: 0px 15px 25px -10px rgba(0, 0, 0, 0.05);
		border-radius: 0.25rem;
	}
	.content-bg {
		background: var(--global-palette9, #fff);
	}
	&.kb-posts-style-unboxed .loop-entry.content-bg {
		background: transparent;
		box-shadow: none;
		> .entry-content-wrap {
			padding: 0;
		}
		.post-thumbnail {
			margin-bottom: 1em;
		}
	}
	.entry-meta {
		font-size: 80%;
		margin: 1em 0;
		display: flex;
		flex-wrap: wrap;
		> * {
			display: inline-flex;
			align-items: center;
			flex-wrap: wrap;
			time {
				white-space: nowrap;
			}
		}
		a {
			color: inherit;
			text-decoration: none;
		}
		.meta-label {
			margin-right: 0.2rem;
		}
		.author-avatar {
			width: 25px;
			height: 25px;
			margin-right: 0.5rem;
			position: relative;
			display: inline-block;
			a.author-image {
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
			}
			.image-size-ratio {
				padding-bottom: 100%;
				display: block;
			}
			img {
				position: absolute;
				left: 0;
				top: 0;
				bottom: 0;
				right: 0;
				border-radius: 50%;
			}
		}
	}
	.entry-meta > *:after {
		margin-left: 0.5rem;
		margin-right: 0.5rem;
		content: "";
		display: inline-block;
		background-color: currentColor;
		height: 0.25rem;
		width: 0.25rem;
		opacity: 0.8;
		border-radius: 9999px;
		vertical-align: 0.1875em;
	}
	.entry-meta.entry-meta-divider-slash > *:after {
		content: "/";
		height: auto;
		background: transparent;
	}
	.entry-meta.entry-meta-divider-dash > *:after {
		content: "-";
		height: auto;
		background: transparent;
	}
	.entry-meta.entry-meta-divider-vline > *:after {
		content: "|";
		height: auto;
		background: transparent;
	}
	.entry-meta > *:last-child:after {
		display: none;
	}
	.entry-meta-divider-customicon.entry-meta > * > .kadence-svg-iconset {
		margin-right: 0.3em;
		margin-left: 0.8em;
	}
	.entry-meta-divider-customicon.entry-meta > *:after {
		display: none;
	}
	.loop-entry .entry-header .entry-title {
		margin: 0;
	}
	.loop-entry .entry-summary p,
	.loop-entry .entry-header .entry-meta {
		margin: 1em 0;
	}
	.loop-entry .entry-content-wrap {
		padding: 2rem;
	}

	/* Hides the update date and time. */
	.updated:not(.published) {
		display: none;
	}
	.updated-on .updated:not(.published) {
		display: inline-block;
	}

	.entry-summary {
		margin: var(--global-xs-spacing) 0 0;
	}
	a.post-more-link {
		font-weight: bold;
		letter-spacing: 0.05em;
		text-transform: uppercase;
		text-decoration: none;
		color: inherit;
		font-size: 80%;
		.kadence-svg-iconset {
			margin-left: 0.5em;
			display: inline-flex;
			align-self: center;
			svg {
				height: 1em;
				width: 1em;
				top: 0.125em;
				position: relative;
			}
		}
		&:hover {
			color: var(--global-palette-highlight);
		}
	}
	.more-link-wrap {
		margin-top: var(--global-xs-spacing);
		margin-bottom: 0;
	}
	.entry-taxonomies {
		margin-bottom: 0.5em;
		letter-spacing: 0.05em;
		font-size: 70%;
		text-transform: uppercase;
		a {
			text-decoration: none;
			font-weight: bold;
		}
		.category-style-pill a {
			background: var(--global-palette-highlight);
			color: white;
			padding: 0.25rem;
			border-radius: 0.25rem;
			margin-right: 0.25rem;
			margin-bottom: 0.25rem;
			display: inline-block;
			line-height: 1.2;
			&:last-child {
				margin-right: 0;
			}
			&:hover {
				color: white;
			}
		}
		.category-style-underline a {
			text-decoration: underline;
		}
	}
	.loop-entry.type-post .entry-taxonomies .category-style-pill a {
		color: white;
	}
}
@media screen and (max-width: 767) {
	.wp-block-kadence-posts .loop-entry .entry-taxonomies {
		margin-bottom: 1em;
	}
}
.wp-block-kadence-posts {
	&.grid-cols {
		display: grid;
		grid-template-columns: minmax(0, 1fr);
		column-gap: 2.5rem;
		row-gap: 2.5rem;
	}
	&.grid-cols:before {
		display: none;
	}
	&.grid-xs-col-1 {
		grid-template-columns: minmax(0, 1fr);
	}
	&.grid-xs-col-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	&.grid-xs-col-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	&.grid-xs-col-4 {
		grid-template-columns: 1fr 1fr 1fr 1fr;
	}
	.loop-entry .post-thumbnail {
		display: block;
		height: 0;
		padding-bottom: 66.67%;
		overflow: hidden;
		position: relative;
		margin: 0;
		&.kadence-thumbnail-ratio-1-2 {
			padding-bottom: 50%;
		}
		&.kadence-thumbnail-ratio-9-16 {
			padding-bottom: 56.25%;
		}
		&.kadence-thumbnail-ratio-1-1 {
			padding-bottom: 100%;
		}
		&.kadence-thumbnail-ratio-3-4 {
			padding-bottom: 75%;
		}
		&.kadence-thumbnail-ratio-5-4 {
			padding-bottom: 125%;
		}
		&.kadence-thumbnail-ratio-4-3 {
			padding-bottom: 133%;
		}
		&.kadence-thumbnail-ratio-3-2 {
			padding-bottom: 150%;
		}
		&.kadence-thumbnail-ratio-inherit {
			padding-bottom: 0;
			height: auto;
			.post-thumbnail-inner {
				position: static;
			}
		}
		.post-thumbnail-inner {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
		}
		img {
			flex: 1;
			height: 100%;
			object-fit: cover;
			width: 100%;
			margin: 0;
		}
	}
}
@media screen and (min-width: 768px) {
	.wp-block-kadence-posts.grid-lg-col-1.item-image-style-beside
		article.loop-entry.has-post-thumbnail:not(.kb-post-no-image) {
		display: grid;
		grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
	}
	.wp-block-kadence-posts.kb-posts-style-unboxed.grid-lg-col-1.item-image-style-beside article.loop-entry {
		gap: 2rem;
		.post-thumbnail {
			margin-bottom: 0;
		}
	}
	.wp-block-kadence-posts.grid-lg-col-1.item-image-style-beside
		article.loop-entry.has-post-thumbnail.kb-post-no-image {
		grid-template-columns: minmax(0, 1fr);
	}
}
@media screen and (max-width: 767px) {
	.wp-block-kadence-posts.grid-lg-col-1.item-image-style-beside article.loop-entry {
		&.has-post-thumbnail {
			display: block;
		}
	}
}
@media screen and (min-width: 576px) {
	.wp-block-kadence-posts.grid-sm-col-1 {
		grid-template-columns: minmax(0, 1fr);
	}
	.wp-block-kadence-posts.grid-sm-col-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.wp-block-kadence-posts.grid-sm-col-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.wp-block-kadence-posts.grid-sm-col-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
@media screen and (min-width: 768px) {
	.wp-block-kadence-posts.grid-md-col-1 {
		grid-template-columns: minmax(0, 1fr);
	}
	.wp-block-kadence-posts.grid-md-col-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.wp-block-kadence-posts.grid-md-col-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.wp-block-kadence-posts.grid-md-col-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
}
@media screen and (min-width: 1025px) {
	.wp-block-kadence-posts.grid-lg-col-1 {
		grid-template-columns: minmax(0, 1fr);
	}
	.wp-block-kadence-posts.grid-lg-col-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.wp-block-kadence-posts.grid-lg-col-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.wp-block-kadence-posts.grid-lg-col-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.wp-block-kadence-posts.grid-lg-col-5 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	.wp-block-kadence-posts.grid-lg-col-6 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}
@media screen and (min-width: 1200px) {
	.wp-block-kadence-posts.grid-xl-col-1 {
		grid-template-columns: minmax(0, 1fr);
	}
	.wp-block-kadence-posts.grid-xl-col-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.wp-block-kadence-posts.grid-xl-col-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
	.wp-block-kadence-posts.grid-xl-col-4 {
		grid-template-columns: repeat(4, minmax(0, 1fr));
	}
	.wp-block-kadence-posts.grid-xl-col-5 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	}
	.wp-block-kadence-posts.grid-xl-col-6 {
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	}
}
