.kb-step-control input.components-step-control__number {
    height:36px;
	flex-grow: 1;
    text-align: center;
}
.kb-flex-center {
	display: flex;
	align-items: center;
}
.kb-step-control {
    gap: 3px;
}
.kb-step-control .components-button.kb-step-btn {
	color: #4A5568;
}
.kb-step-control .components-button.kb-step-btn:not(:hover) {
	box-shadow: none;
}