// Colors
.kadence-color-group .components-base-control.kadence-pop-color-control {
    margin-bottom:0;
    border:1px solid #eee;
    border-bottom:0;
    padding:4px 8px;
}
.kadence-color-group .components-base-control.kadence-pop-color-control:last-child {
    border-bottom:1px solid #eee;
}
.kadence-color-group .kadence-pop-color-control .kadence-pop-color-icon-indicate .kadence-pop-color-indicate {
    width: 24px;
    height: 24px;
}
.kadence-color-group .kadence-pop-color-control .kadence-pop-color-clear span.dashicon {
    width: 14px;
    font-size: 14px;
    height: 14px;
}
.components-base-control.kadence-two-column-group {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 20px;
}
.components-base-control.kadence-two-column-group  > .components-base-control {
    margin-bottom:0
}