$height_bottom_bar: 24px;
$height_bottom_bars_mobile: 20px;
$height_top_bar: 92px;
$height_top_bars_mobile: 155px;
$height_top_bottom_bars: $height_top_bar + $height_bottom_bar;
$sidebar_width: 280px;
$fixed_height: 280px;

.kb-header-visual-builder-modal {
	background: #eee;
	border-top: 1px solid #a0aec1;

	margin: 0;
	padding: 10px;
	position: fixed;
	width: 100%;
	height: $fixed_height;
	bottom: $height_bottom_bars_mobile;
	left: 0;
	z-index: 9999;

	justify-content: flex-start;
	display: block;

	@media (min-width: 782px) {
		height: $fixed_height;
		bottom: $height_bottom_bar;
	}

	.visual-desktop-container__is-dragging .visual-column-wrapper {
		z-index: unset;
	}

	.tabs {
		border-bottom: 3px solid #a0aec1;
	}

	.kb-header-visual-builder-modal-close {
		border: 0;
		background: transparent;
		cursor: pointer;
		padding: 0;
		z-index: 99999;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: #444444;
		-webkit-appearance: none;
		position: absolute;
		top: 4px;
		right: 4px;

		&:focus {
			outline: none;
		}
	}

	// Row styles
	.visual-row-wrapper {
		display: flex !important;
		padding-top: 10px;
		align-items: center;

		.visual-desktop-row {
			display: flex !important;
			background-color: #FFF;
			border: 1px dashed #a0aec1;
			width: 100%;
			overflow-x: auto;
		}

		.visual-section-wrapper {
			flex: 1 1 0%;
			display: flex !important;
			position: relative;

			.block-editor-inserter {
				position: unset;
			}
		}

		.visual-column-wrapper {
			display: flex !important;
			flex: 1;
			min-height: 46px;
			align-items: center;
			padding: 6px 10px;

			&.visual-column-wrapper-empty-center {
				display: none !important;
			}
		}

		.visual-section-wrapper-center {
			display: flex !important;
			position: relative;
			min-width: 120px;
		}

		.add-item {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background: transparent;
			transition: all .2s ease-in-out;
			color: transparent !important;
			height: 100%;

			&:hover {
				color: #444 !important;
				background: rgba(0, 124, 186, 0.05) !important;
				box-shadow: none !important;
				border: 0 !important;
			}
		}
		.add-item-left {
			right: 0;

			&.add-item-has-mid-columns {
				right: 50%;
				justify-content: end;
				padding-right: 30px;
			}
		}

		.add-item-center-left {
			left: 50%;
		}
		.add-item-center-right {
			right: 50%;
		}
		.add-item-right {
			left: 0;

			&.add-item-has-mid-columns {
				left: 50%;
				justify-content: start;
				padding-left: 30px;
			}
		}

		.visual-section-wrapper-center {
			flex: initial;
			border-left: 1px dashed #a0aec1;
			border-right: 1px dashed #a0aec1;
		}
		.visual-column-wrapper-left {
		}
		.visual-column-wrapper-center-left {
			flex-grow: 1;
			justify-content: flex-end !important;
			//border-left: 1px dashed #a0aec1;
		}
		.visual-column-wrapper-center-right {
			flex-grow: 1;
			justify-content: flex-start !important;
		}
		.visual-column-wrapper-center {
			justify-content: center;
			flex: auto;
		}
		.visual-column-wrapper-right {
			justify-content: flex-end !important;
		}
	}
	// end row styles

	.settings-icon {
		font-size: 24px; /* Example size, adjust as needed */
		margin-right: 10px; /* Space between the icon and the row content */
	}

	.visual-inner-block {
		background: #DEDEDE;
		padding: 3px 6px;
		border-radius: 3px;
		font-size: 13px;
		z-index: 1;
		overflow: hidden;
		text-wrap: nowrap;
		text-overflow: ellipsis;
		max-width: 125px;

		margin: 0 5px;

		&__controls {
			display: flex;
			justify-content: space-between;
		}

		&__preview {
			box-shadow: 0 0 5px 3px rgba(0,0,0,0.25);
		}

		button {
			padding: 0 !important;
			min-width: unset;
			height: 20px;
		}

		.drag-handle svg {
			pointer-events: none;
			transform: rotate(90deg);
		}
	}
}
.is-sidebar-opened .kb-header-visual-builder-modal {
	@media (min-width: 782px) {
		margin-left: calc( var( --global-kb-editor-sidebar-secondary,  $sidebar_width ) + 160px);
		width: calc( var( --global-kb-editor-full-width, calc(80% - $sidebar_width) ) - 190px);
	}
}

//Something in the block editor transforms top level block wrappers after adding blocks, this prevents that and keeps appropriate modal display
//.wp-block-kadence-header div {
//	transform: none !important;
//}

