$height_bottom_bar: 24px;
$height_bottom_bars_mobile: 20px;
$height_top_bar: 92px;
$height_top_bars_mobile: 155px;
$height_top_bottom_bars: $height_top_bar + $height_bottom_bar;
$sidebar_width: 280px;
$fixed_height: 270px;

.kb-header-visual-builder-modal {
	background: #eee;
	border-top: 1px solid #a0aec1;

	margin: 0;
	padding: 10px;
	position: fixed;
	width: 100%;
	//height: calc(40% - $height_bottom_bars_mobile);
	height: $fixed_height;
	bottom: $height_bottom_bars_mobile;
	left: 0;
	z-index: 9999;

	justify-content: flex-start;
	display: block;

	@media (min-width: 782px) {
		//height: calc(40% - $height_top_bottom_bars);
		height: $fixed_height;
		bottom: $height_bottom_bar;
	}

	.tabs {
		border-bottom: 3px solid #a0aec1;
	}

	.kb-header-visual-builder-modal-close {
		border: 0;
		background: transparent;
		cursor: pointer;
		padding: 0;
		z-index: 99999;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		color: #444444;
		-webkit-appearance: none;
		position: absolute;
		top: 4px;
		right: 4px;

		&:focus {
			outline: none;
		}
	}

	// Row styles
	.visual-row-wrapper {
		display: flex !important;
		padding-top: 10px;

		.visual-desktop-row {
			display: flex !important;
			padding: 6px 10px;
			background-color: #FFF;
			border: 1px solid #a0aec1;
			border-radius: 2px;
			width: 100%;
		}

		.visual-section-wrapper {
			flex: 1 1 0%;
			display: flex !important;
			position: relative;
		}

		.visual-column-wrapper {
			display: flex !important;
			flex: 1;
			min-height: 44px;
			align-items: center;

			&.visual-column-wrapper-empty-center {
				display: none !important;
			}
		}

		.visual-section-wrapper-center {
			display: flex !important;
			position: relative;
			min-width: 120px;
		}

		.add-item {
			position: absolute;
			top: 5px;
			bottom: 0;
			left: 0;
			right: 0;
			background: transparent;
			z-index: 1;
			transition: all .2s ease-in-out;
			color: transparent !important;

			&:hover {
				color: #444 !important;
				background: rgba(0, 124, 186, 0.05) !important;
				box-shadow: none !important;
				border: 0 !important;
			}
		}
		.add-item-left {
			right: 0;

			&.add-item-has-mid-columns {
				right: 50%;
				text-align: right;
				padding-right: 30px;
			}
		}

		.add-item-center-left {
			left: 50%;
		}
		.add-item-center-right {
			right: 50%;
		}
		.add-item-right {
			left: 0;

			&.add-item-has-mid-columns {
				left: 50%;
				text-align: left;
				padding-left: 30px;
			}
		}

		.visual-column-wrapper-center-left {
			flex-grow: 1;
			justify-content: flex-end !important;
		}

		.visual-column-wrapper-center-right {
			flex-grow: 1;
			justify-content: flex-start !important;
		}

		.visual-section-wrapper-center {
			flex: initial;
		}

		// Column specific styles
		.visual-column-wrapper-left {
			//background-color: red;
		}
		.visual-column-wrapper-center-left {
			//background-color: blue;
		}
		.visual-column-wrapper-center {
			justify-content: center;
			flex: auto;
			//background-color: yellow;
		}
		.visual-column-wrapper-center-right {
			//background-color: green;
		}
		.visual-column-wrapper-right {
			//background-color: pink;
		}
	}
	// end row styles

	.settings-icon {
		font-size: 24px; /* Example size, adjust as needed */
		margin-right: 10px; /* Space between the icon and the row content */
	}

	.visual-inner-block {
		background: #80808045;
		padding: 3px 6px;
		border-radius: 3px;
		font-size: 13px;
		z-index: 10;

		margin: 0 2px;
		button {
			padding: 0 !important;
		}
	}
}
.is-sidebar-opened .kb-header-visual-builder-modal {
	@media (min-width: 782px) {
		margin-left: calc( var( --global-kb-editor-sidebar-secondary,  $sidebar_width ) + 160px);
		width: calc( var( --global-kb-editor-full-width, calc(80% - $sidebar_width) ) - 190px);
	}
}

//Something in the block editor transforms top level block wrappers after adding blocks, this prevents that and keeps appropriate modal display
//.wp-block-kadence-header div {
//	transform: none !important;
//}

