.kb-video-edit svg {
    width: 1em;
    height: 1em;
}
.components-kadence-video-btns {
    display: flex;
    align-items: center;
}
.components-kadence-video-btns .kb-cta-upload-btn {
    border: 1px solid var(--kb-border-color, #859CB6 );
	border-radius: 2px;
}
.components-kadence-video-background__label {
    display: block;
    margin-bottom: 6px;
}
.kb-remove-video.kb-cta-upload-btn {
    margin-left: 5px;
}