/**
 * #.# Editor Styles
 */
 .kt-select-starter-style-tabs {
    padding: 20px;
    border: 2px dashed #ddd;
    text-align: center;
    position: relative;
    z-index: 10;
}

.kt-select-starter-style-tabs-title {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 16px;
}

.kt-select-starter-style-tabs .kt-inital-tabs-style-btn {
    height: auto;
    width: 320px;
    background: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
    padding: 2px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.kt-select-starter-style-tabs .kt-inital-tabs-style-btn svg {
    width: 100%;
}
.kt-select-starter-style-tabs .kt-init-tabs-btn-group .kt-inital-tabs-style-btn:first-child {
    width: 100%;
    text-align: center;
    justify-content: center;
    border: 0;
    padding: 2px;
    margin-right: 0;
    margin-bottom: 5px;
}
.kt-select-starter-style-tabs .kt-init-tabs-btn-group .kt-inital-tabs-style-btn:first-child:hover {
    text-decoration: underline;
}
.components-button-group button.components-button.kt-init-open-tab {
    width: auto;
    padding: 4px 10px;
    border-radius: 3px !important;
    height: auto;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 5px;
}
.kt-select-starter-style-tabs .kt-init-tabs-btn-group .kt-inital-tabs-style-btn:first-child:focus {
    background: transparent;
    box-shadow: none;
}
.kt-select-starter-style-tabs .kt-inital-tabs-style-btn:hover {
        border: 2px solid #aaa;
    background: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}
 .kt-border-color-array-control .components-color-palette {
    padding-left: 50px;
}
body.rtl .kt-size-tabs .components-tab-panel__tabs, body.rtl .components-button-group.kt-size-type-options {
    text-align: left;
}
.kt-border-color-array-control .kt-border-color-icon {
    float: left;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9f9f9;
    margin-right: 10px;
}
 
 .kt-accordion-selecter {
	border: 2px dashed #aaa;
    font-size: 12px;
	text-align: center;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: bold;
    color: #999;
	margin-bottom: 0.5em;
}
.kt-accordion-wrap .kt-accordion-header-wrap {
	margin:0;
	padding:0;
}
.kt-accordion-add-selecter {
    margin-top: 0.5em;
}
.wp-block-kadence-accordion, .wp-block-kadence-pane {
	margin-top: 0px;
    margin-bottom: 0px;
}
.wp-block-kadence-accordion .kt-accordion-inner-wrap > .wp-block-kadence-pane:first-child {
	margin-top: 0;
}
.kt-blocks-accordion-header {
    align-content: space-between;
    align-items: center;
    background-color: var(--global-palette8, #f2f2f2 );
	border: 0 solid transparent;
    border-radius: 0px;
    color: var(--global-palette5, #444444 );
    display: flex;
    padding: 8px 12px;
    text-align: left;
    transition: all ease-in-out .2s;
	width: 100%;
	box-sizing: border-box;
	&:hover {
		background-color: var(--global-palette7, #eeeeee );
		color: var(--global-palette5, #444444 );
		box-shadow: none;
		text-shadow: none;
		.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
			background-color: currentColor;
		}
	}
}
.kt-accordion-panel-active .kt-blocks-accordion-header {
	background-color: var(--global-palette5, #444444 );
	color: #ffffff;
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		background-color: currentColor;
	}
}
.kt-accordion-panel-inner {
    padding: 20px;
    border: 1px solid var(--global-palette7, #eeeeee );
    border-top-width: 0;
}
.kt-accordion-add-selecter {
    display: flex;
}
button.components-button.kt-accordion-add.is-primary {
    border: 0;
    text-shadow: none;
    box-shadow: none;
	padding: 6px 10px;
	border-radius: 3px;
	.dashicon {
		margin-right: 6px;
		font-size: 16px;
		margin-left: 0;
		width: 16px;
		height: 16px;
	}
}
.kt-accordion-add-selecter button.components-button.kt-accordion-remove {
    border: 0;
    text-shadow: none;
	box-shadow: none;
	background: #e1e1e1;
    border-radius: 3px;
    margin-left: 5px;
    line-height: 26px;
    padding: 0 10px 1px;
}
.kt-accordion-add-selecter button.components-button.kt-accordion-remove:not(:disabled):not([aria-disabled=true]):not(.is-default):hover {
	background: #eee;
	box-shadow: none;
}
button.components-button.kt-accordion-add.is-primary svg {
    margin-top: 4px;
}
.components-button-group button.components-button.kt-init-open-pane {
    width: 100%;
    padding: 4px 10px;
    border-radius: 3px !important;
    height: auto;
    text-shadow: none;
    box-shadow: none;
    margin-bottom: 5px;
}
.components-button-group button.components-button.kt-init-open-pane:focus:enabled {
	box-shadow:none;
}
.kt-blocks-accordion-icon-trigger {
    display: block;
    height: 24px;
    margin-left: auto;
    position: relative;
    transition: all ease-in-out 0.2s;
	width: 24px;
	min-width: 24px;
    box-sizing: content-box;
}
.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
    background-color: var(--global-palette5, #444444 );
}
.rtl .kt-blocks-accordion-icon-trigger {
    margin-left: 0;
    margin-right: auto;
}
.kt-blocks-accordion-title-wrap {
    display: flex;
}
.kt-pane-header-alignment-center .kt-blocks-accordion-header {
    text-align: center;
}
.kt-pane-header-alignment-center .kt-blocks-accordion-header .kt-blocks-accordion-title-wrap {
	flex-grow: 2;
	justify-content: center;
}
.kt-pane-header-alignment-right .kt-blocks-accordion-header {
    text-align: right;
}
.kt-pane-header-alignment-right .kt-blocks-accordion-header .kt-blocks-accordion-title-wrap {
	flex-grow: 2;
	justify-content: flex-end;
}
.kt-pane-header-alignment-right .kt-blocks-accordion-header .kt-blocks-accordion-icon-trigger {
	margin-left:10px;
}
.kt-acccordion-button-label-hide .editor-rich-text {
    display: none;
}
// Basic
.kt-accodion-icon-style-none .kt-blocks-accordion-icon-trigger {
	display:none;
}
.kt-accodion-icon-side-left .kt-blocks-accordion-icon-trigger {
    order: -1;
    margin-left: 0;
    margin-right:10px;
}
.kt-accodion-icon-style-basic, .kt-accodion-icon-style-basiccircle {
	.kt-blocks-accordion-header.kt-accordion-panel-active {
		.kt-blocks-accordion-icon-trigger:before {
			transform: rotate(0deg);
		}
		.kt-blocks-accordion-icon-trigger:after {
			transform: rotate(0deg);
		}
	}
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		content: "";
		height: 4px;
		position: absolute;
		transition: all ease-in-out 0.1333333333s;
		width: 20px;
		left: 2px;
		top: 10px;
	}
	.kt-blocks-accordion-icon-trigger:before {
		transform: rotate(90deg);
		transform-origin: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(0deg);
		transform-origin: 50%;
	}
}
.kt-accodion-icon-style-basic .kt-accordion-panel-active .kt-blocks-accordion-header {
	.kt-blocks-accordion-icon-trigger:before {
		transform: rotate(0deg);
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(0deg);
	}
}
// Basic Circle
.kt-accodion-icon-style-basiccircle {
	.kt-blocks-accordion-icon-trigger {
		border-radius: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		width: 16px;
		left: 4px;
		top: 10px;
	}
}
.kt-accodion-icon-style-basiccircle .kt-accordion-panel-active .kt-blocks-accordion-header {
	.kt-blocks-accordion-icon-trigger:before {
		transform: rotate(0deg);
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(0deg);
	}
}
// x close
.kt-accodion-icon-style-xclose, .kt-accodion-icon-style-xclosecircle {
	.kt-blocks-accordion-header.kt-accordion-panel-active {
		.kt-blocks-accordion-icon-trigger:before {
			transform: rotate(45deg);
		}
		.kt-blocks-accordion-icon-trigger:after {
			transform: rotate(-45deg);
		}
	}
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		content: "";
		height: 4px;
		position: absolute;
		transition: all ease-in-out 0.1333333333s;
		width: 20px;
		left: 2px;
		top: 10px;
	}
	.kt-blocks-accordion-icon-trigger:before {
		transform: rotate(90deg);
		transform-origin: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(0deg);
		transform-origin: 50%;
	}
}
.kt-accodion-icon-style-xclose .kt-accordion-panel-active .kt-blocks-accordion-header {
	.kt-blocks-accordion-icon-trigger:before {
		transform: rotate(45deg);
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(-45deg);
	}
}
// x Circle
.kt-accodion-icon-style-xclosecircle {
	.kt-blocks-accordion-icon-trigger {
		border-radius: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		width: 16px;
		left: 4px;
		top: 10px;
	}
}
.kt-accodion-icon-style-xclosecircle .kt-accordion-panel-active .kt-blocks-accordion-header {
	.kt-blocks-accordion-icon-trigger:before {
		transform: rotate(45deg);
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(-45deg);
	}
}
// Arrows
.kt-accodion-icon-style-arrow, .kt-accodion-icon-style-arrowcircle {
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		content: "";
		height: 2px;
		position: absolute;
		top: 11px;
		transition: all ease-in-out 0.1333333333s;
		width: 12px;
	}
	.kt-blocks-accordion-icon-trigger:before {
		left: 2px;
		transform: rotate(45deg);
		transform-origin: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(-45deg);
		right: 2px;
		transform-origin: 50%;
	}
}
.kt-accodion-icon-style-arrow .kt-accordion-panel-active .kt-blocks-accordion-header {
	.kt-blocks-accordion-icon-trigger:before {
		transform: rotate(-45deg);
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(45deg);
	}
}
// arrow Circle
.kt-accodion-icon-style-arrowcircle {
	.kt-blocks-accordion-icon-trigger {
		border-radius: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after, .kt-blocks-accordion-icon-trigger:before {
		width: 10px;
	}
	.kt-blocks-accordion-icon-trigger:before {
		left: 4px;
	}
	.kt-blocks-accordion-icon-trigger:after {
		right: 4px;
	}
}
.kt-accodion-icon-style-arrowcircle .kt-accordion-panel-active .kt-blocks-accordion-header {
	.kt-blocks-accordion-icon-trigger:before {
		transform: rotate(-45deg);
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(45deg);
	}
}
.kt-accordion-panel > .kt-accordion-panel-inner > .block-editor-inner-blocks > .block-editor-block-list__layout > .block-list-appender > .block-editor-default-block-appender {
    display: block;
}