/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
// Item
.kt-accordion-wrap .kt-accordion-header-wrap {
	margin: 0;
	padding: 0;
}
.kt-blocks-accordion-header {
	align-content: space-between;
	align-items: center;
	background-color: var(--global-palette8, #f2f2f2);
	border: 0 solid transparent;
	border-radius: 0px;
	color: var(--global-palette5, #555555);
	display: flex;
	font-size: 18px;
	padding: 10px 14px;
	position: relative;
	line-height: 24px;
	text-align: left;
	text-transform: none;
	transition: all ease-in-out 0.2s;
	width: 100%;
	box-shadow: none;
	text-shadow: none;
	.kt-blocks-accordion-title {
		word-wrap: break-word;
		white-space: normal;
	}
	.kb-svg-icon-wrap svg {
		width: 1em;
		height: 1em;
	}
}
.kt-blocks-accordion-header:focus-visible {
	box-shadow: none;
	text-shadow: none;
}
.kt-blocks-accordion-header:focus {
	box-shadow: none;
	text-shadow: none;
}
.kt-blocks-accordion-header:hover {
	background-color: var(--global-palette7, #eeeeee);
	color: var(--global-palette5, #444444);
	box-shadow: none;
	text-shadow: none;
	.kt-blocks-accordion-icon-trigger:after,
	.kt-blocks-accordion-icon-trigger:before {
		background-color: currentColor;
	}
}
.kt-blocks-accordion-header.kt-accordion-panel-active {
	background-color: var(--global-palette5, #444444);
	color: #ffffff;
	.kt-blocks-accordion-icon-trigger:after,
	.kt-blocks-accordion-icon-trigger:before {
		background-color: currentColor;
	}
}
.kt-accodion-icon-style-basiccircle .kt-blocks-accordion-header:hover,
.kt-accodion-icon-style-xclosecircle .kt-blocks-accordion-header:hover,
.kt-accodion-icon-style-arrowcircle .kt-blocks-accordion-header:hover {
	.kt-blocks-accordion-icon-trigger {
		background-color: var(--global-palette5, #444444);
	}
	.kt-blocks-accordion-icon-trigger:after,
	.kt-blocks-accordion-icon-trigger:before {
		background-color: var(--global-palette7, #eeeeee);
	}
}
.kt-accodion-icon-style-basiccircle .kt-blocks-accordion-header.kt-accordion-panel-active,
.kt-accodion-icon-style-xclosecircle .kt-blocks-accordion-header.kt-accordion-panel-active,
.kt-accodion-icon-style-arrowcircle .kt-blocks-accordion-header.kt-accordion-panel-active {
	.kt-blocks-accordion-icon-trigger {
		background-color: #ffffff;
	}
	.kt-blocks-accordion-icon-trigger:after,
	.kt-blocks-accordion-icon-trigger:before {
		background-color: var(--global-palette5, #444444);
	}
}
.kt-blocks-accordion-title-wrap {
	display: flex;
	padding-right: 10px;
}
.kt-accodion-icon-side-left .kt-blocks-accordion-title-wrap {
	padding-right: 0px;
}
.kt-pane-header-alignment-center button.kt-blocks-accordion-header {
	text-align: center;
}
.kt-pane-header-alignment-center button.kt-blocks-accordion-header .kt-blocks-accordion-title-wrap {
	flex-grow: 2;
	justify-content: center;
}
.kt-pane-header-alignment-right button.kt-blocks-accordion-header {
	text-align: right;
}
.kt-pane-header-alignment-right button.kt-blocks-accordion-header .kt-blocks-accordion-title-wrap {
	flex-grow: 2;
	justify-content: flex-end;
}
.kt-pane-header-alignment-right button.kt-blocks-accordion-header .kt-blocks-accordion-icon-trigger {
	margin-left: 10px;
}
.kt-acccordion-button-label-hide .kt-blocks-accordion-title {
	display: none;
}
.kt-accordion-panel-inner:after {
	clear: both;
	display: table;
	content: "";
}
// Trigger
.kt-accodion-icon-style-none .kt-blocks-accordion-icon-trigger {
	display: none;
}
.kt-accodion-icon-side-left .kt-blocks-accordion-icon-trigger {
	order: -1;
	margin-left: 0;
	margin-right: 10px;
}
.kt-blocks-accordion-icon-trigger {
	display: block;
	height: 24px;
	margin-left: auto;
	position: relative;
	transition: all ease-in-out 0.2s;
	width: 24px;
	min-width: 24px;
	box-sizing: content-box;
}
.kt-blocks-accordion-icon-trigger:after,
.kt-blocks-accordion-icon-trigger:before {
	background-color: var(--global-palette5, #444444);
}
// Basic
.kt-accodion-icon-style-basic,
.kt-accodion-icon-style-basiccircle {
	.kt-blocks-accordion-header.kt-accordion-panel-active {
		.kt-blocks-accordion-icon-trigger:before {
			transform: rotate(0deg);
		}
		.kt-blocks-accordion-icon-trigger:after {
			transform: rotate(0deg);
		}
	}
	.kt-blocks-accordion-icon-trigger:after,
	.kt-blocks-accordion-icon-trigger:before {
		content: "";
		height: 4px;
		position: absolute;
		transition: all ease-in-out 0.1333333333s;
		width: 20px;
		left: 2px;
		top: 10px;
	}
	.kt-blocks-accordion-icon-trigger:before {
		transform: rotate(90deg);
		transform-origin: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(0deg);
		transform-origin: 50%;
	}
}
// Basic Circle
.kt-accodion-icon-style-basiccircle {
	.kt-blocks-accordion-icon-trigger {
		background-color: currentColor;
		border-radius: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after,
	.kt-blocks-accordion-icon-trigger:before {
		background-color: #fff;
		width: 16px;
		left: 4px;
		top: 10px;
	}
}
// x close
.kt-accodion-icon-style-xclose,
.kt-accodion-icon-style-xclosecircle {
	.kt-blocks-accordion-header.kt-accordion-panel-active {
		.kt-blocks-accordion-icon-trigger:before {
			transform: rotate(45deg);
		}
		.kt-blocks-accordion-icon-trigger:after {
			transform: rotate(-45deg);
		}
	}
	.kt-blocks-accordion-icon-trigger:after,
	.kt-blocks-accordion-icon-trigger:before {
		content: "";
		height: 4px;
		position: absolute;
		transition: all ease-in-out 0.1333333333s;
		width: 20px;
		left: 2px;
		top: 10px;
	}
	.kt-blocks-accordion-icon-trigger:before {
		transform: rotate(90deg);
		transform-origin: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(0deg);
		transform-origin: 50%;
	}
}
// x Circle
.kt-accodion-icon-style-xclosecircle {
	.kt-blocks-accordion-icon-trigger {
		background-color: #333;
		border-radius: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after,
	.kt-blocks-accordion-icon-trigger:before {
		background-color: #fff;
		width: 16px;
		left: 4px;
		top: 10px;
	}
}
// Arrows
.kt-accodion-icon-style-arrow,
.kt-accodion-icon-style-arrowcircle {
	.kt-blocks-accordion-header.kt-accordion-panel-active {
		.kt-blocks-accordion-icon-trigger:before {
			transform: rotate(-45deg);
		}
		.kt-blocks-accordion-icon-trigger:after {
			transform: rotate(45deg);
		}
	}
	.kt-blocks-accordion-icon-trigger:after,
	.kt-blocks-accordion-icon-trigger:before {
		content: "";
		height: 2px;
		position: absolute;
		top: 11px;
		transition: all ease-in-out 0.1333333333s;
		width: 12px;
	}
	.kt-blocks-accordion-icon-trigger:before {
		left: 2px;
		transform: rotate(45deg);
		transform-origin: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after {
		transform: rotate(-45deg);
		right: 2px;
		transform-origin: 50%;
	}
}
// x Circle
.kt-accodion-icon-style-arrowcircle {
	.kt-blocks-accordion-icon-trigger {
		background-color: #333;
		border-radius: 50%;
	}
	.kt-blocks-accordion-icon-trigger:after,
	.kt-blocks-accordion-icon-trigger:before {
		background-color: #fff;
		width: 10px;
	}
	.kt-blocks-accordion-icon-trigger:before {
		left: 4px;
	}
	.kt-blocks-accordion-icon-trigger:after {
		right: 4px;
	}
}
.kt-accordion-inner-wrap .wp-block-kadence-pane > .kt-accordion-header-wrap {
	margin-top: 0px;
}
.kt-accordion-inner-wrap {
	column-gap: var(--global-kb-gap-md, 2rem);
	display: flex;
	flex-direction: column;
	row-gap: 8px;
}
.kt-accordion-panel-inner {
	padding: 20px;
	border: 1px solid var(--global-palette7, #eeeeee);
	border-top-width: 0;
}
.kt-accordion-panel {
	display: block;
	&.kt-accordion-panel-hidden {
		max-height: 0 !important;
		overflow: hidden;
		display: none;
	}
}
.kt-accordion-initialized .kt-panel-is-collapsing,
.kt-accordion-initialized .kt-panel-is-expanding {
	transition: height 0.45s ease;
	position: relative;
	height: 0;
	overflow: hidden;
}
.kt-accordion-header-wrap {
	.kt-btn-side-left {
		padding-right: 0.25em;
	}
	.kt-btn-side-right {
		padding-left: 0.25em;
	}
	.kt-acccordion-button-label-hide {
		.kb-svg-icon-wrap {
			padding-left: 0;
			padding-right: 0;
		}
	}
}
.rtl .kt-blocks-accordion-icon-trigger {
	margin-left: 0;
	margin-right: auto;
}
.rtl .kt-blocks-accordion-title-wrap {
	padding-left: 10px;
	padding-right: 0;
}

.wp-block-kadence-column .wp-block-kadence-accordion {
	align-self: stretch;
}
