/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
// Item
.wp-block-kadence-iconlist
	ul.kt-svg-icon-list:not(.this-prevents-issues):not(.this-stops-third-party-issues):not(.tijsloc) {
	list-style: none;
	padding: 0;
	display: grid;

	// for default margin bottom
	.kt-svg-icon-list-items {
		margin-bottom: var(--global-kb-spacing-sm, 1.5rem);
	}
}
.wp-block-kadence-iconlist
	ul.kt-svg-icon-list
	li.kt-svg-icon-list-item-wrap:not(.this-prevents-issues):not(.this-stops-third-party-issues):not(.tijsloc) {
	display: flex;
}
.wp-block-kadence-iconlist ul.kt-svg-icon-list {
	padding: 0;
	list-style: none;
	margin: 0 0 10px 0;
	text-align: left;
	grid-template-rows: auto;
	display: grid;
	gap: 5px 0;
	svg {
		width: 1em;
		height: 1em;
	}
	.kt-svg-icon-list-item-wrap {
		display: flex;
		align-items: center;
		padding: 0;

		.kt-svg-icon-list-single {
			margin-right: 10px;
			padding: 4px 0;
			display: inline-flex;
			justify-content: center;
			align-items: center;
		}

		.kt-svg-icon-link {
			display: flex;
			align-items: center;
		}
	}
	.kt-svg-icon-list-item-wrap:last-child {
		margin-bottom: 0;
	}

	.kt-svg-icon-list-level-0 {
		padding-left: 0rem;
	}

	.kt-svg-icon-list-level-1 {
		padding-left: 2rem;
	}

	.kt-svg-icon-list-level-2 {
		padding-left: 4rem;
	}

	.kt-svg-icon-list-level-3 {
		padding-left: 6rem;
	}

	.kt-svg-icon-list-level-4 {
		padding-left: 8rem;
	}

	.kt-svg-icon-list-level-5 {
		padding-left: 10rem;
	}
}
.rtl .wp-block-kadence-iconlist ul.kt-svg-icon-list {
	.kt-svg-icon-list-item-wrap {
		.kt-svg-icon-list-single {
			margin-left: 10px;
			margin-right: 0;
		}
	}
}
.kb-icon-list-tooltip-wrap {
	display: flex;
	align-items: center;
}
.wp-block-kadence-listitem {
	.kb-icon-list-tooltip:where(:not(.kb-list-tooltip-no-border)) {
		border-bottom: 1px dashed currentColor;
	}
}
.wp-block-kadence-listitem .kt-svg-icon-link > .kb-icon-list-tooltip {
	border-bottom: none;
}
.wp-block-kadence-iconlist.kt-list-icon-aligntop ul.kt-svg-icon-list .kt-svg-icon-list-item-wrap {
	align-items: flex-start;
}
.wp-block-kadence-iconlist.kt-list-icon-alignbottom ul.kt-svg-icon-list .kt-svg-icon-list-item-wrap {
	align-items: flex-end;
}
.wp-block-kadence-iconlist.aligncenter .kt-svg-icon-list-item-wrap {
	justify-content: center;
}
.kt-svg-icon-list-style-stacked .kt-svg-icon-list-single {
	border-style: solid;
	border-width: 0;
}
.kt-svg-icon-list-columns-2 ul.kt-svg-icon-list {
	grid-template-columns: repeat(2, minmax(0, 1fr));
}
.kt-svg-icon-list-columns-3 ul.kt-svg-icon-list {
	grid-template-columns: repeat(3, minmax(0, 1fr));
}
.wp-block-kadence-iconlist.kt-list-icon-aligntop ul.kt-svg-icon-list .kt-svg-icon-list-item-wrap a.kt-svg-icon-link {
	align-items: flex-start;
}
.wp-block-kadence-iconlist.kt-list-icon-alignbottom ul.kt-svg-icon-list .kt-svg-icon-list-item-wrap a.kt-svg-icon-link {
	align-items: flex-end;
}
@media (max-width: 1024px) {
	.kt-tablet-svg-icon-list-columns-1 ul.kt-svg-icon-list {
		grid-template-columns: minmax(0, 1fr);
	}
	.kt-tablet-svg-icon-list-columns-2 ul.kt-svg-icon-list {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.kt-tablet-svg-icon-list-columns-3 ul.kt-svg-icon-list {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
@media (max-width: 767px) {
	.kt-mobile-svg-icon-list-columns-1 ul.kt-svg-icon-list {
		grid-template-columns: minmax(0, 1fr);
	}
	.kt-mobile-svg-icon-list-columns-2 ul.kt-svg-icon-list {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
	.kt-mobile-svg-icon-list-columns-3 ul.kt-svg-icon-list {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}
