@use '../../styles/tokens' as *;
@use '../../styles/mixins' as *;

.kadence-blocks-style-book__token-list {
	@include flex-column($spacing-xl);
}

.kadence-blocks-style-book__loading {
	display: flex;
	justify-content: center;
	padding: $spacing-2xl 0;
}
