/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .wp-block-kadence-icon {
    min-width: 20px;
	min-height: 10px;
 }
.block-editor-block-list__block[data-type="kadence/single-icon"] {
  margin-bottom: 0;
  margin-top: 0;
}

.kt-svg-icons, .kt-svg-icons .block-editor-inner-blocks .block-editor-block-list__layout {
    display: flex;
    gap: 0.2em;
    align-items:center;
}
.kt-svg-icon-wrap {
	display: flex;
}
.kt-svg-style-stacked .kt-svg-icon {
	border: 0px solid #444444;
	transition: all .3s ease-in-out;
	padding: 20px;
}
.kt-svg-icons.kb-icon-valign-top, .kt-svg-icons.kb-icon-valign-top .block-editor-inner-blocks .block-editor-block-list__layout {
  align-items: flex-start;
  display: flex;

  &.kb-icon-align-center {
    justify-content: center;
  }

  &.kb-icon-align-right {
    justify-content: flex-end;
  }

  &.kb-icon-align-left {
    justify-content: flex-start;
  }
}
.kt-svg-icons.kb-icon-valign-middle, .kt-svg-icons.kb-icon-valign-middle .block-editor-inner-blocks .block-editor-block-list__layout {
    align-items: center;
    display: flex;

  &.kb-icon-align-center {
    justify-content: center;
  }

  &.kb-icon-align-right {
    justify-content: flex-end;
  }

  &.kb-icon-align-left {
    justify-content: flex-start;
  }
}
.kt-svg-icons.kb-icon-valign-bottom, .kt-svg-icons.kb-icon-valign-bottom .block-editor-inner-blocks .block-editor-block-list__layout {
    align-items: flex-end;
    display: flex;
	&.kb-icon-align-center {
		justify-content: center;
	}
	&.kb-icon-align-right {
		justify-content: flex-end;
	}
	&.kb-icon-align-left {
		justify-content: flex-start;
	}
}
.kt-svg-icons.kb-icon-halign-left {
    justify-content: flex-start;
}
.kt-svg-icons.kb-icon-halign-center {
    justify-content: center;
}
.kt-svg-icons.kb-icon-halign-right {
    justify-content: flex-end;
}
.editor-styles-wrapper .block-editor-block-list__block[data-type="kadence/icon"], .editor-styles-wrapper .block-editor-block-list__block[data-type="kadence/icon"] > .wp-block {
    margin-bottom: 0;
    margin-top: 0;
}