/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
// Item
.kt-svg-style-stacked .kt-svg-icon {
	border: 0px solid #444444;
	transition: all .3s ease-in-out;
}
.kt-svg-icon-wrap {
	display: inline-flex;
	a.kt-svg-icon-link {
		display: block;
		border: 0;
		text-decoration: none;
		box-shadow: none;
		&:hover {
			box-shadow: none;
		}
	}
}
.kb-icon-valign-top {
    align-items: flex-start;
    display: flex;
}
.kb-icon-valign-middle {
    align-items: center;
    display: flex;
}
.kb-icon-valign-bottom {
    align-items: flex-end;
    display: flex;
}