.block-editor-block-list__block.is-selected[data-type="kadence/rowlayout"] {
	> .innerblocks-wrap > .kt-resizeable-column-container .components-resizable-box__container {
		.components-button.kt-fluid-grid-btn {
			opacity: 1;
		}
		.left-column-width-size {
			z-index: 100;
			opacity: 1;
		}
		.right-column-width-size {
			z-index: 100;
			opacity: 1;
		}
		.components-resizable-box__handle {
			display: block;
		}
		&:hover .editor-row-controls-container.kadence-resize-extra-controls {
			opacity: 1;
		}
	}
}
.kt-resizeable-column-container .components-button.kt-fluid-grid-btn {
	position: absolute;
	opacity: 0;
	right: -12px;
	top: 0;
	text-align: center;
	background: var(--wp-admin-theme-color);
	border: 0;
	height: 20px;
	line-height: 20px;
	padding: 0;
	width: 24px;
	color: white;
	z-index: 1010;
	box-shadow: none;
	padding: 2px;
	border-radius: 2px;
	svg {
		fill: currentColor;
		circle {
			stroke: currentColor;
		}
	}
}
.editor-row-column__resizer {
	position: absolute !important;
	left: 0;
	height: 100% !important;
	background: transparent;
	top: 0;
	.components-resizable-box__handle {
		z-index: 1000;
		&:after {
			display: block;
			content: "";
			width: 15px;
			height: 15px;
			border-radius: 50%;
			background: #fff;
			cursor: inherit;
			position: absolute;
			top: calc(50% - 8px);
			right: calc(50% - 8px);
			box-shadow: inset 0 0 0 3px;
			color: var(--wp-admin-theme-color);
			outline: 2px solid transparent;
			left: 50%;
			transform: translateX(-50%);
		}
		&:before {
			display: block;
			border-radius: 2px;
			content: "";
			width: 3px;
			height: 10%;
			background: var(--wp-admin-theme-color);
			cursor: inherit;
			position: absolute;
			top: 0;
			transition: transform 0.1s ease-in;
			opacity: 1;
			left: 50%;
			transform: translate(-50%, -50%);
			top: 50%;
			transition: height 0.1s ease;
		}
	}
}
.block-editor-block-list__block.is-selected[data-type="kadence/rowlayout"] {
	> .innerblocks-wrap
		> .kt-resizeable-column-container
		> .components-resizable-box__container
		> .editor-row-controls-container
		> .components-resizable-box__handle:hover:before {
		height: 100%;
	}
}
.kt-resizeable-column-container,
.kb-inner-resize-row {
	margin-left: 0px;
	margin-right: 0px;
	position: absolute !important;
	height: auto;
	width: auto;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
}
.editor-row-controls-container {
	position: absolute;
	right: 0;
	height: 100%;
	.column-width-size-handle {
		opacity: 0;
		position: absolute;
		top: 50%;
		font-size: 11px;
		background: rgba(255, 255, 255, 0.9);
		z-index: -1;
		width: 50px;
		height: 30px;
		color: black;
		text-align: center;
		line-height: 30px;
		margin-top: -15px;
		&.right-column-width-size {
			left: 100%;
			padding-left: 2px;
			margin-left: 0px;
		}
		&.left-column-width-size {
			right: 0;
			padding-right: 2px;
			margin-left: 0;
		}
	}
}
.editor-row-controls-container.kadence-resize-extra-controls {
	opacity: 0;
	transition: opacity 0.2s ease;
}
.block-editor-block-list__block[data-type="kadence/rowlayout"]
	.kt-resizeable-column-container
	.components-resizable-box__container
	.components-resizable-box__handle {
	height: 100%;
	top: 0px;
	display: none;
}
// spacing controls:
.kt-padding-resize-box {
	z-index: -1;
}
.kt-row-padding {
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: #000;
	opacity: 0;
	transition: opacity 0.3s ease;
	background: rgba(190, 228, 174, 0.7);
	span {
		padding: 0 6px;
		font-size: 11px;
	}
}
.block-editor-block-list__block.is-selected[data-type="kadence/rowlayout"]
	> .kt-padding-resize-box:hover
	.kt-row-padding {
	opacity: 1;
}
.wp-block-kadence-rowlayout-handler-top {
	top: 0px !important;
}
.wp-block-kadence-rowlayout-handler-top,
.wp-block-kadence-rowlayout-handler-bottom {
	display: none;
	border-radius: 0;
	border: 0;
	min-height: 20px;
	width: 100%;
	height: 100% !important;
	position: absolute;
	background: transparent;
	padding: 0;
	z-index: 1000;
	cursor: se-resize;
	left: 0px;
	margin-left: 0px;
}
.wp-block-kadence-rowlayout-handler-bottom {
	bottom: 0px !important;
}
.block-editor-block-list__block[data-type="kadence/rowlayout"].is-selected > .kt-padding-resize-box {
	z-index: 10;
	.wp-block-kadence-rowlayout-handler-top,
	.wp-block-kadence-rowlayout-handler-bottom {
		display: block;
	}
}

.rtl {
	.editor-row-column__resizer {
		left: auto;
		right: 0;
	}
	.kt-resizeable-column-container .components-button.kt-fluid-grid-btn {
		left: -12px;
		right: auto;
	}
	.editor-row-column__resizer .components-resizable-box__handle:after {
		left: 50;
		right: auto;
	}
	.editor-row-controls-container {
		.editor-row-controls-container {
			right: auto;
		}
		.column-width-size-handle.left-column-width-size {
			right: auto;
			left: 0;
			padding-right: 0;
			padding-left: 2px;
			margin-left: auto;
			margin-right: 0;
		}
		.column-width-size-handle.right-column-width-size {
			right: 100%;
			left: auto;
			padding-left: 0;
			padding-right: 2px;
			margin-left: auto;
			margin-right: 0;
		}
	}
}

.kt-resizeable-column-inactive {
	&.kt-resizeable-column-container .components-button.kt-fluid-grid-btn {
		background: gray;
	}

	.components-resizable-box__handle {
		&:after {
			color: gray;
		}
		&:before {
			background: gray;
		}
	}
}

//fix for max width image blocks breaking out of their columns
.block-editor-block-list__block[data-type="kadence/rowlayout"]
	.kb-image-max-width-set
	.components-resizable-box__container {
	max-width: 100% !important;
}
