/**
 * #.# Styles
 */
 .kt-btn-wrap {
	.kt-button:where(:not(.kb-button)) {
		text-decoration: none;
		position: relative;
		z-index: 1;
		overflow: hidden;
	}
	.kt-button:not(.kb-btn-global-inherit):where(:not(.kb-button)) {
		padding: 8px 16px;
		cursor: pointer;
		font-size: 18px;
		display: flex;
		line-height: 1.6;
		text-decoration: none;
		text-align: center;
		align-items: center;
		justify-content: center;
		transition: all .3s ease-in-out;
		border-width:2px;
		border-radius: 3px;
		border-color:#555555;
		background:transparent;
		color:#555555;
		box-shadow: none;
		border-style: solid;
	}
	.kt-button:where(:not(.kb-button)):not(.kb-btn-global-inherit):hover, .kt-button:where(:not(.kb-button)):not(.kb-btn-global-inherit):focus {
		border-color:#444444;
		color:#ffffff;
		box-shadow: none;
	}
	.kt-button:where(:not(.kb-button)).kt-btn-size-small {
		font-size: 16px;
		padding: 4px 8px;
		border-width: 1px;
	}
	.kt-button:where(:not(.kb-button)).kt-btn-size-large {
		font-size: 20px;
		padding: 12px 24px;
		border-width: 3px;
	}
	.kb-btn-only-icon.kt-btn-has-svg-true {
		.kt-btn-inner-text {
			display:none;
		}
		.kt-btn-svg-icon {
			padding:0;
		}
	}
}
.wp-block-kadence-advancedbtn .kt-btn-wrap a.kt-button:where(:not(.kb-button)):not(.link) {
    text-decoration: none;
}
.kt-btn-wrap .kt-button:where(:not(.kb-button))::before {
    position: absolute;
	content: "";
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transition: all .3s ease-in-out;
	display: block;
	filter: none;
}
.kt-button:where(:not(.kb-button)):not(.kb-btn-global-inherit)::before {
	background:#444444;
}
.kt-btn-wrap .kt-button:where(:not(.kb-button)):hover::before, .kt-btn-wrap .kt-button:where(:not(.kb-button)):focus::before {
	opacity: 1;
}
.kt-btn-svg-icon.kt-btn-side-right, .kb-svg-icon-wrap.kt-btn-side-right {
    padding-left: 0.5em;
}
.kt-btn-svg-icon.kt-btn-side-left, .kb-svg-icon-wrap.kt-btn-side-left {
    padding-right: 0.5em;
}
.kt-btn-has-text-false .kt-btn-svg-icon {
    padding-left:0;
    padding-right:0;
}
.kt-btn-wrap {
    display: inline-flex;
}
.kt-btn-align-center {
    text-align: center;
}
.kt-btn-align-left {
    text-align: left;
}
.kt-btn-align-right {
    text-align: right;
}
.wp-block-kadence-advancedbtn .kt-btn-wrap:last-child {
    margin-right: 0;
}
.wp-block-kadence-advancedbtn .kt-btn-wrap {
	margin-right: 5px;
	vertical-align: middle;
}
.rtl .wp-block-kadence-advancedbtn .kt-btn-wrap {
	margin-right: 0;
	margin-left: 5px;
}
.kt-force-btn-fullwidth {
    display: flex;
}
.kt-force-btn-fullwidth .kt-btn-wrap {
    display: block;
    flex: 1;
}
.kt-force-btn-fullwidth .kt-btn-wrap .kt-button:where(:not(.kb-button)) {
    justify-content: center;
	display: flex;
}
.kt-btn-wrap .kt-btn-has-svg-true {
    display: flex;
    align-items: center;
	justify-content: center;
}
@media (max-width: 1024px) {
	.kt-btn-wrap .kb-btn-tablet-only-icon.kt-btn-has-svg-true {
		.kt-btn-inner-text {
			display:none;
		}
		.kt-btn-svg-icon {
			padding:0;
		}
	}
	.kt-btn-tablet-align-center {
		text-align: center;
	}
	.kt-btn-tablet-align-left {
		text-align: left;
	}
	.kt-btn-tablet-align-right {
		text-align: right;
	}
}
@media (max-width: 767px) {
	.kt-btn-wrap .kb-btn-mobile-only-icon.kt-btn-has-svg-true {
		.kt-btn-inner-text {
			display:none;
		}
		.kt-btn-svg-icon {
			padding:0;
		}
	}
	.kt-btn-mobile-align-center {
		text-align: center;
	}
	.kt-btn-mobile-align-left {
		text-align: left;
	}
	.kt-btn-mobile-align-right {
		text-align: right;
	}
	.wp-block-kadence-advancedbtn.kt-force-btn-fullwidth.kt-mobile-collapse-btn-fullwidth {
		flex-direction: column;
	}
	.wp-block-kadence-advancedbtn.kt-force-btn-fullwidth.kt-mobile-collapse-btn-fullwidth .kt-btn-wrap {
		margin-right: 0;
	}
	.kt-btn-wrap {
		margin-bottom: 5px;
	}
}
