.kb-dynamic-popover-inner-wrap {
	min-width: 280px;
	padding: 20px;
	h2 {
		font-size: 13px;
		margin-top: 1em;
		margin-bottom: 0.3em;
	}
}
.kb-dynamic-menu.has-icon svg {
	width: 20px;
}
.kb-side-link-control .kb-search-selection-name .kb-search-url-clear.has-icon {
	position: absolute;
	top: 0;
	right: 28px;
	z-index: 1;
	display: block;
}
.block-editor-block-toolbar .components-toolbar .components-button.kb-dynamic-menu.has-icon svg {
	width: 20px;
	min-width: 20px;
}
.block-editor-block-toolbar .components-toolbar .components-button.kb-dynamic-menu:first-child,
.block-editor-block-toolbar .components-toolbar .components-button.kb-dynamic-menu:last-child {
	min-width: 48px;
	padding-left: 12px;
	padding-right: 12px;
}
.block-editor-block-toolbar .components-toolbar .components-button.kb-dynamic-menu:first-child:before,
.block-editor-block-toolbar .components-toolbar .components-button.kb-dynamic-menu:last-child:before {
	left: 8px;
	right: 8px;
}
.kb-pro-notice {
	padding: 12px;
}
.kb-pro-notice h2 {
	margin-top: 0;
}
.kb-side-link-control {
	.components-base-control {
		margin: 0;
	}
	.kb-search-selection-name {
		display: flex;
		flex-grow: 1;
		max-width: calc(100% - 30px);
		.components-base-control__field {
			margin: 0;
			display: flex;
			flex-grow: 1;
			border: 1px solid var(--kb-border-color, #859cb6);
			max-width: 100%;
			position: relative;
			.components-spinner {
				position: absolute;
				right: 30px;
				top: 9px;
				margin: 0;
			}
		}
	}
	.kb-search-url-input {
		display: flex;
		width: 100%;
		input {
			border: 0;
			border-radius: 0;
			padding-right: 30px;
			width: 100%;
		}
	}
	.kb-search-selection-name .kb-search-url-submit.has-icon {
		position: absolute;
		top: 0;
		right: 0;
		z-index: 1;
		display: block;
	}
	.kb-side-link-control-inner-row .kb-search-selection-name .components-button.has-icon {
		border: 0;
		height: 36px;
	}
	&.has-dynamic-support .kb-search-selection-name {
		flex-grow: 1;
	}
	.kb-side-link-control-inner-row {
		display: flex;
		max-width: 100%;
		.components-button.has-icon {
			border: 1px solid var(--kb-border-color, #859cb6);
			border-left: 0;
			height: 38px;
			border-radius: 0;
		}
		.components-button.has-icon {
			min-width: 28px;
			padding: 6px;
		}
		.components-button svg {
			height: 16px;
			width: 16px;
		}
	}
	.components-external-link {
		margin: 7px;
		flex-grow: 1;
		flex-shrink: 1;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		min-width: 50px;
		max-width: 500px;
	}
	.block-editor-format-toolbar__link-container-content {
		display: flex;
		flex-grow: 1;
		border: 1px solid var(--kb-border-color, #859cb6);
		max-width: 100%;
	}
	.kb-search-selection-suggestions {
		margin: 0;
		padding: 0px 0px;
		max-height: 200px;
		overflow-y: auto;
		.kb-search-selection-suggestion {
			position: relative;
			display: flex;
			align-items: center;
			font-size: 13px;
			cursor: pointer;
			background: #fff;
			width: 100%;
			border: none;
			text-align: left;
			padding: 8px 6px;
			border-radius: 0px;
			height: auto;
			&:focus,
			&:hover {
				background-color: #eee;
			}
		}
		.kb-search-selection-search-item-header {
			display: block;
			margin-right: 8px;
			overflow: hidden;
			white-space: nowrap;
		}
		.kb-search-selection-search-item-title {
			overflow: hidden;
			text-overflow: ellipsis;
			padding-right: 24px;
			display: block;
			margin-bottom: 0.2em;
			font-weight: 500;
			position: relative;
			mark {
				font-weight: 700;
				color: #000;
				background-color: transparent;
			}
		}
		.kb-search-selection-search-item-info {
			display: block;
			color: #757575;
			font-size: 0.9em;
			line-height: 1.3;
		}
		.kb-search-selection-search-item-type {
			display: block;
			padding: 3px 8px;
			margin-left: auto;
			font-size: 0.9em;
			background-color: #f0f0f0;
			border-radius: 2px;
		}
	}
}
.kb-side-link-control .kb-side-link-control-inner-row .components-button.kb-dynamic-url-sidebar.has-icon {
	border-left: 0;
}
.components-toolbar-group .components-button.kb-dynamic-menu.has-icon svg {
	min-width: 18px;
}
