.kadence-obfuscate-text-control-inner {
    display: flex;
    gap:8px
}
.kadence-obfuscate-text-control-inner .components-base-control, .kadence-obfuscate-text-control-inner .components-base-control .components-base-control__field {
    margin-bottom:0;
}
.kadence-obfuscate-text-control .components-background-obfuscate-text-control__label {
    margin-bottom: 8px;
    display: block;
}
.kadence-obfuscate-text-control-inner .kb-obfuscate-save {
    min-width:90px;
    justify-content: center;
    min-height: 30px;
    &.components-button svg {
        margin-top: 0;
        margin-right: 0;
    }
}