/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block[data-type="kadence/restaurantmenu"] {
	.wp-block {
		max-width: none !important;
	}

	.editor-block-list__layout,
	.block-editor-block-list__layout {
		display: flex;
		flex-wrap: wrap;
	}

	.kt-add-more-btn-wrap {
		display: flex;
		align-items: center;

		button {
			color: #000;
    		font-weight: 500;
		}
	}
}
