/**
 * #.# Styles
 *
 * CSS for Frontend.
 */

.kt-restaurent-menu.full-width {
	width: 100% !important;
	max-width: none !important;
}

.kt-restaurent-menu.not-full-width {
	max-width: 58rem;
    width: calc(100% - 4rem);
    margin: auto;
}


.kt-restaurent-menu {
	background: #fff;

	.kt-menu-category {

		.kt-menu-category-title {
			margin: 0;
		    padding: 15px 0 35px 0;
		    font-size: 32px;
		    text-align: center;
		    font-weight: 600;
		    font-family: 'Open Sans', sans-serif;
		}

		.kt-category-content {
			display: flex;
			flex-wrap: wrap;
			justify-content: flex-start;

			.kt-category-content-item {

				.kt-item-title {
					font-size: 16px;
				    margin: 0;
				    padding: 0 0 13px 0;
				    font-weight: 600;
				}

				.kt-item-description {
					font-size: 16px;
				    margin: 0;
				    padding: 0;
				    font-family: 'Open Sans', sans-serif;
				}

				.kt-item-content {
					display: flex;
					justify-content: space-between;
					width: 100%;

					.kt-item-left {
						padding-right: 20px;
						width: 80%;
					}

					.kt-item-right {
						display: flex;
						white-space: nowrap;
						font-family: 'Open Sans', sans-serif;
						font-weight: 600;
						width: 20%;

						.kt-item-currency {
							font-size: 16px;
						    margin: 0;
						    padding: 0;
						}

						.kt-item-price {
							font-size: 16px;
						    margin: 0;
						    padding: 0;
						}
					}
				}
			}

			@for $i from 1 through 8 {
				&[data-columns-xs="#{ $i }"] .kt-category-content-item {
					width: (100% / #{ $i });
				}
			}
			@media (min-width: 543px) {
				@for $i from 1 through 8 {
					&[data-columns-sm="#{ $i }"] .kt-category-content-item {
						width: (100% / #{ $i });
					}
				}
			}
			@media (min-width: 768px) {
				@for $i from 1 through 8 {
					&[data-columns-md="#{ $i }"] .kt-category-content-item {
						width: (100% / #{ $i });
					}
				}
			}
			@media (min-width: 992px) {
				@for $i from 1 through 8 {
					&[data-columns-lg="#{ $i }"] .kt-category-content-item {
						width: (100% / #{ $i });
					}
				}
			}
			@media (min-width: 1200px) {
				@for $i from 1 through 8 {
					&[data-columns-xl="#{ $i }"] .kt-category-content-item {
						width: (100% / #{ $i });
					}
				}
			}
			@media (min-width: 1500px) {
				@for $i from 1 through 8 {
					&[data-columns-xxl="#{ $i }"] .kt-category-content-item {
						width: (100% / #{ $i });
					}
				}
			}
		}
	}
}
