.kb-search {
	display: flex;

	form {
		display: flex;
		width: 100%;
	}

	.kb-search-input[type="text"] {
		width: 100%;
	}

	.kb-buttons-wrap {
		flex-shrink: 0;
	}

	.kb-search-input-wrapper {
		position: relative;
		display: inline-block;
		width: 100%;
	}

	.kb-search-modal {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: var(--kb-search-modal-background, #090c10);
		z-index: 1000;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease, visibility 0.3s ease;

		&.active {
			opacity: 1;
			visibility: visible;
		}
	}
	.kb-search-input {
		width: 100%;
		flex-grow: 1;
		padding-right: 10px;
		padding-left: 10px; /* For text spacing from left edge */
		box-sizing: border-box;
	}
	.kb-search-icon {
		display: inline-flex;
		align-items: center;
		justify-content: center;
		width: 20px;
		height: 20px;

		svg {
			width: 100%;
			height: 100%;
			stroke: #888;
		}
	}

	.kb-search-input-wrapper > span.kb-search-icon {
		position: absolute;
		right: 10px; /* Adjust to position the icon */
		top: 50%;
		transform: translateY(-50%);
		width: 20px; /* Adjust icon size */
		height: 20px; /* Adjust icon size */
		pointer-events: none; /* Allows clicks to pass through to the input */
	}

	.kb-search-icon-submit {
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		padding: 5px 10px 5px 5px;
		border: none;
		background: transparent;
		cursor: pointer;
		line-height: 0;
	}

	.kb-search-modal-content {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		width: 100%;

		form {
			margin: 0 auto;
			max-width: 60%;
		}
	}
	.kb-search-modal-input {
		padding: 10px;
		font-size: 18px;
		width: 300px;
	}
	.kb-search-close-btn {
		position: absolute;
		top: 20px;
		right: 20px;
		font-size: 24px;
		cursor: pointer;
		background: none;
		border: none;
		color: #333;

		svg {
			width: 1em;
			height: 1em;
		}
	}


}
