.kb-floating-tooltip {
  background-color: #333;
  color: white;
  font-size:14px;
  line-height:1.4;
  white-space:normal;
  outline:0;
  padding: 5px 9px;
  border-radius: 4px;
  box-sizing: border-box;
  width: max-content;
  max-width: calc(100vw - 10px);
}
.kb-floating-tooltip[data-placement^="top"] > .kb-tooltip-arrow {
    bottom: 0;
}
.kb-floating-tooltip[data-placement^="top"] > .kb-tooltip-arrow:before {
    bottom: -7px;
    left: 50%;
	transform: translateX(-50%);
    border-width: 8px 8px 0;
    border-top-color: initial;
    transform-origin: center top;
}
.kb-floating-tooltip[data-placement^="top-start"] > .kb-tooltip-arrow:before {
    left: 12px;
}
.kb-floating-tooltip[data-placement^="top-end"] > .kb-tooltip-arrow:before {
    left: calc( 100% - 12px );
}
.kb-floating-tooltip[data-placement^="bottom"] > .kb-tooltip-arrow {
    top: 0;
}
.kb-floating-tooltip[data-placement^="bottom"] > .kb-tooltip-arrow:before {
    top: -7px;
    left: 50%;
	transform: translateX(-50%);
    border-width: 0 8px 8px;
    border-bottom-color: initial;
    transform-origin: center bottom;
}
.kb-floating-tooltip[data-placement^="bottom-start"] > .kb-tooltip-arrow:before {
    left: 12px;
}
.kb-floating-tooltip[data-placement^="bottom-end"] > .kb-tooltip-arrow:before {
    left: calc( 100% - 12px );
}
.kb-floating-tooltip[data-placement^="left"] > .kb-tooltip-arrow {
    right: 0;
}
.kb-floating-tooltip[data-placement^="left"] > .kb-tooltip-arrow:before {
    border-width: 8px 0 8px 8px;
    border-left-color: initial;
    right: -7px;
	top:50%;
	transform: translateY(-50%);
    transform-origin: center left;
}
.kb-floating-tooltip[data-placement^="left-start"] > .kb-tooltip-arrow:before {
   top: 12px;
}
.kb-floating-tooltip[data-placement^="left-end"] > .kb-tooltip-arrow:before {
   top: calc( 100% - 12px );
}
.kb-floating-tooltip[data-placement^="right"] > .kb-tooltip-arrow {
    left: 0;
}
.kb-floating-tooltip[data-placement^="right"] > .kb-tooltip-arrow:before {
    left: -7px;
	top:50%;
	transform: translateY(-50%);
    border-width: 8px 8px 8px 0;
    border-right-color: initial;
    transform-origin: center right;
}
.kb-floating-tooltip[data-placement^="right-start"] > .kb-tooltip-arrow:before {
   top: 12px;
}
.kb-floating-tooltip[data-placement^="right-end"] > .kb-tooltip-arrow:before {
   top: calc( 100% - 12px );
}
.kb-tooltip-arrow {
    width: 16px;
    height: 16px;
    color: #333;
}
.kb-tooltip-arrow:before {
    content: "";
    position: absolute;
    border-color: transparent;
    border-style: solid;
}