/**
 * Appender
 */

.wp-block-kadence-navigation .block-list-appender {
	position: relative;
}

/**
 * Submenus.
 */

// Show submenus above the sibling inserter.
.wp-block-kadence-navigation .has-child {
	cursor: pointer;

	.wp-block-kadence-navigation__submenu-container {
		z-index: z-index(".has-child .wp-block-kadence-navigation__submenu-container");
	}

	&:hover {
		.wp-block-kadence-navigation__submenu-container {
			z-index: z-index(".has-child:hover .wp-block-kadence-navigation__submenu-container");
		}
	}

	// Show on editor selected, even if on frontend it only stays open on focus-within.
	&.is-selected,
	&.has-child-selected {
		> .wp-block-kadence-navigation__submenu-container {
			// We use important here because if the parent block is selected and submenus are present, they should always be visible.
			visibility: visible !important;
			opacity: 1 !important;
			min-width: 200px !important;
			height: auto !important;
			width: auto !important;
			overflow: visible !important;
		}
	}
}

/**
 * Navigation Items.
 */

.navigation ul.kb-navigation li.wp-block-kadence-navigation-link {
	.kb-nav-link-content {
		cursor: text;
		display: flex;
		align-items: center;
	}

	.sub-menu {
		.kb-nav-link-content {
			flex-wrap: wrap;
		}
	}

	.link-highlight-label {
		color: var(--global-palette7, #ffffff);
		background: var(--global-palette2, #2f2ffc);
		display: flex;
		align-items: center;
		padding: 3px;
		font-size: 12px;
		line-height: 1;
		padding: 5px;
		border-radius: 5px;
		.kt-svg-icon {
			padding-left: 5px;
		}
	}

	.kb-link-wrap .kb-nav-link-content.has-highlight-label {
		gap: 5px;
	}

	&.is-editing,
	&.is-selected {
		min-width: 20px;
	}

	.block-list-appender {
		margin-top: 20px;
		// The right margin should be set to auto, so as to not shift layout in flex containers.
		margin-right: auto;
		margin-bottom: 20px;
		margin-left: 20px;
	}

	.link-media-container {
		display: flex;
		align-self: flex-start;
		max-width: 150px;
		padding: 0.3em;
	}
}
.link-svg-icon {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	svg {
		width: 1em;
		height: 1em;
	}
}

.wp-block-kadence-navigation-link__invalid-item {
	color: #000;
}

/**
 * Menu item setup state. Is shown when a menu item has no URL configured.
 */

.wp-block-kadence-navigation-link__placeholder {
	position: relative;

	// While in a placeholder state, hide any underlines the theme might add.
	text-decoration: none !important;
	box-shadow: none !important;
	background-image: none !important;

	// Draw a wavy underline.
	.wp-block-kadence-navigation-link__placeholder-text span {
		$blur: 10%;
		$width: 6%;
		$stop1: 30%;
		$stop2: 64%;

		--wp-underline-color: var(--wp-admin-theme-color);
		.is-dark-theme & {
			--wp-underline-color: darkgray;
		}

		background-image: linear-gradient(
				45deg,
				transparent ($stop1 - $blur),
				var(--wp-underline-color) $stop1,
				var(--wp-underline-color) ($stop1 + $width),
				transparent ($stop1 + $width + $blur)
			),
			linear-gradient(
				135deg,
				transparent ($stop2 - $blur),
				var(--wp-underline-color) $stop2,
				var(--wp-underline-color) ($stop2 + $width),
				transparent ($stop2 + $width + $blur)
			);
		background-position: 0 100%;
		background-size: 6px 3px;
		background-repeat: repeat-x;

		// Since applied to a span, it doesn't change the footprint of the item,
		// but it does vertically shift the underline to better align.
		padding-bottom: 0.1em;
	}

	// This needs extra specificity.
	&.kb-nav-link-content {
		cursor: pointer;
	}
}

/**
* Link Control Transforms
*/

.link-control-transform {
	border-top: 1px solid gray;
	padding: 0 20px 10px 20px;
}

.link-control-transform__subheading {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 500;
	color: darkgray;
	margin-bottom: 1.5em;
}

.link-control-transform__items {
	display: flex;
	justify-content: space-between;
}

.link-control-transform__item {
	flex-basis: 33%;
	flex-direction: column;
	gap: 10px;
	height: auto;
}
