// Navigation item styles.
// Contains styles only that are unique to the manually inserted menu item.
// Styles in the Navigation block itself target both custom menu items, and
// those from the Page List block.
.wp-block-kadence-navigation-link {
	// This wraps just the innermost text for custom menu items.
	.wp-block-kadence-navigation-link__label {
		overflow-wrap: break-word;
	}

	// Hide the description by default.
	// If a theme opts-in to show descriptions, they will need to provide styles for them.
	.wp-block-kadence-navigation-link__description {
		display: none;
	}
	.wp-block-kadence-navigation-link__content.has-highlight-label {
		display: flex !important;
		.link-highlight-label {
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
		}
	}

	.link-media-container {
		display: flex;
		grid-row: span 2;
		.link-svg-icon {
			display: inline-flex;
			justify-content: center;
			align-items: center;

			svg {
				stroke: currentColor;
			}
		}
	}
}
