/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 // Controls
 .kb-device-choice.kt-size-tabs > .components-tab-panel__tabs{
	 margin-top:0;
 }
 .kb-add-new-tab-contain {
    text-align: right;
}
.kt-title-text.is-selected, .kt-title-sub-text.is-selected {
    min-width: 5px;
}
.wp-block[data-type="kadence/tab"] {
    margin-top: 0;
    margin-bottom: 0;
}
.wp-block[data-type="kadence/tab"] > .block-editor-block-list__block-edit > .block-editor-block-mover {
    display:none !important;
}
.kt-tabs-layout-vtabs .kadence-blocks-tab-item__control-menu {
    left: auto;
    right: 0;
    transform: translateX(0);
}
.kadence-blocks-tab-item__control-menu .components-icon-button, .kadence-blocks-tab-item__control-menu .components-button  {
    color:white;
	padding: 0 !important;
	height: 20px;
}
.components-button.kt-tab-add.is-primary {
    border: 0;
    text-shadow: none;
    -webkit-box-shadow: none;
	box-shadow: none;
	vertical-align: top;
    padding-bottom: 2px;
}
.components-button.kt-tab-add.is-primary svg {
    margin-top:4px;
}
 .kadence-blocks-tab-item__control-menu {
    position: absolute;
	top: -24px;
    background: #0085ba;
    padding:2px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
}
.kt-tabs-title-list li {
    position: relative;
}

li.kt-tab-title-active .kadence-blocks-tab-item__control-menu {
    display: flex;
}
 .kt-select-starter-style-tabs {
    padding: 20px;
    border: 2px dashed var(--kb-border-color, #859CB6 );
    text-align: center;
    position: relative;
    z-index: 10;
}

.kt-select-starter-style-tabs-title {
    text-transform: uppercase;
    padding-bottom: 10px;
    font-size: 16px;
}

.kt-select-starter-style-tabs .kt-inital-tabs-style-btn {
    height: auto;
    width: 320px;
    background: white;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid transparent;
    padding: 2px;
    margin-right: 15px;
    margin-bottom: 5px;
}

.kt-select-starter-style-tabs .kt-inital-tabs-style-btn svg {
    width: 100%;
}
.kt-select-starter-style-tabs .kt-init-tabs-btn-group .kt-inital-tabs-style-btn:first-child {
    width: 100%;
    text-align: center;
    justify-content: center;
    border: 0;
    padding: 2px;
    margin-right: 0;
    margin-bottom: 5px;
}
.kt-select-starter-style-tabs .kt-init-tabs-btn-group .kt-inital-tabs-style-btn:first-child:hover {
    text-decoration: underline;
}
.components-button-group button.components-button.kt-init-open-tab {
    width: auto;
    padding: 4px 10px;
    border-radius: 3px !important;
    height: auto;
    text-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom: 5px;
}
.kt-select-starter-style-tabs .kt-init-tabs-btn-group .kt-inital-tabs-style-btn:first-child:focus {
    background: transparent;
    box-shadow: none;
}
.kt-select-starter-style-tabs .kt-inital-tabs-style-btn:hover {
        border: 2px solid #aaa;
    background: white;
    -webkit-box-shadow: none;
    box-shadow: none;
}
 .kt-inspect-tabs .components-button-group .kt-layout-btn.kt-tablayout {
    border-radius: 0;
}
 .components-button-group .kt-layout-btn.kt-tablayout {
	height: 46px;
	svg {
		width: 40px;
		height: 40px;
	}
	&:hover, &.is-primary, &:focus:not(:disabled):not([aria-disabled=true]) {
		background:#eee;
		border-color: #222;
		svg path, svg rect {
			fill: #222;
		}
	}
}
.kt-tab-title .editor-rich-text {
    display: inline-flex;
}
.edit-post-sidebar p.kt-setting-label, .kt-block-defaults-modal p.kt-setting-label {
    font-weight: 600;
    color: #191e23;
	padding: 0 0 5px;
	clear: both;
	margin-top:0;
}
.kt-size-type-options.kt-outline-control {
	.components-button.kt-size-btn {
		padding: 2px 4px;
		svg {
			fill: #777;
			width: 15px;
			height: 15px;
		}
		&.is-primary svg {
			fill: #222;
		}
	}
}

// .components-panel__body > .components-panel__body >.components-panel__body-title > .components-panel__body-toggle {
//     padding: 10px 10px 10px 30px;
// }
.components-range-control.kt-icon-rangecontrol .components-base-control__label {
    width: 30px;
}
.kt-icon-rangecontrol  .components-base-control__field {
	display: flex;
	align-items: center;
	width: 100%;
}

.kt-inspect-tabs.kt-hover-tabs.kt-no-ho-ac-tabs .components-tab-panel__tabs button {
    width: 33.33%;
    padding: 6px 0;
    font-size: 12px;
}
#editor .block-editor-block-list__layout .kt-tabs-wrap .kt-tabs-title-list {
	padding: 30px 0 0 0;
	margin:0;
	list-style: none;
}
.kt-tabs-title-list {
	margin:0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	li {
		margin: 0 4px -1px 0;
		cursor: pointer;
		list-style: none;
		.kt-tab-title {
			padding: 8px 16px;
			display:flex;
			color: #444;
			align-items: center;
			border-style: solid;
			border-color: transparent;
			border-width: 1px 1px 0 1px;
			border-top-left-radius: 4px;
			border-top-right-radius: 4px;
			transition: all .2s ease-in-out;
			box-shadow: none !important;
			outline: 0 !important;
		}
		&.kt-tab-title-active {
			z-index: 4;
			.kt-tab-title {
				background-color: #fff;
				border-color: #dee2e6;
			}
		}
	}
}
.kt-tabs-title-list {
	li.kt-tabs-has-icon-false {
		.kt-tab-title {
			display:block;
		}
	}
}
.kt-tabs-icon-side-top .kt-tab-title {
    flex-direction: column;
}

.kt-tab-alignment-center > .kt-tabs-wrap >  .kt-tabs-title-list {
	justify-content: center;
}
.kt-tab-alignment-right > .kt-tabs-wrap >  .kt-tabs-title-list {
	justify-content: flex-end;
}
.kt-tabs-content-wrap:before, .kt-tabs-content-wrap:after {
    content: '';
    clear: both;
    display: table;
}
.kt-tabs-content-wrap {
    border: 1px solid #dee2e6;
	padding: 20px;
	text-align: left;
	position: relative;
}
.wp-block-kadence-tabs .block-editor-block-list__layout {
	.block-editor-block-list__block {
		max-width: none !important;
	}
}
.kt-tabs-content-wrap [data-type="kadence/tab"] {
	display: none;
}

// V tabs
.kt-tabs-layout-vtabs:after, .kt-tabs-wrap:after {
    clear: both;
    display: table;
    content: '';
}
.kt-tabs-layout-vtabs {
	> .kt-tabs-wrap > .kt-tabs-title-list {
		float: left;
		width: 30%;
		flex-direction: column;
		li {
			margin: 0 -1px 4px 0;
			.kt-tab-title {
				border-width: 1px 0px 1px 1px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
	> .kt-tabs-wrap > .kt-tabs-content-wrap {
		float: left;
		width: 70%;
	}
	&.kt-tab-alignment-left > .kt-tabs-wrap > .kt-tabs-title-list li .kt-tab-title {
		align-items: center;
		justify-content: flex-start;
	}
	&.kt-tab-alignment-center > .kt-tabs-wrap > .kt-tabs-title-list {
		justify-content: flex-start;
		li {
			text-align: center;
			.kt-tab-title {
				justify-content: center;
			}
			.kb-tab-titles-wrap {
				align-items: center;
			}
		}
	}
	&.kt-tab-alignment-right > .kt-tabs-wrap > .kt-tabs-title-list {
		justify-content: flex-start;
		li {
			text-align: right;
			.kt-tab-title {
				justify-content: flex-end;
				align-items: center;
			}
			.kb-tab-titles-wrap {
				align-items: flex-end;
			}
		}
	}
}
.kt-tabs-svg-show-only .editor-rich-text {
    display:none;
}
.kt-title-svg-side-left {
    padding-right: 5px;
}
.kt-title-svg-side-right {
    padding-left: 5px;
}
.kt-tabs-svg-show-only .kt-title-svg-side-right {
	padding-left: 0px;
}
.kt-tabs-svg-show-only .kt-title-svg-side-left {
	padding-right: 0px;
}
.kt-tabs-wrap {
    margin: 0 auto;
}
.kt-tabs-layout-vtabs.kt-tab-alignment-center > .kt-tabs-wrap > .kt-tabs-title-list li .kb-tab-titles-wrap {
	align-items: center;
}
.kb-tab-titles-wrap {
    display: inline-flex;
    flex-direction: column;
}
.kt-title-sub-text {
	font-size: 14px;
	line-height: 24px;
}
ul.kt-tabs-title-list.kb-tab-title-columns-8 > li {
    flex: 0 1 12.5%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-7 > li {
    flex: 0 1 14.28%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-6 > li {
    flex: 0 1 16.67%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-5 > li {
    flex: 0 1 20%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-4 > li {
    flex: 0 1 25%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-3 > li {
    flex: 0 1 33.33%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-2 > li {
    flex: 0 1 50%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-1 > li {
    flex: 0 1 100%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-1 > li > .kt-tab-title {
    margin-right: 0px !important;
}
ul.kt-tabs-title-list.kb-tabs-list-columns > li:last-child > .kt-tab-title {
    margin-right: 0px !important;
}
ul.kt-tabs-title-list.kb-tabs-list-columns .kt-tab-title {
	justify-content: center;
	text-align: center;
}
.kt-tab-alignment-center ul.kt-tabs-title-list.kb-tabs-list-columns .kb-tab-titles-wrap {
	align-items:center;
}
.kt-tab-alignment-right ul.kt-tabs-title-list.kb-tabs-list-columns .kb-tab-titles-wrap {
	align-items:flex-end;
}
.kt-tabs-svg-show-only .kt-title-text {
    display:none;
}