/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
 // CSS specific for when tabs are used inside of a menu.
ul.menu .wp-block-kadence-tabs .kt-tabs-wrap {
    .kt-tabs-title-list {
        margin:0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        li {
            list-style: none;
            button.kt-tab-title {
                width: auto;
            }
        }
    }
}
.wp-block-kadence-tabs .kt-tabs-title-list * {
    box-sizing: border-box;
}
// Normal Tabs css.
.wp-block-kadence-tabs {
    .kt-tabs-title-list {
        margin:0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        li {
            margin: 0 4px -1px 0;
            cursor: pointer;
            list-style: none;
            button.kt-tab-title {
                padding: 8px 16px;
                display:flex;
                color: var(--global-palette5, #444444);
                align-items: center;
                border-style: solid;
                border-color: transparent;
                border-width: 1px 1px 0 1px;
                border-top-left-radius: 4px;
				border-top-right-radius: 4px;
				text-decoration: none;
				transition: all .2s ease-in-out;
                height: 100%;
				cursor: pointer;
				&:focus {
					text-decoration: none;
				}
				&:hover {
					text-decoration: none;
				}
            }
            &.kt-tab-title-active {
				z-index: 4;
				text-decoration: none;
				position: relative;
                .kt-tab-title {
                    background-color: #fff;
                    border-color: #dee2e6;
                }
            }
        }
    }
    .kt-title-item {
      svg {
        width: 1em;
        height: 1em;
      }

      .kb-svg-icon-wrap {
        display: inline-flex;
      }
    }
}
.kt-tabs-icon-side-top .kt-tab-title {
    flex-direction: column;
}

.kt-tabs-icon-side- {
    &top {
        .kb-svg-icon-wrap, .kt-tab-svg-icon {
            padding-bottom: 5px;
        }
    }
    &bottom {
        .kb-svg-icon-wrap, .kt-tab-svg-icon {
            padding-top: 5px;
        }
    }
    &left {
        .kb-svg-icon-wrap, .kt-tab-svg-icon {
            padding-right: 5px;
        }
    }
    &right {
        .kb-svg-icon-wrap, .kt-tab-svg-icon {
            padding-left: 5px;
        }
    }
}

.kt-tabs-accordion-title.kt-tabs-icon-side-top .kt-tab-title {
    align-items: flex-start;
}
.kt-tabs-accordion-title {
    .kt-tab-title {
        padding: 8px 16px;
        display:flex;
        color: #444;
        align-items: center;
        border-style: solid;
        border-color: transparent;
        border-width: 1px 1px 0 1px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        transition: all .2s ease-in-out;
		text-decoration: none;
		cursor: pointer;
    }
    &.kt-tab-title-active {
        z-index: 4;
        .kt-tab-title {
            background-color: #fff;
            border-color: #dee2e6;
        }
    }
}
.wp-block-kadence-tabs .kt-tab-inner-content-inner p:last-child {
    margin-bottom: 0;
}
.wp-block-kadence-tabs .kt-tab-inner-content-inner p:first-child {
    margin-top: 0;
}
.kt-tab-alignment-center > .kt-tabs-title-list, .kt-tab-alignment-center > .kt-tabs-content-wrap > .kt-tabs-accordion-title a {
	justify-content: center;
}
.kt-tab-alignment-right > .kt-tabs-title-list, .kt-tab-alignment-right > .kt-tabs-content-wrap > .kt-tabs-accordion-title a {
	justify-content: flex-end;
}
.kt-tabs-content-wrap:before, .kt-tabs-content-wrap:after {
    content: '';
    clear: both;
    display: table;
}
.kt-tabs-content-wrap {
    position: relative;
}
.kt-tabs-wrap {
    margin: 0 auto;
}
.kt-tabs-wrap .wp-block-kadence-tab {
    border: 1px solid #dee2e6;
    padding: 20px;
    text-align: left;
}
.kt-tabs-wrap .wp-block-kadence-tab[role="tabpanel"] {
	display: none;
}
.kb-tab-titles-wrap {
	display: inline-flex;
    flex-direction: column;
}
.kt-title-sub-text {
	font-size: 14px;
	line-height: 24px;
}
// V tabs
.kt-tabs-layout-vtabs:after, .kt-tabs-wrap:after {
    clear: both;
    display: table;
    content: '';
}
.kt-tabs-layout-vtabs {
	> .kt-tabs-title-list {
		float: left;
		width: 30%;
		flex-direction: column;
		li {
			margin: 0 -1px 4px 0;
			.kt-tab-title {
				border-width: 1px 0px 1px 1px;
				border-top-left-radius: 0;
				border-top-right-radius: 0;
            }
            &.kt-tabs-icon-side-top .kt-tab-title {
                align-items: flex-start;
            }
		}
	}
	> .kt-tabs-content-wrap {
		float: left;
		width: 70%;
    }
    &.kt-tab-alignment-left > .kt-tabs-title-list li .kt-tab-title {
		align-items: center;
		justify-content: flex-start;
	}
	&.kt-tab-alignment-center > .kt-tabs-title-list {
		justify-content: flex-start;
		li {
			text-align: center;
			.kt-tab-title {
                justify-content: center;
                align-items: center;
			}
			.kb-tab-titles-wrap {
				align-items: center;
			}
		}
	}
	&.kt-tab-alignment-right > .kt-tabs-title-list {
		justify-content: flex-start;
		li {
			text-align: right;
			.kt-tab-title {
                justify-content: flex-end;
				align-items: center;
			}
			.kb-tab-titles-wrap {
				align-items: flex-end;
			}
		}
	}
}
.kt-tabs-svg-show-only .kt-button-text, .kt-tabs-svg-show-only .kb-tab-titles-wrap {
    display:none;
}
.wp-block-kadence-tabs .kt-tabs-content-wrap .kt-tabs-accordion-title .kt-tab-title {
    border-radius: 0;
}
.kt-tabs-svg-show-only .kt-title-text {
    display:none;
}
.kt-title-svg-side-left {
    padding-right: 5px;
}
.kt-title-svg-side-right {
    padding-left: 5px;
}
.kt-tabs-svg-show-only .kt-title-svg-side-right {
	padding-left: 0px;
}
.kt-tabs-svg-show-only .kt-title-svg-side-left {
	padding-right: 0px;
}
.kt-tabs-accordion-title {
    display: none;
}
@media (min-width: 767px) and (max-width: 1024px) {
    .kt-tabs-tablet-layout-tabs.kt-tabs-layout-vtabs {
        .kt-tabs-title-list {
            float: none;
            width: 100%;
            flex-direction: row;
            li {
                margin: 0 4px -1px 0;
                .kt-tab-title {
                    border-width: 1px 1px 0px 1px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
                &.kt-tabs-icon-side-top .kt-tab-title {
                    align-items: center;
                }
            }
        }
        .kt-tabs-content-wrap {
            float: none;
            width: 100%;
        }
    }
    .kt-tabs-tablet-layout-accordion {
        > .kt-tabs-title-list:not(.asfo):not(.amsfo):not(.aemsfo) {
            display:none;
        }
        > .kt-tabs-content-wrap > .kt-tabs-accordion-title {
            display: block;
        }
        > .kt-tabs-content-wrap {
            float: none;
            width: 100%;
        }
    }
    .kt-tabs-tablet-layout-vtabs {
        .kt-tabs-title-list {
            float: left;
            width: 30%;
            flex-direction: column;
            li {
                margin: 0 -1px 4px 0;
                .kt-tab-title {
                    border-width: 1px 0px 1px 1px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                &.kt-tabs-icon-side-top .kt-tab-title {
                    align-items: flex-start;
                }
            }
        }
        .kt-tabs-content-wrap {
            float: left;
            width: 70%;
        }
        &.kt-tab-alignment-center .kt-tabs-title-list {
            justify-content: flex-start;
            li {
                text-align: center;
                .kt-tab-title {
                    justify-content: center;
                }
            }
        }
        &.kt-tab-alignment-right .kt-tabs-title-list {
            justify-content: flex-start;
            li {
                text-align: right;
                .kt-tab-title {
                    justify-content: flex-end;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .kt-tabs-mobile-layout-tabs.kt-tabs-layout-vtabs {
        .kt-tabs-title-list {
            float: none;
            width: 100%;
            flex-direction: row;
            li {
                margin: 0 4px -1px 0;
                .kt-tab-title {
                    border-width: 1px 1px 0px 1px;
                    border-top-left-radius: 4px;
                    border-top-right-radius: 4px;
                }
                &.kt-tabs-icon-side-top .kt-tab-title {
                    align-items: center;
                }
            }
        }
        .kt-tabs-content-wrap {
            float: none;
            width: 100%;
        }
    }
    .kt-tabs-mobile-layout-accordion {
        > .kt-tabs-title-list:not(.asfo):not(.amsfo):not(.aemsfo) {
            display:none;
        }
        > .kt-tabs-content-wrap > .kt-tabs-accordion-title {
            display: block;
        }
        > .kt-tabs-content-wrap {
            float: none;
            width: 100%;
        }
    }
    .kt-tabs-mobile-layout-vtabs {
        .kt-tabs-title-list {
            float: left;
            width: 30%;
            flex-direction: column;
            li {
                margin: 0 -1px 4px 0;
                .kt-tab-title {
                    border-width: 1px 0px 1px 1px;
                    border-top-left-radius: 0;
                    border-top-right-radius: 0;
                }
                &.kt-tabs-icon-side-top .kt-tab-title {
                    align-items: flex-start;
                }
            }
        }
        .kt-tabs-content-wrap {
            float: left;
            width: 70%;
        }
        &.kt-tab-alignment-center .kt-tabs-title-list {
            justify-content: flex-start;
            li {
                text-align: center;
                .kt-tab-title {
                    justify-content: center;
                }
            }
        }
        &.kt-tab-alignment-right .kt-tabs-title-list {
            justify-content: flex-start;
            li {
                text-align: right;
                .kt-tab-title {
                    justify-content: flex-end;
                }
            }
        }
    }
}
ul.kt-tabs-title-list.kb-tab-title-columns-8 > li {
    flex: 0 1 12.5%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-7 > li {
    flex: 0 1 14.28%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-6 > li {
    flex: 0 1 16.66%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-5 > li {
    flex: 0 1 20%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-4 > li {
    flex: 0 1 25%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-3 > li {
    flex: 0 1 33.33%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-2 > li {
    flex: 0 1 50%;
}
ul.kt-tabs-title-list.kb-tab-title-columns-1 > li {
    flex: 0 1 100%;
}
.rtl {
	ul.kt-tabs-title-list.kb-tab-title-columns-1 > li > .kt-tab-title {
		margin-left: 0px !important;
	}
	ul.kt-tabs-title-list.kb-tabs-list-columns > li:last-child > .kt-tab-title {
		margin-left: 0px !important;
	}
}
ul.kt-tabs-title-list.kb-tabs-list-columns .kt-tab-title {
	justify-content: center;
	text-align: center;
}
ul.kt-tabs-title-list.kb-tabs-list-columns {
	word-break: break-word;
}
.kt-tab-alignment-center ul.kt-tabs-title-list.kb-tabs-list-columns .kb-tab-titles-wrap {
	align-items:center;
}
.kt-tab-alignment-right ul.kt-tabs-title-list.kb-tabs-list-columns .kb-tab-titles-wrap {
	align-items:flex-end;
}
.rtl .wp-block-kadence-tabs .kt-tabs-title-list {
	margin: 0;
    padding: 0;
}
