
.kadence-radio-container-control.components-button-group .components-button.has-icon.radio-no-label.radio-soft-inner-glow:before {
	box-shadow: 0 0 5px 3px #a1afc1 inset;
}
.kadence-radio-container-control.components-button-group .components-button.has-icon.radio-no-label.radio-soft-outer-glow:before {
	box-shadow: 0 0 5px 3px #a1afc1;
}
.kadence-radio-container-control.components-button-group .components-button.has-icon.radio-no-label.radio-right-offset-glow:before {
	box-shadow: 4px 4px 3px 0 #a1afc1;
}
.kadence-radio-container-control.components-button-group .components-button.has-icon.radio-no-label.radio-bottom-offset-glow:before {
	box-shadow: 0 4px 3px 0 #a1afc1;
}
.kadence-radio-container-control.components-button-group .components-button.has-icon.radio-no-label.radio-inner-solid:before {
	box-shadow: 0 0 0 5px #a1afc1 inset;
}
.kadence-radio-container-control.components-button-group .components-button.has-icon.radio-no-label.radio-right-bottom-solid:before {
	box-shadow: 4px 4px 0 0 #a1afc1 ;
}
.kadence-radio-container-control.components-button-group .components-button.has-icon.radio-no-label.radio-top-left-solid:before {
	box-shadow: -4px -4px 0 0 #a1afc1 ;
}

.kadence-radio-container-control.components-button-group .components-button.has-icon.radio-no-label:not(.radio-none):before {
	content: ".";
	display: block;
	width: 28px;
	height: 28px;
	color: white;
	margin: 0 auto;
	border: 1px solid gray;
}
