.kadence-controls-content-border .components-base-control.kadence-pop-color-control {
    margin-bottom:0;
}
.kadence-controls-content-border .kadence-pop-color-control .kadence-beside-label {
	margin: 0.7em 0;
	align-items: center;
	display: flex;
}