.components-modal__frame.kadence-blocks-style-library__delete-palette-modal {
	max-width: var(--kb-sl-size-modal-medium);
}

.kadence-blocks-style-library__delete-palette-modal-actions {
	display: flex;
	justify-content: flex-end;
	gap: var(--kb-sl-space-10);
	margin-top: var(--kb-sl-space-20);
}
