/**
 * #.# Styles
 *
 * CSS for Backend.
 */
 @import './splide.scss';
 .block-editor-block-list__block[data-type="kadence/advancedgallery"] {
    margin-bottom: 0;
    margin-top: 0;
	flex: 1;
}
.kt-blocks-carousel-thumbnails.splide:not( .is-overflow ) .splide__slide:last-child {
	margin: 0 !important;
}
.kt-blocks-carousel-thumbnails.splide:not( .is-overflow ) .splide__list {
	justify-content: center;
}
 // Controls.
.kb-gallery-type-select .kadence-radio-control-flexwrap .components-button.kadence-radio-item {
    height: 50px;
	svg {
		width: 100%;
		height: auto;
	}
}
.kb-gallery-type-select .kadence-radio-container-control.components-button-group .components-button.has-icon.radio-no-label svg {
	rect {
	fill: none !important;
	}
	path[fill="none"] {
		fill: none !important;
	}
}
.kb-gallery-main-contain.kb-gallery-type-fluidcarousel .kadence-blocks-gallery-item {
	width: auto;
	max-width: 100%;
}
.wp-block[data-align=right]>.wp-block-kadence-advancedgallery, .wp-block[data-align=left]>.wp-block-kadence-advancedgallery {
    max-width: 420px;
    width: 100%;
}
.wp-block-kadence-advancedgallery * {
	box-sizing: border-box;
}
.wp-block-kadence-advancedgallery ul.kb-gallery-main-contain {
    margin-bottom: 0;
	margin-top:0;
}
.kb-gallery-custom-link {
	.components-base-control__field {
		margin-bottom: 0;
	}
}
.components-button-group.kt-style-btn-group.kb-gallery-type-select button.components-button.kt-style-btn {
	width: 33%;
	&.kb-disabled-btn{
		opacity: 0.6;
	}
	&.is-primary {
		border-color: #000;
	}
 }
.wp-block[data-type="kadence/advancedgallery"] .kb-gallery-container > .components-form-file-upload {
	margin-top: 10px;
	.editor-media-placeholder {
		margin: 0;
	}
 }
.kb-gallery-custom-options {
	position: relative;
	display: flex;
	flex-direction: column;
	min-width: 200px;
	background-color: #fff;
	z-index: 999;
	border: 4px solid #00669b;

	.kb-gallery-custom-link {
		.block-editor-url-input {
			border: none;
		}
	}
}
.kadence-blocks-gallery-item .kadence-blocks-gallery-item-inner figcaption {
	 z-index: 10;
 }
.kb-gallery-caption-style-below .kadence-blocks-gallery-item .kadence-blocks-gallery-item-inner .is-selected figcaption.kadence-blocks-gallery-item__caption {
    position: relative;
}
 .kb-gallery-caption-style-below .kadence-blocks-gallery-item .kadence-blocks-gallery-item-inner .is-selected figcaption.kadence-blocks-gallery-item__caption {
    position: relative;
}
 .wp-block[data-type="kadence/advancedgallery"] .kb-gallery-container > .components-placeholder.wp-block-kadence-advancedgallery {
	margin-top: 10px;
 }
 .kb-image-size-container .kb-gallery-type-select-form-row {
    margin-bottom: 10px;
    z-index: 220;
	position: relative;
 }
 .kb-gallery-custom-link {
    position: relative;
    z-index: 2;
    padding: 0 4px 4px;
    display: block;
}
.kb-gallery-custom-link .block-editor-url-input {
    width:100%;
    border-top: 4px solid var(--wp-admin-theme-color, #00669b);
}
.kb-gallery-custom-link .block-editor-url-input input[type=text] {
    width:100%;
    margin: 0;
	line-height:18px;
	padding-right: 40px;
}
.kb-gallery-custom-link .block-editor-url-popover__settings-toggle {
    position: absolute;
    right: 4px;
    top: 4px;
}
.wp-block-kadence-advancedgallery {
	.kt-blocks-carousel {
		padding: 0 0 25px;
	}
   .kt-blocks-carousel.kt-carousel-container-dotstyle-none {
		padding-bottom: 0;
   }
}
.kb-gallery-main-contain {
	li {
		list-style-type: none;
	}
}
.kadence-blocks-gallery-item {

	// Hide the focus outline that otherwise briefly appears when selecting a block.
	figure:not(.is-selected):focus {
		outline: none;
	}
	.is-selected {
		outline: 0;
		&:before {
			content: '';
			position: absolute;
			border: 4px solid var(--wp-admin-theme-color, #00669b);
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: 1;
		}
		.kb-gallery-image-contain{
			outline:0;
		}
	}

	.is-transient img {
		opacity: 0.3;
	}
	.block-editor-rich-text {
		position: absolute;
		bottom: 0;
		width: 100%;
		max-height: 100%;
		overflow-y: auto;
	}
	figcaption {
		max-height: 100%;
		overflow-y: auto;
	}

	.block-editor-rich-text figcaption:not([data-is-placeholder-visible="true"]) {
		position: relative;
		overflow: hidden;
	}
	.is-selected .block-editor-rich-text {
		z-index: 2;
		// IE calculates this incorrectly, so leave it to modern browsers.
		@supports (position: sticky) {
			right: 0;
			left: 0;
			margin-top: -4px;
		}

		// Override negative margins so this toolbar isn't hidden by overflow. Overflow is needed for long captions.
		.block-editor-rich-text__inline-toolbar {
			top: 0;
		}
	}

	.is-selected .kadence-blocks-library-gallery-item__move-menu,
	.is-selected .kadence-blocks-library-gallery-item__inline-menu {
		background-color: var(--wp-admin-theme-color, #00669b);

		.components-button {
			color: #fff;
		}

		.components-button:focus {
			color: #fff;
		}

	}

	figcaption .block-editor-rich-text {
		a {
			color: #fff;
		}
	}
}
.kb-gallery-caption-style-below .kadence-blocks-gallery-item .block-editor-rich-text {
    position: relative;
    overflow: visible;
}
.kb-gallery-main-contain.kb-gallery-type-slider .kt-blocks-carousel .splide .splide__slide.is-active {
    z-index: 10;
}
.kb-gallery-main-contain.kb-gallery-type-thumbslider .kt-blocks-carousel .splide .splide__slide.is-active {
    z-index: 10;
}
.kb-gallery-caption-style-below .kadence-blocks-gallery-item .kadence-blocks-gallery-item-inner .is-selected .block-editor-rich-text {
	margin-top:0;
}

.kb-gallery-caption-style-below .kadence-blocks-gallery-item .is-selected .block-editor-rich-text .block-editor-rich-text__inline-toolbar {
    top:-40px;
}
.kadence-blocks-library-gallery-item__move-menu,
.kadence-blocks-library-gallery-item__inline-menu {
	padding: 2px;
	display: inline-flex;
	z-index: 20;

	.components-button {
		color: transparent;
	}
}
.kadence-blocks-library-gallery-item__inline-menu {
	position: absolute;
	top: 0px;
	right: 0px;
}

.kadence-blocks-library-gallery-item__move-menu {
	position: absolute;
	top: 0px;
	left: 0px;
}

.kb-gallery-figure:not(.is-selected) .kb-gal-image-radius .kadence-blocks-gallery-item__caption {
    pointer-events: none;
}

.kadence-blocks-gallery-item__move-backward,
.kadence-blocks-gallery-item__move-forward,
.kadence-blocks-gallery-item__remove {
	padding: 0;
}

.kadence-blocks-gallery-item .components-spinner {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -9px;
	margin-left: -9px;
}
.wp-block[data-type="kadence/advancedgallery"] .kb-gallery-main-contain:not(.specificity) {
	padding:0;
	box-sizing: border-box;
}
.kb-gallery-main-contain {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
	.kadence-blocks-gallery-item {
		position: relative;
		padding:0;
		margin:0;
		.kadence-blocks-gallery-item-inner {
			position: relative;
			margin-bottom: 0;
			figure {
				margin: 0 auto;
				.kb-gal-image-radius {
					position: relative;
					overflow: hidden;
					margin: 0 auto;
				}
				.kb-gallery-image-contain {
					border: 0;
					background: transparent;
					padding: 0;
					margin: 0;
					display:block;
					width: 100%;
					transition: all .3s ease-in-out;
					&.kadence-blocks-gallery-intrinsic {
						height: 100%;
						position: relative;
						img {
							position: absolute;
							flex: 1;
							height: 100%;
							object-fit: cover;
							width: 100%;
							top: 0;
							left: 0;
						}
					}
				}
				.kb-gallery-image-ratio-square {
					padding-bottom: 100%;
				}
				.kb-gallery-image-ratio-land43 {
					padding-bottom: 75%;
				}
				.kb-gallery-image-ratio-land32 {
					padding-bottom: 66.67%;
				}
				.kb-gallery-image-ratio-land169 {
					padding-bottom: 56.25%;
				}
				.kb-gallery-image-ratio-land21 {
					padding-bottom: 50%;
				}
				.kb-gallery-image-ratio-land31 {
					padding-bottom: 33%;
				}
				.kb-gallery-image-ratio-land41 {
					padding-bottom: 25%;
				}
				.kb-gallery-image-ratio-port34 {
					padding-bottom: 133.33%;
				}
				.kb-gallery-image-ratio-port23 {
					padding-bottom: 150%;
				}
			}

			img {
				display: block;
				max-width: 100%;
				height: auto;
			}

			// IE doesn't handle cropping, so we need an explicit width here.
			img {
				width: 100%;

				// IE11 doesn't read rules inside this query. They are applied only to modern browsers.
				@supports (position: sticky) {
					width: auto;
				}
			}

			figcaption {
				width: 100%;
				max-height: 100%;
				position: absolute;
				bottom:0;
				overflow: visible;
				padding: 43px 10px 10px;
				font-size:13px;
				color: #fff;
				text-align: center;
				background: linear-gradient(0deg, rgba(0,0,0,0.5) 0, rgba(0,0,0,0) 100%);
				img {
					display: inline;
				}
				&.editing-caption {
					padding-top: 48px;
				}
			}
			.kadence-blocks-gallery-item-hide-caption figcaption {
				display: none;
			}
		}
	}

	// // On mobile and responsive viewports, we allow only 1 or 2 columns at the most.
	// & .kadence-blocks-gallery-item {
	// 	width: 100%;
	// }

	@for $i from 2 through 8 {
		&.kb-gallery-preview-columns-#{ $i } .kadence-blocks-gallery-item {
			width: calc(100%/#{ $i });
		}
	}
	&.kb-gallery-preview-columns-1 .kadence-blocks-gallery-item {
		width: 100%;
	}
}
.kb-gallery-caption-style-below .kadence-blocks-gallery-item .kadence-blocks-gallery-item-inner figcaption.kadence-blocks-gallery-item__caption {
	padding: 10px;
	margin-top:0;
	background: rgba( 0,0,0, 0.5 );
	position: static;
}
.kb-gallery-caption-style-bottom-hover .kadence-blocks-gallery-item figcaption {
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}
.kb-gallery-caption-style-bottom-hover .kadence-blocks-gallery-item:hover figcaption, .kb-gallery-caption-style-bottom-hover .kadence-blocks-gallery-item .is-selected figcaption {
    opacity: 1;
}
.kb-gallery-main-contain.kb-gallery-caption-style-cover-hover .kadence-blocks-gallery-item {
	.block-editor-rich-text {
		top: 0;
		margin: 0;
	}
	.kadence-blocks-gallery-item-inner figcaption {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 10px;
		margin: 0;
		opacity: 0;
		transition: opacity 0.3s ease-in-out;
		background: rgba( 0,0,0, 0.5 );
	}
}
.kb-gallery-main-contain.kb-gallery-caption-style-cover-hover .kadence-blocks-gallery-item:hover figcaption, .kb-gallery-main-contain.kb-gallery-caption-style-cover-hover .kadence-blocks-gallery-item .is-selected figcaption {
    opacity: 1;
}
.wp-block[data-type="kadence/advancedgallery"] .kb-gallery-main-contain.kb-gallery-type-carousel, .wp-block[data-type="kadence/advancedgallery"] .kb-gallery-main-contain.kb-gallery-type-fluidcarousel, .wp-block[data-type="kadence/advancedgallery"] .kb-gallery-main-contain.kb-gallery-type-slider, .wp-block[data-type="kadence/advancedgallery"] .kb-gallery-main-contain.kb-gallery-type-thumbslider {
	margin:0;
}
.kb-gallery-main-contain.kb-gallery-type-carousel, .kb-gallery-main-contain.kb-gallery-type-slider, .kb-gallery-main-contain.kb-gallery-type-thumbslider {
	display: block;
}
.kb-gallery-main-contain.kb-gallery-type-thumbslider .splide.splide--nav>.splide__track>.splide__list>.splide__slide {
	border: 0;
	outline: 1px solid transparent;
	outline-offset: -1px;
}
.kb-gallery-main-contain.kb-gallery-type-thumbslider .splide.splide--nav>.splide__track>.splide__list>.splide__slide.is-active {
	border:0;
	outline: 1px solid var( --global-gray-500, #bbb );
	outline-offset: -1px;
}
.kb-gallery-main-contain.kb-gallery-type-thumbslider .splide .splide__slide img {
	border: 0px solid transparent;
}
.kb-gallery-main-contain.kb-gallery-type-thumbslider .splide .splide__slide.is-active img {
	border: 0px solid var( --global-gray-500, #bbb );
}
.kb-gallery-main-contain.kb-gallery-type-fluidcarousel {
	display: block;
}
.kb-gallery-main-contain.kb-gallery-type-carousel .kadence-blocks-gallery-item .kadence-blocks-gallery-item-inner .kb-gallery-image-contain.kadence-blocks-gallery-intrinsic.kb-gallery-image-ratio-inherit {
	padding-bottom: 100%;
	img {
		object-fit: contain;
	}
}
.kb-gallery-type-carousel > .kt-blocks-carousel > .kadence-blocks-gallery-item {
	float:left;
}
.kb-gallery-main-contain .kt-blocks-carousel:after {
    clear: both;
    display: table;
    content: '';
}
.kb-gallery-main-contain.kb-gallery-type-slider .kadence-blocks-gallery-item .kadence-blocks-gallery-item-inner .kb-gallery-image-contain.kadence-blocks-gallery-intrinsic.kb-gallery-image-ratio-inherit {
	padding-bottom: 66.67%;
	img {
		object-fit: contain;
	}
}
.kb-gallery-main-contain.kb-gallery-type-thumbslider .kadence-blocks-gallery-item .kadence-blocks-gallery-item-inner .kb-gallery-image-contain.kadence-blocks-gallery-intrinsic.kb-gallery-image-ratio-inherit {
	padding-bottom: 66.67%;
	img {
		object-fit: contain;
	}
}
.kb-gallery-main-contain.kb-gallery-type-fluidcarousel {
    .kt-blocks-carousel .splide__list figure {
		display: flex;
		flex-direction: column;
		.kb-gal-image-radius {
			height: 300px;
			width:auto;
			margin:0 auto;
			img {
				height: 300px;
				width:auto;
				flex: 1;
				object-fit: cover;
			}
		}
	}
}
.kb-gallery-type-carousel .kb-gallery-image-ratio-inherit.kb-gallery-image-contain:after, .kb-gallery-type-slider .kb-gallery-image-ratio-inherit.kb-gallery-image-contain:after, .kb-gallery-type-thumbslider .kb-gallery-image-ratio-inherit.kb-gallery-image-contain:after {
	display:none;
}
.kb-gallery-main-contain.kb-gallery-type-carousel .kb-has-image-ratio-inherit .kb-gal-image-radius, .kb-gallery-main-contain.kb-gallery-type-slider .kb-has-image-ratio-inherit .kb-gal-image-radius, .kb-gallery-main-contain.kb-gallery-type-thumbslider .kb-has-image-ratio-inherit .kb-gal-image-radius {
	border-radius:0;
}
.kt-blocks-carousel .slick-dots {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
// Filters
.kb-gallery-filter-vintage .kb-gallery-image-contain {
	&:after {
		content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
		box-shadow:inset 0 0 100px rgba(0,0,20,.4), inset 0 5px 15px rgba(0,0,0,.1);
		background: linear-gradient(to bottom, rgba(255,145,0,0.2) 0%,rgba(255,230,48,0.2) 60%), linear-gradient(20deg, rgba(255,0,0,0.2) 0%,rgba(255,0,0,0) 35%);
	}
	img {
		filter:sepia(0.2) brightness(1.1) contrast(1.3);
	}
}
.kb-gallery-filter-grayscale .kb-gallery-image-contain img {
	filter: grayscale(1);
}
.kb-gallery-filter-sepia .kb-gallery-image-contain img {
	filter: sepia(0.5);
}
.kb-gallery-filter-saturation .kb-gallery-image-contain img {
	filter: saturate(1.6);
}
.kb-gallery-filter-earlybird .kb-gallery-image-contain {
	&::after {
		background: radial-gradient(circle,#d0ba8e 20%,#360309 85%,#1d0210 100%);
		mix-blend-mode: overlay;
		content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	img {
		filter: contrast(.9) sepia(.2);
	}
}
.kb-gallery-filter-toaster .kb-gallery-image-contain {
	&::after {
		background: radial-gradient(circle,#804e0f,#3b003b);
    	mix-blend-mode: screen;
		content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	img {
		filter: contrast(1.5) brightness(.9);
	}
}
.kb-gallery-filter-mayfair .kb-gallery-image-contain {
	&::after {
		background: radial-gradient(circle at 40% 40%,rgba(255,255,255,.8),rgba(255,200,200,.6),#111 60%);
		mix-blend-mode: overlay;
		opacity: .4;
		content:'';
		position:absolute;
		left:0;
		right:0;
		top:0;
		bottom:0;
	}
	img {
		filter: contrast(1.1) saturate(1.1);
	}
}
.kb-gallery-main-contain.kb-gallery-type-thumbslider .kt-blocks-carousel {
    padding-bottom: 0;
}
@media (max-width: 782px) {
.block-editor-editor-skeleton__content {
    max-width: 100%;
}
}
.interface-interface-skeleton__editor {
	max-width: 100%;
}

// mosaic
.kb-gallery-main-contain.kb-gallery-type-mosaic {
	.grid-pattern-container {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 200px; // Fixed row height
		grid-gap: 10px;
		width: 100%;

		// Updated class name here
		.kadence-blocks-gallery-item {
			overflow: hidden;
			position: relative;
			width: 100%;
			height: 100%;

			// Default grid item sizing for mobile (767px and below)
			@media (max-width: 767px) {
				&.grid-item-wide,
				&.grid-item-large,
				&.grid-item-tall,
				&.grid-item-small,
				&.last {
					grid-column: span 4;
					grid-row: span 2;
				}

				// Extra styles for the last images to prevent white spacing
				&.only-one,
				&.only-two,
				&.only-three,
				&.only-four,
				&.only-five,
				&.only-six,
				&.only-seven {
					grid-column: span 4;
					grid-row: span 2;
				}
			}

			@media (min-width: 768px) {

				// Grid item styles
				&.grid-item-wide {
					grid-column: span 2;
					grid-row: span 1;
				}

				&.grid-item-large {
					grid-column: span 2;
					grid-row: span 2;
				}

				&.grid-item-tall {
					grid-column: span 1;
					grid-row: span 2;
				}

				&.grid-item-small {
					grid-column: span 1;
					grid-row: span 1;
				}

				// Extra styles for the last images to prevent white spacing
				&.only-one {
					grid-column: span 4;
					grid-row: span 2;
				}
				&.only-two {
					grid-row: span 1;
				}
				&.only-three {
					grid-column: span 2;
					grid-row: span 1;
				}
				&.only-four {
					grid-row: span 1;
				}
				&.only-five {
					grid-column: span 3;
					grid-row: span 1;
				}
				&.only-six {
					grid-row: span 1;
				}
				&.only-seven {
					grid-row: span 2;
				}
			}
			// All nested elements need 100% height
			.kadence-blocks-gallery-item-inner,
			.kb-gallery-figure,
			.kb-gal-image-radius,
			.kb-gallery-image-contain,
			.kadence-blocks-gallery-intrinsic {
				height: 100%;
				width: 100%;
				display: block;
			}

			// Figure needs proper box sizing and margin removal
			.kb-gallery-figure {
				margin: 0;
				box-sizing: border-box;
			}

			// Button styling
			.kb-gallery-image-contain {
				padding: 0;
				background: none;
				border: none;
				cursor: pointer;

				img {
					width: 100%;
					height: 100%;
					object-fit: cover;
					display: block;
				}
			}

			// Controls positioning for UI elements
			.kadence-blocks-library-gallery-item__move-menu,
			.kadence-blocks-library-gallery-item__inline-menu {
				position: absolute;
				z-index: 20;
			}

			// Prevents the intrinsic aspect ratio from affecting layout
			.kadence-blocks-gallery-intrinsic {
				position: relative;

				&::before {
					content: none !important;
				}
			}
		}
	}
}

.grid-pattern-gallery.kb-gallery-caption-style-below .grid-pattern-container .kadence-blocks-gallery-item {
	display: flex;
	flex-direction: column;

	figure.kb-gallery-figure {
		display: flex;
		flex-direction: column;
		height: 100%;
	}
}

// .wp-block-kadence-advancedgallery {
// 	// Fix Slider Overflow Issue.
// 	.kt-blocks-carousel {
// 		max-width: calc(100vw - 20px - 160px);
// 	}

// 	.is-fullscreen-mode .kt-blocks-carousel {
// 		max-width: calc(100vw - 20px);
// 	}

// 	@media (max-width: 960px) {
// 		.auto-fold .kt-blocks-carousel {
// 			max-width: calc(100vw - 20px - 36px);
// 		}
// 		.auto-fold .edit-post-layout.is-sidebar-opened .kt-blocks-carousel {
// 			max-width: calc(100vw - 20px - 280px - 36px);
// 		}
// 	}

// 	.folded .kt-blocks-carousel {
// 		max-width: calc(100vw - 20px - 36px);
// 	}

// 	.edit-post-layout.is-sidebar-opened .kt-blocks-carousel {
// 		max-width: calc(100vw - 20px - 280px - 160px);
// 	}

// 	.is-fullscreen-mode .edit-post-layout.is-sidebar-opened .kt-blocks-carousel {
// 		max-width: calc(100vw - 20px - 280px);
// 	}

// 	.folded .edit-post-layout.is-sidebar-opened .kt-blocks-carousel {
// 		max-width: calc(100vw - 20px - 280px - 36px);
// 	}
// }
