.kb-logo {
	width: fit-content;
	max-width: 100%;

	.kb-logo-layout-container {
		display: flex;
		width: 100%;

		// Logo and Title only layouts
		&.kb-logo-layout-logo-left,
		&.kb-logo-layout-logo-right {
			flex-direction: row;
			justify-content: space-between;
		}

		&.kb-logo-layout-logo-right {
			flex-direction: row-reverse;
		}

		&.kb-logo-layout-logo-top {
			flex-direction: column;
		}

		&.kb-logo-layout-logo-bottom {
			flex-direction: column-reverse;
		}

		// Logo, Title, and Tagline layouts
		&.kb-logo-layout-logo-left-stacked,
		&.kb-logo-layout-logo-right-stacked {
			flex-direction: row;
			justify-content: space-between;

			.wp-block-group {
				display: flex;
				flex-direction: column;
			}
		}

		&.kb-logo-layout-logo-right-stacked {
			flex-direction: row-reverse;
		}

		&.kb-logo-layout-title-logo-tagline {
			flex-direction: column;

			.wp-block-kadence-image {
				order: 2;
			}

			.kb-logo-title {
				order: 1;
			}

			.kb-logo-tagline {
				order: 3;
			}

		}

		.wp-block-kadence-advancedheading {
			margin: unset;
		}
	}
}
