/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.kadence-inner-column-inner.kb-section-only-appender {
	// padding: 1.2em;
	.block-list-appender.wp-block {
		.block-editor-button-block-appender {
			padding: 6px;
			outline: 1px dashed #d5dadf;
			box-shadow: none;
		}
	}
}
// New horizontal column.
.wp-block-kadence-column {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 100%;

	.kadence-inner-column-inner:where(.section-is-flex) {
		display: flex;
		flex-direction: column;
		border: 0 solid transparent;
		position: relative;
		transition: all 0.3s ease;
		&.kadence-inner-column-direction-horizontal {
			flex-direction: row;
		}
		&.kadence-inner-column-direction-horizontal-reverse {
			flex-direction: row-reverse;
		}
		&.kadence-inner-column-direction-vertical-reverse {
			flex-direction: column-reverse;
		}
		&.kadence-inner-column-text-align-left {
			text-align: left;
		}
		&.kadence-inner-column-text-align-center {
			text-align: center;
		}
		&.kadence-inner-column-text-align-right {
			text-align: right;
		}
		> .kb-image-is-ratio-size {
			flex-grow: 1;
		}
	}
}
.wp-block-kadence-column * {
	box-sizing: border-box;
}
.wp-block-kadence-column > .kadence-inner-column-direction-vertical.kadence-inner-column-vertical-align-top {
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	margin-bottom: auto;
	margin-top: 0;
	> .wp-block {
		margin-left: unset;
		margin-right: unset;
	}
}
.wp-block-kadence-column > .kadence-inner-column-direction-vertical.kadence-inner-column-vertical-align-middle {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-bottom: auto;
	margin-top: auto;
	> .wp-block {
		margin-left: unset;
		margin-right: unset;
	}
}
.wp-block-kadence-column > .kadence-inner-column-direction-vertical.kadence-inner-column-vertical-align-bottom {
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	margin-bottom: 0;
	margin-top: auto;
	> .wp-block {
		margin-left: unset;
		margin-right: unset;
	}
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal,
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal-reverse {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	> .wp-block {
		margin-left: unset;
		margin-right: unset;
		margin-top: 0;
		margin-bottom: 0;
	}
	> .block-editor-block-list__block[data-type="core/embed"] {
		flex: 1;
	}
	> .wp-block-kadence-column {
		flex: 1;
		min-width: 0;
		max-width: none;
	}
	// Makes svg images work in flex area.
	> .wp-block-kadence-image.image-is-svg {
		width: auto;
	}
	> .block-list-appender {
		margin: 0;
		align-self: stretch;
		.block-editor-default-block-appender {
			display: flex;
			p.block-editor-default-block-appender__content {
				margin: 0;
			}
			.block-editor-inserter {
				position: static;
			}
		}
	}
	&.kadence-inner-column-vertical-align-top {
		align-items: flex-start;
	}
	&.kadence-inner-column-vertical-align-middle {
		align-items: center;
		margin-bottom: auto;
		margin-top: auto;
	}
	&.kadence-inner-column-vertical-align-bottom {
		align-items: flex-end;
	}
}
.wp-block-kadence-column > .section-is-flex > :where(.wp-block)[data-align="left"],
.wp-block-kadence-column > .section-is-flex > :where(.wp-block)[data-align="right"] {
	height: auto;
}
.wp-block-kadence-column > .kadence-inner-column-direction-vertical:where(.section-is-flex),
.wp-block-kadence-column > .kadence-inner-column-direction-vertical-reverse {
	display: flex;
	align-items: stretch;
	flex-wrap: nowrap;
	gap: 0;
	> .wp-block {
		margin-left: unset;
		margin-right: unset;
	}
	> .wp-block-kadence-column {
		min-width: 0;
		max-width: none;
	}
	// Makes svg images work in flex area.
	> .wp-block-kadence-image.image-is-svg {
		width: auto;
	}
	> .block-list-appender {
		margin: 0 !important;
		align-self: stretch;
		.block-editor-default-block-appender {
			display: flex;
			p.block-editor-default-block-appender__content {
				margin: 0;
			}
			.block-editor-inserter {
				position: static;
			}
		}
	}
	&.kadence-inner-column-vertical-align-top {
		justify-content: flex-start;
	}
	&.kadence-inner-column-vertical-align-middle {
		justify-content: center;
		margin-bottom: auto;
		margin-top: auto;
	}
	&.kadence-inner-column-vertical-align-bottom {
		justify-content: flex-end;
	}
}
.wp-block-kadence-rowlayout .innerblocks-wrap > .kadence-section-sticky > .kadence-inner-column-inner,
.wp-block-kadence-rowlayout .kadence-inner-column-inner > .kadence-section-sticky {
	position: sticky;
	top: 0;
}
.kadence-inner-column-inner:before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	transition: all 0.3s ease-in-out;
}
.wp-block-kadence-column.kb-has-max-width > .kadence-inner-column-inner {
	margin-left: auto;
	margin-right: auto;
}

.kadence-has-custom-css {
	border: 1px dashed var(--wp-admin-theme-color, #007bff);
}
.kadence-has-custom-css:not(.is-selected):not(.has-child-selected):before {
	background-color: #df653a;
	content:"";
	height:100%;
	left:0;
	mask-image: url("data:image/svg+xml;utf8,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%3Csvg%20id%3D%27b%27%20xmlns%3D%27http%3A//www.w3.org/2000/svg%27%20viewBox%3D%270%200%20119.98%20119.98%27%3E%3Cg%20id%3D%27c%27%3E%3Cpath%20d%3D%27M59.99%2C0C26.86%2C0%2C0%2C26.86%2C0%2C59.99s26.86%2C59.99%2C59.99%2C59.99%2C59.99-26.86%2C59.99-59.99S93.12%2C0%2C59.99%2C0ZM33.27%2C99.86h-10.02c-5.41%2C0-9.81-4.4-9.81-9.81v-22.09l-5.76-5.76c-1.22-1.22-1.22-3.21%2C0-4.43l5.76-5.76v-22.09c0-5.41%2C4.4-9.81%2C9.81-9.81h10.02c1.73%2C0%2C3.13%2C1.4%2C3.13%2C3.13s-1.4%2C3.13-3.13%2C3.13h-10.02c-1.96%2C0-3.55%2C1.59-3.55%2C3.55v23.38c0%2C.83-.33%2C1.63-.92%2C2.21l-4.47%2C4.47%2C4.47%2C4.47c.59.59.92%2C1.38.92%2C2.21v23.38c0%2C1.96%2C1.59%2C3.55%2C3.55%2C3.55h10.02c1.73%2C0%2C3.13%2C1.4%2C3.13%2C3.13s-1.4%2C3.13-3.13%2C3.13ZM41.64%2C68.4c2.11%2C0%2C3.82%2C1.71%2C3.82%2C3.82s-1.71%2C3.82-3.82%2C3.82h-12.24c-2.11%2C0-3.82-1.71-3.82-3.82v-24.47c0-2.11%2C1.71-3.82%2C3.82-3.82h12.24c2.11%2C0%2C3.82%2C1.71%2C3.82%2C3.82s-1.71%2C3.82-3.82%2C3.82h-8.41v16.82h8.41ZM66.11%2C56.17c2.11%2C0%2C3.82%2C1.71%2C3.82%2C3.82v12.24c0%2C2.11-1.71%2C3.82-3.82%2C3.82h-12.24c-2.11%2C0-3.82-1.71-3.82-3.82s1.71-3.82%2C3.82-3.82h8.41v-4.59h-8.41c-2.11%2C0-3.82-1.71-3.82-3.82v-12.24c0-2.11%2C1.71-3.82%2C3.82-3.82h12.24c2.11%2C0%2C3.82%2C1.71%2C3.82%2C3.82s-1.71%2C3.82-3.82%2C3.82h-8.41v4.59h8.41ZM74.52%2C72.22c0-2.11%2C1.71-3.82%2C3.82-3.82h8.41v-4.59h-8.41c-2.11%2C0-3.82-1.71-3.82-3.82v-12.24c0-2.11%2C1.71-3.82%2C3.82-3.82h12.24c2.11%2C0%2C3.82%2C1.71%2C3.82%2C3.82s-1.71%2C3.82-3.82%2C3.82h-8.41v4.59h8.41c2.11%2C0%2C3.82%2C1.71%2C3.82%2C3.82v12.24c0%2C2.11-1.71%2C3.82-3.82%2C3.82h-12.24c-2.11%2C0-3.82-1.71-3.82-3.82ZM106.54%2C67.97v22.09c0%2C5.41-4.4%2C9.81-9.81%2C9.81h-10.02c-1.73%2C0-3.13-1.4-3.13-3.13s1.4-3.13%2C3.13-3.13h10.02c1.96%2C0%2C3.55-1.59%2C3.55-3.55v-23.38c0-.83.33-1.63.92-2.21l4.47-4.47-4.47-4.47c-.59-.59-.92-1.38-.92-2.21v-23.38c0-1.96-1.59-3.55-3.55-3.55h-10.02c-1.73%2C0-3.13-1.4-3.13-3.13s1.4-3.13%2C3.13-3.13h10.02c5.41%2C0%2C9.81%2C4.4%2C9.81%2C9.81v22.09l5.76%2C5.76c1.22%2C1.22%2C1.22%2C3.21%2C0%2C4.43l-5.76%2C5.76Z%27%20style%3D%27fill%3A%23df653a%3B%20stroke-width%3A0px%3B%27/%3E%3C/g%3E%3C/svg%3E");
	mask-position:calc(100% - 30px) 6px;
	mask-repeat:no-repeat;
	mask-size:24px 24px;
	min-height:28px;
	min-width:28px;
	position:absolute;
	top:0;
	width:100%;
	z-index:1;
}
