/**
 * #.# Styles
 *
 * CSS for both Frontend
 */
// Item
.wp-block-kadence-advancedheading mark {
	color: #f76a0c;
	background:transparent;
	border-style: solid;
	border-width:0;
}
.kb-adv-heading-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.kb-screen-reader-text {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
}