.wp-block[data-type="kadence/restaurantmenuitem"] {
	margin: 0;

	.kt-item-title {
		font-size: 18px;
	    margin: 0;
	    padding: 0 0 13px 0;
	    font-weight: 600;
	}

	.kt-item-content {
		display: flex;
		justify-content: space-around;
		padding-right: 30px;

		&:last-child {

		}

		.kt-item-left {

			.kt-item-description {
				font-size: 16px;
			    margin: 0;
			    padding: 0;
			    padding-right: 30px;
			    font-family: 'Open Sans', sans-serif;
			}
		}

		.kt-item-right {
			display: flex;

			.kt-item-currency {
				font-size: 16px;
			    margin: 0;
			    padding: 0;
			}

			.kt-item-price {
				font-size: 16px;
			    margin: 0;
			    padding: 0;
			}
		}
	}
}
