/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block[data-type="kadence/restaurantmenuitem"] {
	margin: 0;

	.kt-item-title {
		font-size: 16px;
	    margin: 0;
	    padding: 0 0 13px 0;
	    font-weight: 600;
	}

	.kt-category-content-item {
		padding-right: 30px;
		padding-bottom: 40px;
	}

	.kt-item-description {
		font-size: 16px;
	    margin: 0;
	    padding: 0;
	    font-family: 'Open Sans', sans-serif;
	}

	.kt-item-content {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		width: 100%;

		&:last-child {

		}
		.kt-item-left {
			padding-right: 20px;
			width: 80%;
		}

		.kt-item-right {
			display: flex;
			width: 20%;
			font-weight: 600;

			.kt-item-currency {
				font-size: 16px;
			    margin: 0;
			    padding: 0;
			}

			.kt-item-price {
				font-size: 16px;
			    margin: 0;
			    padding: 0;
			}
		}
	}
}
