/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.kb-lottie-container {
	min-height: 20px;

	.kb-is-ratio-animation {
		height: 0;
		position: relative;

		canvas {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;

		}
	}

	canvas {
		margin: 0 auto;
		display: block;
	}
}