/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.kb-lottie-container {
	.kb-is-ratio-animation {
		height: 0;
		position: relative;

		dotlottie-player {
			position: absolute;
			height: 100%;
			width: 100%;
			top: 0;
			left: 0;
		}
	}

	dotlottie-player {
		margin: 0 auto
	}
}