/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block[data-type="kadence/restaurantmenucategory"] {
	margin: 0;

	.kt-menu-category-title {
		margin: 0;
	    padding: 15px 0 35px 0;
	    font-size: 32px;
	    text-align: center;
	    font-weight: 600;
	    font-family: 'Open Sans', sans-serif;
	}

	.kt-category-content {
		> .block-editor-inner-blocks
		> .block-editor-block-list__layout
		> .wp-block:nth-last-child(2) {
       		.kt-category-content-item {
       			padding-right: 0;
       		}
		}
	}
}
