/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.kb-post-selector-checkbox {

	.tab-panel {

		button {
			height: 25px;
		}

		button:hover {
			background-color:  #dcdcde;
		}
	}

	.active-tab {
		border: 1px solid #dcdcde;
		border-bottom: 0;
	}

	.tab-content-container {
		height: 235px;

		.tab-content {

		}

		.search-container {
			.posts-container {
				height: 160px;
			}
		}

		.posts-container {
			border: solid 1px #dcdcde;
			overflow-y: scroll;
			height: 190px;
			padding: 5px 10px;
		}
	}

	&.components-panel__body .components-panel__body-title {
		background-color: #f6f7f7 !important;
	}
}
