.kadence-border-control__header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 8px;
	color: #1e1e1e;
	font-size: 13px;
	font-weight: 500;
	gap: 2px;
	align-items: center;
	.components-button.border-control-toggle.has-icon {
		background: transparent;
		height: auto;
		border: 0;
		box-shadow: none;
		padding: 2px 4px;
		margin-bottom: 0;
		outline: 0;
		color: #a0aec0;
		width: auto;
		font-size: 18px;
		min-width: 0;
		svg {
			width: 1em;
			height: 1em;
		}
		&.is-pressed {
			background: var(--wp-admin-theme-color, #00669b);
			color: white;
		}
	}
}
.kadence-border-control > .kadence-controls-content {
	display: block;
	position: relative;
}
.kadence-single-border-control-wrap {
	display: flex;
	align-items: center;
	border-radius: 2px;
	border: 1px solid var(--kb-border-color, #859cb6);
	background: white;
}
.kadence-single-border-control-wrap .components-base-control {
	margin-bottom: 0;
}
.kadence-single-border-control-wrap > .kadence-single-unit-control .components-unit-control-wrapper {
	width: 100%;
}
.kadence-single-border-control-wrap > .kadence-single-unit-control {
	flex-grow: 1;
}
.kadence-single-border-control-wrap {
	.kadence-pop-color-control {
		padding: 0 2px;
		.kadence-pop-color-icon-indicate .kadence-pop-color-indicate {
			width: 24px;
			height: 24px;
		}
	}
}

.kadence-border-control
	.kadence-single-border-control-wrap
	.kadence-measure-control-select.components-unit-control__select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background: transparent;
	border-radius: 0px 2px 2px 0px;
	display: block;
	outline: none;
	margin: 0px;
	min-height: auto;
	font-family: inherit;
	box-sizing: border-box;
	padding: 2px 1px;
	width: 20px;
	color: rgb(47, 47, 47);
	font-size: 10px;
	line-height: 1;
	letter-spacing: -0.5px;
	text-transform: uppercase;
	-moz-text-align-last: center;
	text-align-last: center;
	height: 100%;
	border: 0;
	transition: box-shadow 0.1s linear 0s, border 0.1s linear 0s;
	cursor: pointer;
	&:hover {
		background-color: #f8f9fb;
	}
}

.kadence-border-control .kadence-single-border-control-wrap .components-dropdown-menu__toggle {
	min-width: auto;
	height: 30px;
	border-radius: 0px;
	display: block;
	outline: none;
	margin: 0px;
	min-height: auto;
	box-sizing: border-box;
	padding: 2px 2px;
	color: rgb(47, 47, 47);
	font-size: 10px;
	line-height: 1;
	border: 0;
	border-right: 1px solid var(--kb-border-color, #859cb6);
	border-left: 1px solid var(--kb-border-color, #859cb6);
	transition: box-shadow 0.1s linear 0s, border 0.1s linear 0s;
	cursor: pointer;
}

.kadence-border-control .kadence-single-border-control-wrap .border-control-style-select {
	display: block;
}
.kadence-border-control .components-base-control.kadence-single-border-control {
	margin-bottom: 0;
}

.kadence-border-control .kadence-single-border-control-wrap .components-dropdown-menu__toggle svg {
	width: 12px;
}
.border-control-style-select__popover .components-menu-item__button .components-menu-item__item {
	display: none;
}
.border-control-style-select__popover .components-menu-item__button .components-menu-items__item-icon.has-icon-right {
	margin: 0;
	display: block;
}
.kadence-border-control .kadence-single-border-control-wrap .kadence-single-unit-control {
	border: 0;
	border-radius: 0px;
	.components-input-control__backdrop {
		display: none;
	}
	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		/* display: none; <- Crashes Chrome on hover */
		-webkit-appearance: none;
		margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
	}

	input[type="number"] {
		-moz-appearance: textfield; /* Firefox */
	}
}
.kadence-border-controls-grid-wrap {
	display: grid;
	gap: calc(16px);
	grid-template-columns: repeat(2, 1fr);
	position: relative;
}
.kadence-border-controls-grid-wrap .kadence-single-border-control:nth-child(2) {
	border: 0px;
	padding: 0px;
	box-sizing: border-box;
	grid-column: span 2 / auto;
	margin: 0px auto;
}
.kadence-border-controls-grid-wrap .kadence-single-border-control:nth-child(4) {
	margin: 0 0 0 auto;
}
.kadence-border-controls-grid-wrap .kadence-single-border-control:nth-child(5) {
	grid-column: span 2 / auto;
	margin: 0px auto;
}
.kadence-border-control-grid-visualizer {
	position: absolute;
	inset: 15px 15px;
	border-width: 0px;
	border-style: solid;
	border-color: transparent;
}
.kadence-border-controls-grid-wrap .kadence-single-border-control {
	position: relative;
}
.kadence-single-border-control-wrap span.color-indicator-icon .dashicons-admin-site {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
