// Button
.rfipbtn.rfipbtn--dividers {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	width: 96%;
	&:active,
	&:focus {
		border: 1px solid #bdbdbd;
	}
	// dropdown button
	.rfipbtn__current {
		flex: 100%;
		justify-content: flex-start;
		padding: 0;
		svg.top-icon {
			transform: rotate(180deg) !important;
		}
		.rfipbtn__icon {
			width: 100%;
			.rfipbtn__elm {
				width: 100%;
			}
		}
	}
	.rfipbtn__button {
		border: 0 none transparent;
		border-left: 1px solid #e0e0e0;
		background-color: #f5f5f5;
		color: #424242;

		&:hover {
			background-color: #bdbdbd;
		}

		&:active {
			box-shadow: inset 0 0 10px 0 #e0e0e0;
		}
	}

		// icon
	.rfipbtn__icon {
		border: 0;
		color: #424242;

		// empty
		&--empty {
			color: #555d66;
			text-transform: none;
			text-align: left;
		}
	}

	// del
	.rfipbtn__del {
		background-color: #eee;

		&:hover {
			background-color: #e0e0e0;
		}

		&:focus,
		&:active {
			outline: 1px solid #e0e0e0;
		}
	}
}
.rfipdropdown.rfipdropdown--dividers {
    max-height: 240px;
    overflow: scroll;
}
.rfipdropdown.rfipdropdown--dividers {
	background-color: #fff;
	border: 1px solid #e0e0e0;
	.rfipdropdown__selector {
		overflow: hidden;
		padding: 8px;
	}
	.rfipicons__pager {
		display: none;
	}
	// Icons box
	.rfipicons {
		// current page
		&__cp {
			border-bottom:1px solid #bdbdbd;
			&:focus {
				border-bottom-color: #9e9e9e;
			}
		}

		&__left,
		&__right {
			background-color: #eee;
			border: 1px solid #eee;
			color: #424242;
			&:hover {
				background-color: #bdbdbd;
				border: 1px solid #bdbdbd;
			}
			&:focus,
			&:active {
				border: 1px solid #bdbdbd;
			}
		}

		// Individual icon box
		&__ibox {
			background-color: #f5f5f5;
			border: 1px solid #f5f5f5;
			color: #424242;
			&:hover {
				background-color: #bdbdbd;
				border: 1px solid #bdbdbd;
			}
			&:focus,
			&:active {
				border: 1px solid #bdbdbd;
			}
			&--error {
				color: red;
			}
		}

		// Invidual icons
		&__icon {
			width:100%;
			height: 50px;
			margin: 2px 0;
			svg {
				fill: #000;
				width: 100%;
				transform: scale(1);
			}
			svg.top-icon {
				transform: rotate(180deg) !important;
			}
			// selected
			&--selected {
				.rfipicons__ibox {
					background-color: #eee;
				}
			}
		}
	}
}