.kb-hover-toggle-control-toggle {
	position: relative;
	min-height: 1px;
}
.kb-hover-toggle-control-toggle .components-button {
	&.kb-hover-toggle-btn,
	&.kb-active-toggle-btn {
		position: absolute;
		min-width: 32px;
		padding: 6px;
		height: 32px;
		top: -44px;
		font-size: 18px;
		right: 32px;

		svg {
			width: 1em;
			height: 1em;
		}

		&.is-rtl {
			right: unset;
			left: 32px;
		}
	}
	&.kb-active-toggle-btn {
		right: 64px;
	}
}
.kb-hover-control-wrap,
.kb-active-control-wrap {
	padding: 5px 16px 6px;
	margin: -5px -16px 0;
	box-shadow: inset 0 0 0 5px #edf2f7;
}
.kb-active-control-wrap {
	box-shadow: inset 0 0 0 5px #b7d7f7;
}
.components-panel__body .kb-hover-toggle-control-tab-ui .kt-hover-tabs {
	.components-tab-panel__tabs {
		margin-bottom: 12px;
		margin-left: -16px;
		margin-right: -16px;
	}

	.kb-hover-toggle-active-preview {
		margin-top: -15px;
		margin-left: -16px;
		margin-bottom: 12px;
		width: calc(100% + 32px);
		justify-content: center;
	}
}
.components-panel__body
	.components-panel__body-title
	+ .kb-hover-toggle-control-tab-ui
	.kt-hover-tabs
	.components-tab-panel__tabs {
	margin-top: -5px;
}
.components-panel__body .kb-hover-toggle-control-tab-ui .kt-hover-tabs .components-tab-panel__tabs button {
	border: 0;
	border-bottom: 2px solid transparent;
	height: 40px;
	padding: 4px 5px 4px;
	font-weight: normal;
	margin: 0;
	width: 50%;
	background: #edf2f7;
	box-shadow: none !important;
	border-top: 1px solid #cbd5e0;
	color: #4a5568;
}
.components-panel__body .kb-hover-toggle-control-tab-ui .kt-hover-tabs .components-tab-panel__tabs button.active-tab {
	box-shadow: none !important;
	color: #2d3748;
	border-color: white;
	background: white;
	border-bottom-color: var(--wp-admin-theme-color, #00669b);
	border-top: 1px solid #cbd5e0;
}
