/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

 // Controls
 .edit-post-sidebar .typography-family-select-form-row input[type=text], .kt-block-defaults-modal .typography-family-select-form-row input[type=text], .components-popover.kt-popover-font-family .components-popover__content .typography-family-select-form-row input[type=text] {
	box-shadow:none;
}
.kb-tag-level-control .components-toolbar__control.components-button[data-subscript]:after {
    line-height: 15px;
    font-size: 12px;
}
.kb-tag-level-control .components-icon-button:not(:disabled).is-active:hover:after {
    color:#191e23;
}
.kb-tag-level-control .components-icon-button.is-active {
    outline: none;
    color: #fff;
    box-shadow: none;
    background: #555d66;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-family-select-form-row .kt-typography__control input {
    min-height: 18px;
}
.components-popover.kt-popover-font-family .components-popover__content input.components-text-control__input {
    min-height: 28px;
    padding: 5px 4px;
}
.components-popover.kt-popover-font-family .components-popover__content  .components-select-control__input {
    padding-right: 10px;
    background-size: 10px 10px;
}
.edit-post-sidebar .typography-family-select-form-row, .kt-block-defaults-modal .typography-family-select-form-row {
	margin-bottom: 10px;
	z-index: 200;
    position: relative;
}
.typography-family-select-form-row .kt-typography__control input {
    min-height: 18px;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-family-select-form-row {
	z-index: 200;
    position: relative;
    border-left: none;
    box-shadow: none;
    display: block;
    overflow: inherit;
    transition: none;
    width: 100%;
}
.kt-font-family-icon svg path {
	fill: #555d66;
}
.components-popover.kt-popover-font-family .components-popover__content {
	min-height: 240px;
    overflow: visible;
    max-height: 240px;
}
.components-popover.kt-popover-font-family .components-popover__content {
	padding:10px;
	z-index: 1;
	.kt-heading-fontfamily-title {
		margin: 0;
		line-height: 10px;
		text-transform: uppercase;
		padding-right: 0;
		font-size: 10px;
		margin-bottom: 4px;
	}
	.components-base-control .components-base-control__label, .components-base-control .components-toggle-control__label {
		margin-bottom: 4px;
		font-size: 10px;
		line-height: 10px;
		text-transform: uppercase;
	}
	.components-base-control .components-base-control__field {
		margin-bottom: 0;
	}
	.components-toggle-control .components-base-control__field .components-form-toggle {
		display: block;
		width: 36px;
		margin: 6px auto 0 auto;
	}
	.components-toggle-control .components-base-control__field {
		margin: 0;
		flex-direction: column-reverse;
	}
	.typography-row-settings {
		margin-top: 10px;
		display: flex;
		.components-base-control {
			flex: 0 1 33.33%;
			margin-right:5px;
			margin-bottom: 0;
		}
		.components-base-control:last-child {
			margin-right:0px;
		}
	}
	.typography-family-select-form-row .kt-typography__control {
		min-height: 28px;
		border: 1px solid #8d96a0;
		border-radius: 4px;
		box-shadow: 0 0 0 transparent;
	}
	.typography-family-select-form-row .kt-typography__control--is-focused {
		border-color: #2684ff;
	}
	.typography-family-select-form-row .kt-typography__indicator {
		padding: 0 8px;
	}
	p.kt-inline-size-title {
		font-size: 10px;
		margin:0;
		line-height: 15px;
		text-transform: uppercase;
	}
	.kt-typography-number-input {
		width: 70px;
		margin-right: 0;
		flex: none;
		display: inline-block;
	}
	.kt-typography-size-type-options .components-button.kt-size-btn {
		background: transparent;
		border: 0;
		border-bottom: 0;
		padding: 2px 4px;
		margin-bottom: 0;
		outline: 0;
		box-shadow: none;
		line-height: 20px;
		height: 20px;
		width: auto;
		font-size: 10px;
	}
	.kt-typography-size-type-options .components-button.kt-size-btn.is-primary {
		color: #0085ba;
		background: #f2f2f2;
		box-shadow: none;
	}
	.kt-typography-size-type-options .components-button.kt-size-btn svg {
		width: 12px;
		height: 12px;
	}
	.kt-typography-size-type-options {
		flex-grow: 2;
	}
	.kt-size-tite-device-wrap {
		display: flex;
		text-align: right;
		align-items: center;
	}
	.kt-type-size-input-wrap .kt-typography-number-input {
		width: 55%;
		flex: none;
		margin-right: 0;
		display: inline-block;
	}
	.kt-type-size-input-wrap .kt-typography-size-type {
		width: 40%;
		flex: none;
		margin-right: 0;
		display: inline-block;
	}
	.kt-type-size-input-wrap {
		display: flex;
		justify-content: space-between;
	}
}
.components-popover.kt-popover-font-family .components-popover__content .typography-row-settings .kt-type-input-wrap {
    flex: 0 1 33.33%;
    margin-right: 5px;
    margin-bottom: 0;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-row-settings .kt-size-input-wrap {
    flex: 0 1 50%;
    margin-right: 15px;
    margin-bottom: 0;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-row-settings .kt-size-input-wrap:last-child {
    margin-right: 0px;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-row-settings .kt-type-input-wrap .components-base-control {
    flex:none;
    display:inline-block;
    margin-right:0;
    width: 70%;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-row-settings .kt-type-input-wrap .kt-unit {
    width: 30%;
    display: inline-block;
    text-align: center;
}
 .edit-post-sidebar h2.kt-heading-size-title,  .kt-block-defaults-modal h2.kt-heading-size-title {
    font-size: 14px;
	margin-bottom: 0;
    color:#555d66;
    margin-top: 30px;
}
.components-button-group.kt-size-type-options {
    margin: 0;
    text-align: right;
    display: block;
    margin-bottom: -18px;
}
.kt-size-type-options button.components-button.kt-size-btn {
    background: transparent;
    color: #777;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
    position: relative;
}
.kt-size-type-options button.components-button.kt-size-btn.is-primary, .kt-size-type-options button.components-button.kt-size-btn.is-primary:focus:not(:disabled):not([aria-disabled=true]) {
 color:#000;
 text-decoration:underline;
 background:transparent;
 box-shadow:none;
 border:none;
 outline: none;
}
.kt-size-type-options button.components-button.kt-size-btn:hover, .kt-size-type-options button.components-button.kt-size-btn:hover:focus:not(:disabled):not([aria-disabled=true]) {
    color:#000;
     background:transparent;
 box-shadow:none;
 border:none;
 outline: none;
}
.kt-size-tabs .components-tab-panel__tabs {
    border-bottom: 0;
	text-align: right;
    margin-top: -20px;
    margin-bottom:0;
}
.kt-size-tabs .components-tab-panel__tabs button {
    background: transparent;
    border: 0;
    border-bottom: 0;
    padding: 2px 4px;
    margin-bottom: 0;
    outline: 0;
    width: auto;
    font-size: 10px;
}
.kt-size-tabs .components-tab-panel__tabs button.active-tab {
	color: #0085ba;
	background: #f2f2f2;
}
.kt-size-tabs .components-tab-panel__tabs button svg {
	width: 15px;
	height:15px;
}
h2.kt-heading-fontfamily-title {
    margin: 30px 0 10px;
    font-size: 14px;
    color: #555d66;
}
button.components-button.components-icon-button.kt-font-clear-btn {
    display: block;
    margin-right: 0;
    margin-left: auto;
    margin-top: -45px;
    text-align: center;
    padding: 6px;
    text-indent: 0;
}
.select-search-box {
    width: auto;
    position: relative;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 4px;
	&::after {
        font-family: dashicons;
		content: "\f140";
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        text-align: center;
        line-height: 30px;
        color: #222f3e;
        z-index: 1;
    }
    .select-search-box--input::after {
        display: none !important;
    }
    .select-search-box__out {
        display: none;
    }
	.select-search-box__search {
        display: block;
        width: 100%;
        height: 30px;
        border: none;
        background: none;
        outline: none;
        font-size: 16px;
        padding: 0 20px;
        color: #222f3e;
        -webkit-appearance: none;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
        cursor: pointer;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 30px;
        box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    }
    input.select-search-box__search {
        line-height: 1;
    }
    .select-search-box--multiple .select-search-box__search {
        box-shadow: none;
    }
    .select-search-box--input .select-search-box__search {
        cursor: text;
    }
	.select-search-box__search:focus {
		cursor: text;
	}
	.select-search-box__search--placeholder {
		font-style: italic;
		font-weight: normal;
	}
    .select-search-box input::-webkit-input-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: normal;
    }

    .select-search-box input::-moz-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: normal;
    }

    .select-search-box input:-moz-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: normal;
    }

    .select-search-box input:-ms-input-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: normal;
    }

    input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    .select-search-box__select {
        display: none;
        position: absolute;
        top: 35px;
        height: 220px;
        left: 0;
        right: 0;
        background: #fff;
        border-radius: 4px;
        overflow: auto;
        box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
        z-index: 100;
        min-height: 30px;
    }

    .select-search-box--multiple .select-search-box__select {
        display: block;
        position: static;
        border-top: 1px solid #eee;
        border-radius: 0;
        box-shadow: none;
    }

	.select-search-box__select--display {
		display: block;
	}

    .select-search-box__option {
		font-size: 13px;
		font-weight: 400;
		color: #616b74;
		line-height: 30px;
		margin-bottom: 0;
		padding: 0px 10px;
        border-top: 1px solid #eee;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
    }

        .select-search-box__option:first-child {
            border-top: none;
        }

        .select-search-box__option--hover, .select-search-box__option:hover {
            background: #f4f7fa;
        }

        .select-search-box__option--selected {
            background: #54A0FF;
            color: #fff;
            border-top-color: #2184ff;
        }

            .select-search-box__option--selected:hover, .select-search-box__option--selected.select-search-box__option--hover {
                background: #2184ff;
                color: #fff;
                border-top-color: #2184ff;
            }

        .select-search-box__group {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #eee;
            position: relative;
        }

        .select-search-box__group-header {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 0 10px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
		}
	}
.wp-block-kadence-advancedheading mark {
	color: #f76a0c;
	background:transparent;
}
.kb-global-typography-label {
    display: flex;
	align-items: center;
	h2.kt-beside-color-label {
		flex-grow: 1;
		margin: 12px 0;
	}
	.components-base-control.components-toggle-control, .components-toggle-control .components-base-control__field {
		margin-bottom: 0 !important;
	}
}
