/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 // Controls
 @import '../../kadence-colors.scss';

.kb-colors-selector.components-dropdown-menu.components-toolbar {
    padding: 0;
}
.wp-block-kadence-advancedheading {
	display: block;
}
.kb-colors-selector {
    .kb-colors-selector__toggle {
        display: block;
        margin: 0 auto;
        padding: 3px;
        width: auto;
        height: auto;
        min-height: 36px;
        border: 0;
    }
    .kb-colors-selector__icon-container {
        width: 42px;
        height: 30px;
        position: relative;
        margin: 0 auto;
        padding: 3px;
        display: flex;
        align-items: center;
        border-radius: 4px;
        &:after {
            content: "";
            pointer-events: none;
            display: block;
            width: 0;
            height: 0;
            border-left: 3px solid transparent;
            border-right: 3px solid transparent;
            border-top: 5px solid;
            margin-left: 4px;
            margin-right: 2px;
        }
    }
    .kb-colors-selector__state-selection {
        border-radius: 11px;
        box-shadow: inset 0 0 0 1px rgba(0,0,0,.2);
        width: 22px;
        min-width: 22px;
        height: 22px;
        min-height: 22px;
        line-height: 20px;
        padding: 2px;
		svg {
			min-width: 16px !important;
		}
    }
}

.typography-family-select-form-row {
    margin-bottom: 10px;
}

 .edit-post-sidebar .typography-family-select-form-row input[type=text], .kt-block-defaults-modal .typography-family-select-form-row input[type=text], .components-popover.kt-popover-font-family .components-popover__content .typography-family-select-form-row input[type=text] {
	box-shadow:none;
}
.kb-tag-level-control .components-toolbar__control.components-button[data-subscript]:after {
    line-height: 15px;
    font-size: 12px;
}
.kb-tag-level-control .components-icon-button:not(:disabled).is-active:hover:after, .kb-tag-level-control .components-button:not(:disabled).is-active:hover:after {
    color:#191e23;
}
.kb-tag-level-control .components-toolbar__control.components-button:before {
    left: 0px;
    right: 0px;
}
.kb-tag-level-control .components-icon-button.is-active, .kb-tag-level-control .components-button.is-active {
    outline: none;
    color: #fff;
    box-shadow: none;
    background: #555d66;
}
.kb-tag-level-control .components-toolbar {
    width: 100%;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(40px, 1fr) );
}
.kb-tag-level-control div.has-left-divider .components-toolbar__control.components-button[aria-label="Paragraph"] svg {
    max-height: 14px;
}
.kb-tag-level-control div.has-left-divider .components-toolbar__control.components-button[aria-label="Paragraph"] svg path {
    transform: translate(-2px, -1px);
}
.kb-tag-level-control .components-toolbar > div {
    flex: 1;
    justify-content: center;
    align-items: center;
}
.kb-tag-level-control .components-toolbar>div+div.has-left-divider {
    margin-left: 0;
}
.kb-tag-level-control .components-toolbar>div+div.has-left-divider:before {
    top: 12px;
    left: 0;
}
.kb-tag-level-control .components-toolbar__control.components-button {
    width: 30px;
    min-width: 30px !important;
    height: 33px;
	padding-left: 0 !important;
    padding-right: 0 !important;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-family-select-form-row .kt-typography__control input {
    min-height: 18px;
    line-height: 1.6;
}
.components-popover.kt-popover-font-family .components-popover__content input.components-text-control__input {
    min-height: 28px;
    padding: 5px 4px;
}
.components-popover.kt-popover-font-family .components-popover__content  .components-select-control__input {
    padding-right: 10px;
    background-size: 10px 10px;
    min-height: 28px;
    line-height: 1.6;
    padding-left: 8px;
}
.edit-post-sidebar .typography-family-select-form-row, .kt-block-defaults-modal .typography-family-select-form-row {
	margin-bottom: 10px;
	z-index: 200;
    position: relative;
}
.typography-family-select-form-row .kt-typography__control input {
    min-height: 18px;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-family-select-form-row {
	z-index: 200;
    position: relative;
    border-left: none;
    box-shadow: none;
    display: block;
    overflow: inherit;
    transition: none;
    width: 100%;
}
.kt-font-family-icon svg path {
    fill: currentColor;
}
.components-popover.kt-popover-font-family .components-popover__content {
	min-height: 240px;
    overflow: visible;
    max-height: 240px;
    min-width: 260px;
}
.components-popover.kt-popover-font-family .components-popover__content {
	padding:10px;
    z-index: 1;
    > div {
        padding:0;
    }
	.kt-heading-fontfamily-title {
		margin: 0;
		line-height: 10px;
		text-transform: uppercase;
		padding-right: 0;
		font-size: 10px;
		margin-bottom: 4px;
	}
	.components-base-control .components-base-control__label, .components-base-control .components-toggle-control__label {
		margin-bottom: 4px;
		font-size: 10px;
		line-height: 10px;
		text-transform: uppercase;
	}
	.components-base-control .components-base-control__field {
        margin-bottom: 0;
	}
	.components-toggle-control .components-base-control__field .components-form-toggle {
		display: block;
		width: 36px;
		margin: 6px auto 0 auto;
	}
	.components-toggle-control .components-base-control__field {
		margin: 0;
		flex-direction: column-reverse;
	}
	.typography-row-settings {
		margin-top: 8px;
		display: flex;
		.components-base-control {
			flex: 0 1 33.33%;
			margin-right:5px;
			margin-bottom: 0;
		}
		.components-base-control:last-child {
			margin-right:0px;
		}
	}
	.typography-family-select-form-row .kt-typography__control {
		min-height: 28px;
		border: 1px solid #8d96a0;
		border-radius: 4px;
		box-shadow: 0 0 0 transparent;
	}
	.typography-family-select-form-row .kt-typography__control--is-focused {
		border-color: #2684ff;
	}
	.typography-family-select-form-row .kt-typography__indicator {
		padding: 0 8px;
	}
	p.kt-inline-size-title {
		font-size: 10px;
		margin:0;
		line-height: 15px;
		text-transform: uppercase;
	}
	.kt-typography-number-input {
		width: 70px;
		margin-right: 0;
		flex: none;
		display: inline-block;
	}
	.kt-typography-size-type-options .components-button.kt-size-btn {
		background: transparent;
		border: 0;
		border-bottom: 0;
		padding: 2px 4px;
		margin-bottom: 0;
		outline: 0;
		box-shadow: none;
		line-height: 20px;
		height: 20px;
		width: auto;
		font-size: 10px;
	}
	.kt-typography-size-type-options .components-button.kt-size-btn.is-primary {
		color: #0085ba;
		background: #f2f2f2;
		box-shadow: none;
	}
	.kt-typography-size-type-options .components-button.kt-size-btn svg, .kt-typography-size-type-options .components-button.kt-size-btn span.dashicon {
		width: 12px;
        height: 12px;
        font-size: 12px;
	}
	.kt-typography-size-type-options {
		flex-grow: 2;
	}
	.kt-size-tite-device-wrap {
		display: flex;
		text-align: right;
		align-items: center;
	}
	.kt-type-size-input-wrap .kt-typography-number-input {
		width: 55%;
		flex: none;
		margin-right: 0;
		display: inline-block;
	}
	.kt-type-size-input-wrap .kt-typography-size-type {
		width: 40%;
		flex: none;
		margin-right: 0;
		display: inline-block;
	}
	.kt-type-size-input-wrap {
		display: flex;
		justify-content: space-between;
	}
}
.components-popover.kt-popover-font-family .components-popover__content .typography-row-settings .components-base-control:last-child .components-base-control__field .kt-typography-size-type {
    width: 100%;
}
.components-popover.kt-popover-font-family .components-popover__content .kt-type-size-input-wrap .components-base-control:last-child {
    flex: 0 1 40%;
}
.components-popover.kt-popover-font-family .components-popover__content .kt-type-size-input-wrap .kt-typography-number-input {
    flex: 0 1 55%;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-row-settings .kt-type-input-wrap {
    flex: 0 1 33.33%;
    margin-right: 5px;
    margin-bottom: 0;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-row-settings .kt-size-input-wrap {
    flex: 0 1 50%;
    margin-right: 15px;
    margin-bottom: 0;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-row-settings .kt-size-input-wrap:last-child {
    margin-right: 0px;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-row-settings .kt-type-input-wrap .components-base-control {
    flex:none;
    display:inline-block;
    margin-right:0;
    width: 70%;
}
.components-popover.kt-popover-font-family .components-popover__content .typography-row-settings .kt-type-input-wrap .kt-unit {
    width: 30%;
    display: inline-block;
    text-align: center;
}
 .edit-post-sidebar h2.kt-heading-size-title,  .kt-block-defaults-modal h2.kt-heading-size-title {
    font-size: 14px;
	margin-bottom: 0;
    color:#555d66;
    margin-top: 30px;
}
.components-button-group.kt-size-type-options {
    margin: 0;
    text-align: right;
    display: block;
    margin-bottom: -18px;
    border:0;
}
.kt-size-type-options button.components-button.kt-size-btn {
    background: transparent;
    color: #777;
    border: 0;
    box-shadow: none;
    text-shadow: none;
    height: 18px;
    line-height: 18px;
    padding: 0 4px;
    position: relative;
}
.kt-size-type-options button.components-button.kt-size-btn.is-primary, .kt-size-type-options button.components-button.kt-size-btn.is-primary:focus:not(:disabled):not([aria-disabled=true]) {
 color:#000;
 text-decoration:underline;
 background:transparent;
 box-shadow:none;
 border:none;
 outline: none;
}
.kt-size-type-options button.components-button.kt-size-btn:hover, .kt-size-type-options button.components-button.kt-size-btn:hover:focus:not(:disabled):not([aria-disabled=true]) {
    color:#000;
     background:transparent;
 box-shadow:none;
 border:none;
 outline: none;
}
.kt-size-tabs {
    .components-tab-panel__tabs {
        border-bottom: 0;
        text-align: right;
        margin-top: -1.3em;
        margin-bottom:0;
        display:block;
        button {
            background: transparent;
            border: 0;
            height:auto;
            border-bottom: 0;
            padding: 2px 4px;
            margin-bottom: 0;
            outline: 0;
            color: #A0AEC0;
            width: auto;
            font-size: 10px;
            &:hover {
                color: #718096;
            }
            &.active-tab {
                color: #007cba;
                background: transparent;
            }
            &:focus:enabled {
                box-shadow: inset 0 0 0 1px #007cba, inset 0 0 0 1px #fff;
                outline: 2px solid transparent;
            }
            svg {
                width: 15px;
                height:15px;
            }
            span.dashicon {
                width: 15px;
                height: 15px;
                font-size: 15px;
            }
        }
    }
}
h2.kt-heading-fontfamily-title {
    margin: 30px 0 10px;
    font-size: 14px;
    color: #555d66;
}
button.components-button.components-icon-button.kt-font-clear-btn, button.components-button.kt-font-clear-btn {
    display: block;
    margin-right: 0;
    margin-left: auto;
    margin-top: -45px;
    text-align: center;
    padding: 6px;
    text-indent: 0;
}
.select-search-box {
    width: auto;
    position: relative;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 4px;
	&::after {
        font-family: dashicons;
		content: "\f140";
        position: absolute;
        top: 0;
        right: 0;
        width: 30px;
        text-align: center;
        line-height: 30px;
        color: #222f3e;
        z-index: 1;
    }
    .select-search-box--input::after {
        display: none !important;
    }
    .select-search-box__out {
        display: none;
    }
	.select-search-box__search {
        display: block;
        width: 100%;
        height: 30px;
        border: none;
        background: none;
        outline: none;
        font-size: 16px;
        padding: 0 20px;
        color: #222f3e;
        -webkit-appearance: none;
        box-sizing: border-box;
        position: relative;
        z-index: 2;
        cursor: pointer;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 30px;
        box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
    }
    input.select-search-box__search {
        line-height: 1;
    }
    .select-search-box--multiple .select-search-box__search {
        box-shadow: none;
    }
    .select-search-box--input .select-search-box__search {
        cursor: text;
    }
	.select-search-box__search:focus {
		cursor: text;
	}
	.select-search-box__search--placeholder {
		font-style: italic;
		font-weight: normal;
	}
    .select-search-box input::-webkit-input-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: normal;
    }

    .select-search-box input::-moz-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: normal;
    }

    .select-search-box input:-moz-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: normal;
    }

    .select-search-box input:-ms-input-placeholder {
        color: #ccc;
        font-style: italic;
        font-weight: normal;
    }

    input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
        -webkit-appearance: none;
    }

    .select-search-box__select {
        display: none;
        position: absolute;
        top: 35px;
        height: 220px;
        left: 0;
        right: 0;
        background: #fff;
        border-radius: 4px;
        overflow: auto;
        box-shadow: 0 7px 14px 0 rgba(50, 50, 93, 0.1), 0 3px 6px 0 rgba(0, 0, 0, 0.07);
        z-index: 100;
        min-height: 30px;
    }

    .select-search-box--multiple .select-search-box__select {
        display: block;
        position: static;
        border-top: 1px solid #eee;
        border-radius: 0;
        box-shadow: none;
    }

	.select-search-box__select--display {
		display: block;
	}

    .select-search-box__option {
		font-size: 13px;
		font-weight: 400;
		color: #616b74;
		line-height: 30px;
		margin-bottom: 0;
		padding: 0px 10px;
        border-top: 1px solid #eee;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        user-select: none;
    }

        .select-search-box__option:first-child {
            border-top: none;
        }

        .select-search-box__option--hover, .select-search-box__option:hover {
            background: #f4f7fa;
        }

        .select-search-box__option--selected {
            background: #54A0FF;
            color: #fff;
            border-top-color: #2184ff;
        }

            .select-search-box__option--selected:hover, .select-search-box__option--selected.select-search-box__option--hover {
                background: #2184ff;
                color: #fff;
                border-top-color: #2184ff;
            }

        .select-search-box__group {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #eee;
            position: relative;
        }

        .select-search-box__group-header {
            position: absolute;
            top: 0;
            left: 50%;
            transform: translate(-50%, -50%);
            background: white;
            padding: 0 10px;
            color: rgba(0, 0, 0, 0.5);
            font-size: 12px;
		}
	}
.wp-block-kadence-advancedheading mark {
	color: #f76a0c;
	background:transparent;
}
.kb-global-typography-label {
    display: flex;
	align-items: center;
	h2.kt-beside-color-label {
		flex-grow: 1;
		margin: 12px 0;
	}
	.components-base-control.components-toggle-control, .components-toggle-control .components-base-control__field {
		margin-bottom: 0 !important;
	}
}
// Kadence Range CSS
.kadence-range-control-inner {
    box-sizing: border-box;
    align-items: flex-start;
    display: flex;
    -webkit-box-pack: start;
    justify-content: flex-start;
    padding: 0px;
    position: relative;
    width: 100%;
}
.kadence-range-control-inner .components-range-control.kadence-range-control-range {
    flex-grow: 1;
    margin-bottom: 0;
}
.kadence-range-control-inner .components-base-control.kt-range-number-input{
	margin-left: 16px;
	margin-bottom: 0;
	flex: 0 1 65px;
}
.kb-advanced-heading-link.hls-underline, .wp-block-kadence-advancedheading.hls-underline a {
    text-decoration: underline;
}

.kb-advanced-heading-link.hls-hover_underline, .wp-block-kadence-advancedheading.hls-hover_underline a, .kb-advanced-heading-link.hls-none, .wp-block-kadence-advancedheading.hls-none a {
    text-decoration: none;
}
.kb-advanced-heading-link.hls-hover_underline:hover, .wp-block-kadence-advancedheading.hls-hover_underline a:hover {
    text-decoration: underline;
}