/**
 * #.# Styles
 *
 * CSS for both Frontend
 */
// Item
.wp-block-kadence-advancedheading mark {
	color: #f76a0c;
	background:transparent;
	border-style: solid;
	border-width:0;
}
.kadence-heading-clip-animation {
	overflow: hidden;
}
[data-aos="reveal-up"] {
	transition-property: transform;
	transform: translate3d(0, -140%, 0);
	&.aos-animate {
		transform: translate3d(0, 0, 0);
	}
}
[data-aos="reveal-down"] {
	transition-property: transform;
	transform: translate3d(0, 140%, 0);
	&.aos-animate {
		transform: translate3d(0, 0, 0);
	}
}
[data-aos="reveal-left"] {
	transition-property: transform;
	transform: translate3d(-110%, 0, 0);
	&.aos-animate {
		transform: translate3d(0, 0, 0);
	}
}
[data-aos="reveal-right"] {
	transition-property: transform;
	transform: translate3d(110%, 0, 0);
	&.aos-animate {
		transform: translate3d(0, 0, 0);
	}
}
.kadence-heading-clip-animation .wp-block-kadence-advancedheading {
	display: inline-block;
}