.kadence-font-size-control .components-button-group.kadence-radio-container-control {
    flex: 1;
}
.kadence-font-size-control .kadence-single-unit-control .components-button-group.kadence-radio-container-control {
    flex:0;
}
.kadence-font-size-control .kadence-radio-container-control.components-button-group .components-button {
    height: 32px;
    min-width: 20px;
}
.kadence-font-size-control .kadence-radio-container-control.components-button-group .components-button.has-icon.only-icon svg {
    margin: 0;
    width: 1em;
    height: 1em;
    font-size: 18px;
}
.kadence-font-size-control .kadence-single-unit-control .components-unit-control-wrapper {
    flex-grow: 2;
}
.kadence-font-size-control .kadence-single-unit-control {
    gap: 0;
}
.kadence-controls-content.kadence-single-unit-control {
    > .components-base-control {
        margin-bottom: 0;
    }
}
.kadence-font-size-control .kadence-single-unit-control .components-unit-control-wrapper .components-input-control__backdrop {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    border: 1px solid var(--kb-border-color, #859CB6 ) !important;
    border-right: 0 !important;
}
.kb-responsive-unit-control .kadence-component__header__title.kadence-unit__title {
    white-space: nowrap;
    overflow: hidden;
}
.kadence-font-size-control .kadence-single-unit-control .components-input-control__input:not(.specific) {
    height: 32px;
}
.kadence-font-size-control .kadence-single-unit-control .kadence-measure-control-select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: transparent;
    border-radius: 0px 2px 2px 0px;
    display: block;
    outline: none;
    margin: 0px;
    min-height: auto;
    font-family: inherit;
    box-sizing: border-box;
    padding: 2px 1px;
    width: 20px;
    color: rgb(47, 47, 47);
    font-size: 10px;
    line-height: 1;
    letter-spacing: -0.5px;
    text-transform: uppercase;
    -moz-text-align-last: center;
    text-align-last: center;
    height: 100%;
    border: 1px solid var(--kb-border-color, #859CB6 );
	border-left: 0;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: box-shadow 0.1s linear 0s, border 0.1s linear 0s;
    cursor: pointer;
    &:hover {
		background-color: #F8F9FB;
	}
    &[disabled] {
        cursor: not-allowed;
        background: transparent;
        &:hover {
            background: transparent;
        }
    }
}