.typography-family-select-form-row {
	z-index: 200;
    position: relative;
    .kt-typography__control input {
        min-height: 18px;
    }
	.kb-react-select__indicator {
		svg{
			width: 16px;
			height: 16px;
		}
	}
	.kb-react-select__input input {
		min-height: 24px;
		border-radius:0;
	}
	.kb-react-select__value-container {
		padding: 0px 8px 0px 4px;
	}
}
.kb-typography-control .components-base-control > .kadence-component__header, .kb-typography-control .components-base-control > .components-base-control__label {
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
}