.typography-family-select-form-row {
	z-index: 200;
    position: relative;
    .kt-typography__control input {
        min-height: 18px;
    }
	.kb-react-select__indicator {
		svg{
			width: 16px;
			height: 16px;
		}
	}
	.kb-react-select__input input {
		min-height: 24px;
		border-radius:0;
	}
	.kb-react-select__value-container {
		padding: 0px 8px 0px 4px;
	}
}
.kb-typography-control .components-base-control > .kadence-component__header, .kb-typography-control .components-base-control > .components-base-control__label {
	font-size: 11px;
	font-weight: 500;
	text-transform: uppercase;
}
.typography-family-select-form-row {
	.kb-react-select__control {
		border-color: var(--kb-border-color, #859CB6 );
		min-height: 32px;
		&:hover{
			border-color: var(--kb-border-dark-color, #6F8094 );
		}
	}
	.kb-react-select__indicator-separator {
		width: 0;
	}
	.kb-react-select__dropdown-indicator {
		color: var(--kb-border-color, #859CB6 );
	}
}

.kb-select-style .components-input-control__backdrop:not(.specific):not(.more-specific) {
    border-color: var(--kb-border-color, #859CB6 );
}
.kb-textbox-style {
	.components-base-control__label {
		font-weight: 400;
	}
	.components-text-control__input {
		border-color: var(--kb-border-color, #859CB6 );
	}
	.components-input-control__backdrop:not(.specific):not(.more-specific) {
		border-color: var(--kb-border-color, #859CB6 );
	}
}