/*!******************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/@wordpress/scripts/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/@wordpress/scripts/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/@wordpress/scripts/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/blocks/column/editor.scss ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
.wp-block-kadence-column {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 100%;
}

.wp-block-kadence-column > .kadence-inner-column-direction-vertical.kadence-inner-column-vertical-align-middle {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.wp-block-kadence-column > .kadence-inner-column-direction-vertical.kadence-inner-column-vertical-align-middle > .wp-block {
  margin-left: unset;
  margin-right: unset;
}

.wp-block-kadence-column > .kadence-inner-column-direction-vertical.kadence-inner-column-vertical-align-bottom {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
}
.wp-block-kadence-column > .kadence-inner-column-direction-vertical.kadence-inner-column-vertical-align-bottom > .wp-block {
  margin-left: unset;
  margin-right: unset;
}

.wp-block-kadence-column > .kadence-inner-column-direction-horizontal {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal > .wp-block {
  margin-left: unset;
  margin-right: unset;
  margin-top: 0;
  margin-bottom: 0;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal > .block-editor-block-list__block[data-type="core/embed"] {
  flex: 1;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal > .wp-block-kadence-column {
  flex: 1;
  min-width: 0;
  max-width: none;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal > .wp-block-kadence-image.image-is-svg {
  width: auto;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal > .block-list-appender {
  margin: 0;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal > .block-list-appender .block-editor-default-block-appender {
  margin: 0 8px;
  display: flex;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal > .block-list-appender .block-editor-default-block-appender p.block-editor-default-block-appender__content {
  margin: 0;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal > .block-list-appender .block-editor-default-block-appender .block-editor-inserter {
  position: static;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal.kadence-inner-column-vertical-align-top {
  align-items: flex-start;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal.kadence-inner-column-vertical-align-bottom {
  align-items: flex-end;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal.kadence-inner-column-text-align-left {
  justify-content: flex-start;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal.kadence-inner-column-text-align-center {
  justify-content: center;
}
.wp-block-kadence-column > .kadence-inner-column-direction-horizontal.kadence-inner-column-text-align-right {
  justify-content: flex-end;
}

.wp-block-kadence-rowlayout .block-editor-block-list__layout .kadence-section-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.kadence-inner-column-inner:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
}

/*# sourceMappingURL=blocks-column.css.map*/