/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/@wordpress/scripts/node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[3].use[1]!./node_modules/@wordpress/scripts/node_modules/postcss-loader/dist/cjs.js??ruleSet[1].rules[3].use[2]!./node_modules/@wordpress/scripts/node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[3].use[3]!./src/blocks/testimonials/editor.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
/* Slider */
.kt-blocks-carousel {
  padding: 0 0 25px 0;
  /* Arrows */
  /* Dots */
}
.kt-blocks-carousel .slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
}
.kt-blocks-carousel .slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.kt-blocks-carousel .slick-list:focus {
  outline: none;
}
.kt-blocks-carousel .slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.kt-blocks-carousel .slick-slider .slick-track,
.kt-blocks-carousel .slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.kt-blocks-carousel .slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.kt-blocks-carousel .slick-track:before, .kt-blocks-carousel .slick-track:after {
  content: "";
  display: table;
}
.kt-blocks-carousel .slick-track:after {
  clear: both;
}
.kt-blocks-carousel .slick-loading .slick-track {
  visibility: hidden;
}
.kt-blocks-carousel .slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .kt-blocks-carousel .slick-slide {
  float: right;
}
.kt-blocks-carousel .slick-slide img {
  display: block;
}
.kt-blocks-carousel .slick-slide.slick-loading img {
  display: none;
}
.kt-blocks-carousel .slick-slide.dragging img {
  pointer-events: none;
}
.kt-blocks-carousel .slick-initialized .slick-slide {
  display: block;
}
.kt-blocks-carousel .slick-loading .slick-slide {
  visibility: hidden;
}
.kt-blocks-carousel .slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.kt-blocks-carousel .slick-arrow.slick-hidden {
  display: none;
}
.kt-blocks-carousel .slick-slider:hover .slick-prev,
.kt-blocks-carousel .slick-slider:hover .slick-next {
  opacity: 0.75;
}
.kt-blocks-carousel .slick-slider:hover .slick-prev:hover, .kt-blocks-carousel .slick-slider:hover .slick-prev:focus,
.kt-blocks-carousel .slick-slider:hover .slick-next:hover,
.kt-blocks-carousel .slick-slider:hover .slick-next:focus {
  outline: none;
  opacity: 1;
}
.kt-blocks-carousel .slick-slider:hover .slick-prev.slick-disabled,
.kt-blocks-carousel .slick-slider:hover .slick-next.slick-disabled {
  opacity: 0.25;
}
.kt-blocks-carousel .slick-prev,
.kt-blocks-carousel .slick-next {
  position: absolute;
  display: block;
  height: 50px;
  width: 30px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
  opacity: 0.25;
  z-index: 1;
}
.kt-blocks-carousel .slick-prev:hover, .kt-blocks-carousel .slick-prev:focus,
.kt-blocks-carousel .slick-next:hover,
.kt-blocks-carousel .slick-next:focus {
  outline: none;
  opacity: 1;
}
.kt-blocks-carousel .slick-prev.slick-disabled,
.kt-blocks-carousel .slick-next.slick-disabled {
  opacity: 0;
}
.kt-blocks-carousel [dir=rtl] .slick-prev {
  left: auto;
  right: 0px;
  transform: translate(0, -50%) rotate(180deg);
}
.kt-blocks-carousel .slick-prev {
  left: 0px;
}
.kt-blocks-carousel [dir=rtl] .slick-next {
  left: -25px;
  right: auto;
  transform: translate(0, -50%) rotate(180deg);
}
.kt-blocks-carousel .slick-next {
  right: 0px;
}
.kt-blocks-carousel .kt-carousel-arrowstyle-blackonlight .slick-prev,
.kt-blocks-carousel .kt-carousel-arrowstyle-blackonlight .slick-next {
  background: rgba(255, 255, 255, 0.8);
  color: black;
}
.kt-blocks-carousel .kt-carousel-arrowstyle-outlineblack .slick-prev,
.kt-blocks-carousel .kt-carousel-arrowstyle-outlineblack .slick-next {
  background: transparent;
  border: 2px solid #000000;
  color: black;
}
.kt-blocks-carousel .kt-carousel-arrowstyle-outlinewhite .slick-prev,
.kt-blocks-carousel .kt-carousel-arrowstyle-outlinewhite .slick-next {
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.kt-blocks-carousel .slick-dotted.slick-slider {
  margin-bottom: 30px;
}
.kt-blocks-carousel .slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
  left: 0;
}
.kt-blocks-carousel .slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
.kt-blocks-carousel .slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.kt-blocks-carousel .slick-dots li button:hover, .kt-blocks-carousel .slick-dots li button:focus {
  outline: none;
}
.kt-blocks-carousel .slick-dots li button:hover:before, .kt-blocks-carousel .slick-dots li button:focus:before {
  opacity: 1;
}
.kt-blocks-carousel .slick-dots li button:before {
  top: 5px;
  left: 5px;
  width: 10px;
  height: 10px;
  outline: none;
  border-radius: 50%;
  background-color: black;
  opacity: 0.25;
  text-indent: -999em;
  cursor: pointer;
  position: absolute;
  content: "";
}
.kt-blocks-carousel .slick-dots li.slick-active button:before {
  background-color: black;
  opacity: 0.75;
}
.kt-blocks-carousel .kt-carousel-dotstyle-light .slick-dots li button:before {
  background-color: white;
}
.kt-blocks-carousel .kt-carousel-dotstyle-light .slick-dots li.slick-active button:before {
  background-color: white;
}
.kt-blocks-carousel .kt-carousel-dotstyle-outlinedark .slick-dots li button:before {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #000;
  transition: box-shadow 0.3s ease;
}
.kt-blocks-carousel .kt-carousel-dotstyle-outlinedark .slick-dots li.slick-active button:before {
  box-shadow: inset 0 0 0 8px #000;
}
.kt-blocks-carousel .kt-carousel-dotstyle-outlinelight .slick-dots li button:before {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #fff;
  transition: box-shadow 0.3s ease;
}
.kt-blocks-carousel .kt-carousel-dotstyle-outlinelight .slick-dots li.slick-active button:before {
  box-shadow: inset 0 0 0 8px #fff;
  background-color: #fff;
}

.wp-block-kadence-testimonials .kt-blocks-carousel {
  padding-bottom: 35px;
}
.wp-block-kadence-testimonials .kt-blocks-carousel.kt-carousel-container-dotstyle-none {
  padding-bottom: 0;
}
.wp-block-kadence-testimonials .kt-blocks-carousel .slick-slider:not(.kt-carousel-arrowstyle-none) {
  padding-left: 35px;
  padding-right: 35px;
}

.kt-spacer-sidebar-15 {
  height: 15px;
}

.kt-testimonial-item__move-menu {
  display: none;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}

.kt-testimonial-item-wrap:hover .kt-testimonial-item__move-menu {
  display: inline-flex;
}

.kt-testimonial-item__move-menu .components-button {
  padding: 4px;
  height: 30px;
  min-width: 30px;
  width: 30px;
  border: 1px solid transparent;
  background: rgba(255, 255, 255, 0.8);
}
.kt-testimonial-item__move-menu .components-button:focus:enabled {
  border-color: transparent;
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
  color: #555d66;
}
.kt-testimonial-item__move-menu .components-button:hover {
  border: 1px solid #555d66;
  color: #555d66;
}

.components-button-group.kt-style-btn-group button.components-button.kt-style-btn {
  width: 50%;
  border: 0;
  height: auto;
  border-radius: 0;
  background: transparent !important;
  padding: 8px;
  border: 2px solid transparent;
  box-shadow: none;
}

.components-button-group button.components-button.kt-style-btn svg {
  width: 100%;
}

.kt-style-btn-group {
  margin-bottom: 10px;
  border: 0;
}

.components-button-group .components-button.is-primary.kt-style-btn, .components-button-group .components-button.kt-style-btn:focus {
  border-color: #aaaaaa;
  background: transparent;
  outline: 0;
  box-shadow: none;
}

.components-button-group button.components-button.kt-style-btn:hover {
  border-color: #eeeeee;
}

.kt-testimonial-grid-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 30px 30px;
}

.kt-testimonial-columns-1 .kt-testimonial-grid-wrap {
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.kt-testimonial-columns-3 .kt-testimonial-grid-wrap {
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.kt-testimonial-columns-4 .kt-testimonial-grid-wrap {
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.kt-testimonial-columns-5 .kt-testimonial-grid-wrap {
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.kt-testimonial-grid-wrap .kt-testimonial-item-wrap {
  width: 100%;
}

.kt-testimonial-media-inner-wrap {
  overflow: hidden;
  border: 0 solid transparent;
  width: 60px;
  margin: 0 15px 0 0;
  border-radius: 100%;
}
.kt-testimonial-media-inner-wrap .kadence-testimonial-image-intrisic {
  padding-bottom: 100%;
  height: 0;
  position: relative;
}
.kt-testimonial-media-inner-wrap .kt-testimonial-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  padding: 0;
  border-radius: 100%;
}
.kt-testimonial-media-inner-wrap .kt-testimonial-image-placeholder {
  background: #f2f2f2;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
}
.kt-testimonial-media-inner-wrap .kt-svg-testimonial-icon {
  position: absolute;
  width: 100%;
  height: 100%;
}

.kt-testimonial-item-wrap {
  border: 0 solid transparent;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.kt-testimonial-meta-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.kt-testimonial-meta-wrap .kt-testimonial-meta-name-wrap {
  text-align: left;
}

.kt-svg-testimonial-global-icon {
  border: 2px solid #eeeeee;
  border-radius: 100%;
  background: transparent;
  color: #444444;
  padding: 20px;
}

.kt-svg-testimonial-global-icon-wrap {
  margin: 0 0 10px 0;
}

.kt-testimonial-style-card .kt-testimonial-media-inner-wrap {
  width: auto;
  margin: 0 0 15px 0;
  border-radius: 0;
}
.kt-testimonial-style-card .kt-testimonial-media-inner-wrap .kadence-testimonial-image-intrisic {
  padding-bottom: 50%;
}
.kt-testimonial-style-card .kt-testimonial-media-inner-wrap .kt-testimonial-image, .kt-testimonial-style-card .kt-testimonial-media-inner-wrap .kt-testimonial-image-placeholder {
  border-radius: 0;
}
.kt-testimonial-style-card .kt-testimonial-meta-wrap .kt-testimonial-meta-name-wrap {
  text-align: center;
}
.kt-testimonial-style-card.kt-testimonials-icon-on.kt-testimonial-halign-center .kt-testimonial-item-wrap {
  text-align: left;
}
.kt-testimonial-style-card .kt-svg-testimonial-global-icon-wrap {
  float: left;
  margin: 0 10px 0 0;
}
.kt-testimonial-style-card.kt-testimonial-halign-right .kt-svg-testimonial-global-icon-wrap {
  float: right;
}

.kt-testimonial-style-card.kt-testimonial-halign-right .kt-testimonial-media-inner-wrap {
  margin: 0 0 15px 0;
}

.kt-testimonial-style-bubble .kt-testimonial-text-wrap {
  border: 2px solid #eee;
  padding: 20px;
  position: relative;
  border-radius: 10px;
}
.kt-testimonial-style-bubble .kt-testimonial-text-wrap:after {
  height: 0;
  left: 50%;
  top: 100%;
  position: absolute;
  border-top: 14px solid #eee;
  border-bottom: 14px solid transparent;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  content: "";
  transform: translateX(-50%);
  width: 0;
}
.kt-testimonial-style-bubble .kt-testimonial-meta-wrap {
  margin-top: 20px;
}
.kt-testimonial-style-bubble.kt-testimonial-halign-left .kt-testimonial-meta-wrap {
  margin-left: 6px;
}
.kt-testimonial-style-bubble.kt-testimonial-halign-left.kt-testimonials-media-off .kt-testimonial-meta-wrap {
  margin-left: 20px;
}
.kt-testimonial-style-bubble.kt-testimonial-halign-right .kt-testimonial-meta-wrap {
  margin-right: 6px;
}
.kt-testimonial-style-bubble.kt-testimonial-halign-right.kt-testimonials-media-off .kt-testimonial-meta-wrap {
  margin-right: 20px;
}
.kt-testimonial-style-bubble .kt-svg-testimonial-global-icon {
  background: #fff;
}
.kt-testimonial-style-bubble.kt-testimonials-icon-on .kt-svg-testimonial-global-icon-wrap {
  margin: -55px 0 10px 0;
}
.kt-testimonial-style-bubble.kt-testimonials-icon-on .kt-testimonial-item-wrap {
  padding-top: 55px;
}

.kt-testimonial-halign-center.kt-testimonials-media-off .kt-testimonial-meta-wrap .kt-testimonial-meta-name-wrap {
  text-align: center;
}

.kt-testimonial-style-inlineimage .kt-testimonial-media-wrap {
  float: left;
}
.kt-testimonial-style-inlineimage .kt-testimonial-text-wrap {
  border: 2px solid #eee;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  text-align: left;
}
.kt-testimonial-style-inlineimage .kt-testimonial-text-wrap:after {
  height: 0;
  left: 20px;
  top: 100%;
  position: absolute;
  border-top: 14px solid #eee;
  border-bottom: 14px solid transparent;
  border-left: 14px solid transparent;
  border-right: 14px solid transparent;
  content: "";
  transform: none;
  width: 0;
}
.kt-testimonial-style-inlineimage .kt-testimonial-meta-wrap {
  margin-top: 2px;
  justify-content: flex-start;
  padding-left: 60px;
}
.kt-testimonial-style-inlineimage .kt-testimonial-meta-wrap .kt-testimonial-meta-name-wrap {
  text-align: left;
  display: flex;
}
.kt-testimonial-style-inlineimage .kt-testimonial-meta-wrap .kt-testimonial-meta-name-wrap .kt-testimonial-name-wrap {
  padding-right: 6px;
}
.kt-testimonial-style-inlineimage.kt-testimonial-halign-right .kt-testimonial-text-wrap {
  text-align: left;
}
.kt-testimonial-style-inlineimage.kt-testimonial-halign-right .kt-testimonial-media-wrap {
  float: right;
}
.kt-testimonial-style-inlineimage.kt-testimonial-halign-right .kt-testimonial-meta-wrap {
  padding-left: 0px;
  padding-right: 60px;
}
.kt-testimonial-style-inlineimage .kt-svg-testimonial-global-icon {
  background: #fff;
}
.kt-testimonial-style-inlineimage.kt-testimonials-icon-on .kt-svg-testimonial-global-icon-wrap {
  margin: -55px 0 10px 0;
}
.kt-testimonial-style-inlineimage.kt-testimonials-icon-on .kt-testimonial-item-wrap {
  padding-top: 55px;
}

.kt-testimonial-halign-left .kt-testimonial-item-wrap {
  text-align: left;
  margin: 0;
}
.kt-testimonial-halign-left .kt-testimonial-item-wrap .kt-testimonial-meta-name-wrap {
  text-align: left;
}
.kt-testimonial-halign-left .kt-testimonial-meta-wrap {
  justify-content: flex-start;
}
.kt-testimonial-halign-left .kt-testimonial-text-wrap:after {
  left: 20px;
  transform: none;
}

.kt-testimonial-halign-right .kt-testimonial-item-wrap {
  text-align: right;
  margin-left: auto;
  margin-right: 0;
}
.kt-testimonial-halign-right .kt-testimonial-item-wrap .kt-testimonial-meta-name-wrap {
  text-align: right;
}
.kt-testimonial-halign-right .kt-testimonial-meta-wrap {
  justify-content: flex-start;
  flex-direction: row-reverse;
}
.kt-testimonial-halign-right .kt-testimonial-media-inner-wrap {
  margin: 0 0 0 15px;
}
.kt-testimonial-halign-right .kt-testimonial-text-wrap:after {
  left: auto;
  right: 20px;
  transform: none;
}

.kt-testimonial-name a {
  color: inherit !important;
  text-decoration: underline;
}

.kt-testimonial-occupation a {
  color: inherit !important;
  text-decoration: underline;
}

.kt-testimonial-media-wrap .kt-remove-img.kt-testimonial-remove-image {
  position: absolute;
  left: 10px;
  top: 8px;
  z-index: 10000;
  font-size: 12px;
  background: red;
  border-radius: 50%;
  padding: 0;
  line-height: 1;
  color: white;
  width: 15px;
  min-width: 0;
  height: 15px;
  text-align: center;
}

.kt-testimonial-media-wrap .kt-testimonial-remove-image svg.dashicon {
  width: 1em;
  height: 1em;
}

.kt-testimonial-item-wrap.testimonial-valign-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.kt-testimonial-item-wrap.testimonial-valign-bottom {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/*# sourceMappingURL=blocks-testimonials.css.map*/