.kadence-background-size-control .kadence-controls-content .kadence-radio-container-control {
    width: 100%;
}
.kadence-small-radio-container {
	max-width: 40px;
}
.kadence-background-size-control {
	.kadence-radio-container-control .components-button.radio-custom.only-icon svg {
		width: 20px;
		margin: 0;
	}
	.kadence-radio-control-label {
		display: block;
		margin-bottom: 6px;
	}
	.kadence-controls-content {
		gap: 12px;
		align-items: end;
		.components-unit-control-wrapper {
			flex-grow: 1;
			margin: 0;
			.components-input-control__label {
				font-size: 11px;
				font-weight: 500;
				text-transform: uppercase;
				margin: 0 0 3px;
			}
		}
	}
}