button.components-button.kb-sidebar-image {
    width: 144px;
    margin-right: 5px;
    background-position: center;
    color: white;
    text-shadow: 1px 1px 1px #000;
	position: relative;
	z-index: 1;
}
button.components-button.kb-sidebar-image:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.3);
	z-index: -1;
}