.kb-tag-level-control .components-toolbar__control.components-button[data-subscript]:after {
    line-height: 15px;
    font-size: 12px;
}
.kb-tag-level-control .components-icon-button:not(:disabled).is-active:hover:after, .kb-tag-level-control .components-button:not(:disabled).is-active:hover:after {
    color:#191e23;
}
.kb-tag-level-control .components-toolbar__control.components-button:before {
    left: -1px;
    right: 0px;
}
.kb-tag-level-control .components-icon-button.is-active, .kb-tag-level-control .components-button.is-active {
    outline: none;
    color: #fff;
    box-shadow: none;
    background: #555d66;
}
.kb-tag-level-control .components-toolbar {
    width: 100%;
    display: grid;
    padding:0 1px;
	/* autoprefixer: ignore next */
	grid-template-columns: repeat(auto-fit, minmax(20px, 1fr));
    min-height: 40px;
}
.kb-tag-level-control div.has-left-divider .components-toolbar__control.components-button[aria-label="Paragraph"] svg {
    max-height: 14px;
}
.kb-tag-level-control div.has-left-divider .components-toolbar__control.components-button[aria-label="Paragraph"] svg path {
    transform: translate(-2px, -1px);
}
.kb-tag-level-control .components-toolbar > div {
    flex: 1;
    justify-content: center;
    align-items: center;
}
.kb-tag-level-control .components-toolbar>div+div.has-left-divider {
    margin-left: 0;
}
.kb-tag-level-control .components-toolbar>div+div.has-left-divider:before {
    top: 9px;
    left: -1px;
}
.kb-tag-level-control .components-toolbar__control.components-button {
    width: 100%;
    min-width: 20px !important;
    height: 34px;
	border-radius: 2px;
	padding-left: 0 !important;
    padding-right: 0 !important;
	svg {
		width: 16px;
		height: 16px;
	}
	&:focus:before {
		box-shadow: inset 0 0 0 var(--wp-admin-border-width-focus) var(--wp-admin-theme-color),inset 0 0 0 2px #fff;
		outline: 2px solid transparent;
	}
}
.kb-tag-level-control .kb-tag-select-control-inner {
	position: relative;
	z-index: 0;
	.components-toolbar {
		border: 1px solid var(--kb-border-color, #859CB6 );
		.components-button {
			color: #4A5568;
			&.is-pressed {
				color: white;
				&:before {
					background: var(--wp-admin-theme-color, #00669b);
				}
			}
		}
        > div+div.has-left-divider:before {
            background-color: var(--kb-border-color, #859CB6 );
        }
	}
}