/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */
 .wp-block[data-type="kadence/countdown-timer"] {
    pointer-events: none;
	max-width: none;
	margin-top: 0px;
    margin-bottom: 0px;
}
.wp-block[data-type="kadence/countdown"] {
	margin-top: 0px;
    margin-bottom: 0px;
}
.kb-countdown-container {
	overflow: hidden;
	border: 0 solid transparent;
	padding:1em;
	
	// Add extra padding when pause button is positioned at top or bottom to prevent clipping
	&:has(.kb-countdown-pause-button-top-left),
	&:has(.kb-countdown-pause-button-top-right) {
		padding-top: 2.5em; // 1em base + 0.5em top + 1em transform
	}
	
	&:has(.kb-countdown-pause-button-bottom-left),
	&:has(.kb-countdown-pause-button-bottom-right) {
		padding-bottom: 2.5em; // 1em base + 0.5em bottom + 1em transform
	}
}
.kb-countdown-container:not( .kb-countdown-has-timer) {
    padding: 0;
	
	// Adjust padding for containers without timer when pause button is present
	&:has(.kb-countdown-pause-button-top-left),
	&:has(.kb-countdown-pause-button-top-right) {
		padding-top: 2.5em;
	}
	
	&:has(.kb-countdown-pause-button-bottom-left),
	&:has(.kb-countdown-pause-button-bottom-right) {
		padding-bottom: 2.5em;
	}
}
.kb-countdown-timer {
    display: flex;
	flex-wrap: wrap;
	.kb-countdown-item {
		justify-content: center;
		display: flex;
		align-items: flex-end;
		margin-right: 0.5em;
		border:0px solid transparent;
		overflow-wrap: normal;
		word-break: normal;
	}
	.kb-countdown-label {
		display:flex;
		justify-content: flex-start;
		flex: 1;
	}
	.kb-countdown-number {
		display:flex;
		flex: 1;
		justify-content: center;
		margin-right: 0.2em;
	}
}
.kb-countdown-timer-layout-block {
	.kb-countdown-item {
		flex-direction: column;
		align-items: center;
		margin-right: 0.2em;
		min-width: 1.6em;
		padding:0.3rem;
		&.kb-countdown-date-item-seconds {
			margin-right: 0;
		}
		&.kb-countdown-divider-item {
			min-width: 0;
			padding:0.3rem 0;
		}
		.kb-countdown-number {
			margin:0;
			font-size: 2.2rem;
			line-height: 1;
		}
		.kb-countdown-label {
			font-size: .9rem;
			text-transform: uppercase;
		}
	}
	.kb-countdown-item.kb-pre-timer {
		flex: 1 0 100%;
		margin-right: 0;
		align-items: flex-start;
	}
	.kb-countdown-item.kb-post-timer {
		flex: 1 0 100%;
		margin-right: 0;
		align-items: flex-start;
	}
}
.kb-countdown-timer-layout-block.kb-countdown-enable-dividers {
	.kb-countdown-item {
		min-width: 1.2em;
		&.kb-countdown-divider-item {
			min-width: 0;
		}
	}
}
.wp-block[data-type="kadence/countdown-inner"] {
	margin-top: 0px;
    margin-bottom: 0px;
}
// Hide Expired By Default.
.wp-block[data-type="kadence/countdown-inner"]:nth-child(2) {
    display: none;
}
.kb-countdown-preview-expired {
	.wp-block[data-type="kadence/countdown-timer"],
	.wp-block[data-type="kadence/countdown-inner"] {
		display: none;
	}
	.wp-block[data-type="kadence/countdown-inner"]:nth-child(2) {
		display: block;
	}
}
// Align.
.kb-countdown-align-center {
	.kb-countdown-timer {
		justify-content: center;
		.kb-pre-timer, .kb-post-timer {
			align-items: center;
		}
	}
}
.kb-countdown-align-left {
	.kb-countdown-timer {
		justify-content: flex-start;
		.kb-pre-timer, .kb-post-timer {
			align-items: flex-start;
		}
	}
}
.kb-countdown-align-right {
	.kb-countdown-timer {
		justify-content: flex-end;
		.kb-pre-timer, .kb-post-timer {
			align-items: flex-end;
		}
	}
}
#start-resizable-editor-section {
    display: none;
}

/* add all responsive styles here */
@media (max-width: 1024px) {
	.kb-countdown-align-tablet-center {
		.kb-countdown-timer {
			justify-content: center;
			.kb-pre-timer, .kb-post-timer {
				align-items: center;
			}
		}
	}
	.kb-countdown-align-tablet-left {
		.kb-countdown-timer {
			justify-content: flex-start;
			.kb-pre-timer, .kb-post-timer {
				align-items: flex-start;
			}
		}
	}
	.kb-countdown-align-tablet-right {
		.kb-countdown-timer {
			justify-content: flex-end;
			.kb-pre-timer, .kb-post-timer {
				align-items: flex-end;
			}
		}
	}
}
@media (max-width: 767px) {
	.kb-countdown-align-mobile-center {
		.kb-countdown-timer {
			justify-content: center;
			.kb-pre-timer, .kb-post-timer {
				align-items: center;
			}
		}
	}
	.kb-countdown-align-mobile-left {
		.kb-countdown-timer {
			justify-content: flex-start;
			.kb-pre-timer, .kb-post-timer {
				align-items: flex-start;
			}
		}
	}
	.kb-countdown-align-mobile-right {
		.kb-countdown-timer {
			justify-content: flex-end;
			.kb-pre-timer, .kb-post-timer {
				align-items: flex-end;
			}
		}
	}
}

#end-resizable-editor-section {
    display: none;
}

// Pause button editor styles - matches frontend
.kb-countdown-pause-button {
	position: absolute;
	background: rgba(0, 0, 0, 0.7);
	color: #fff;
	border: none;
	border-radius: 4px;
	padding: 0.5em;
	cursor: pointer;
	font-size: 1em;
	line-height: 1;
	z-index: 10;
	transition: background-color 0.2s ease, opacity 0.2s ease;
	
	&:hover {
		background: rgba(0, 0, 0, 0.9);
	}
	
	&:focus {
		outline: 2px solid #005fcc;
		outline-offset: 2px;
	}
	
	&:focus:not(:focus-visible) {
		outline: none;
	}
	
	.kb-countdown-pause-icon {
		display: block;
	}
	
	// Position variants
	&.kb-countdown-pause-button-top-left {
		top: 0.5em;
		left: 0.5em;
		right: auto;
		bottom: auto;
		transform: translateY(-.5em);
	}
	
	&.kb-countdown-pause-button-top-right {
		top: 0.5em;
		right: 0.5em;
		left: auto;
		bottom: auto;
		transform: translateY(-.5em);
	}
	
	&.kb-countdown-pause-button-bottom-left {
		bottom: 0.5em;
		left: 0.5em;
		top: auto;
		right: auto;
		transform: translateY(.5em);
	}
	
	&.kb-countdown-pause-button-bottom-right {
		bottom: 0.5em;
		right: 0.5em;
		top: auto;
		left: auto;
		transform: translateY(.5em);
	}
}

// In WP 6.2 (and 6.3 RC1) some CSS changes broke DateTimePicker layout. This is a manual fix until it's fixed in core.
// https://github.com/WordPress/gutenberg/issues/49520
.block-editor-block-inspector .kb-datepicker-fix .components-datetime .components-base-control {
	margin-bottom: 0;
}
