.wp-block-kadence-off-canvas-trigger {
	margin: 0;
	padding: 0;
	color: currentColor;
	background: none;
	border: none;
	border-radius: 0;
	cursor: pointer;
	svg {
	}
	&:hover {
		margin: 0;
		padding: 0;
		color: currentColor;
		background: none;
		border: none;
		border-radius: 0;
	}
}
