/**
 * Frontend only CSS.
 */

@import "../../assets/css/variables.scss";

@mixin header-transparent-styles {
	position: relative;
	z-index: 100;
	height: 0;

	.kb-header-container {
		background: var(--kb-transparent-header-bg, transparent);
		position: absolute;
		left: 0px;
		right: 0px;
		z-index: 100;
	}
	.wp-block-kadence-header-row:not(.kb-header-row-layout-contained) {
		background: var(--kb-transparent-header-row-bg, transparent);
	}
	.wp-block-kadence-header-row.kb-header-row-layout-contained .kadence-header-row-inner {
		background: var(--kb-transparent-header-row-bg, transparent);
	}
}

@mixin header-sticky-styles {
	.kb-header-container {
		left: 0;
		right: 0;
		z-index: 100;
		//transition: top ease-in-out 0.05s;
	}

	.item-is-stuck:not(.kb-header-row-layout-contained) {
		background: var(--kb-stuck-header-bg, var(--kb-header-bg, #fff));
	}
	.item-is-stuck.kb-header-row-layout-contained .kadence-header-row-inner {
		background: var(--kb-stuck-header-bg, var(--kb-header-bg, #fff));
	}

	//Makes site identity images and core images shrink a bit more naturally
	&[data-shrink-main="1"] .item-is-stuck .wp-block-kadence-header-section,
	&[data-shrink-main="1"] .item-is-stuck .wp-block-kadence-header-column {
		& > .kb-identity,
		& > .wp-block-image {
			img {
				object-fit: contain;
			}
		}
	}
}

.wp-block-kadence-header {
	margin: 0;

	//In the editor we just look for these classes as they will come and go as the preview device changes.
	//In the frontend, they will all be present, so must each be wrapped in a media query
	//Desktop transparent styles
	&.header-desktop-transparent {
		@media (min-width: $laptop-plus-query) {
			@include header-transparent-styles();
		}
	}
	//Tablet transparent styles
	&.header-tablet-transparent {
		@media (min-width: $before-tablet-plus-query) and (max-width: $tablet-minus-query) {
			@include header-transparent-styles();
		}
	}
	//Mobile transparent styles
	&.header-mobile-transparent {
		@media (max-width: $phone-minus-query) {
			@include header-transparent-styles();
		}
	}

	&.header-desktop-sticky {
		@media (min-width: $laptop-plus-query) {
			@include header-sticky-styles();
		}
	}
	//Tablet sticky styles
	&.header-tablet-sticky {
		@media (min-width: $before-tablet-plus-query) and (max-width: $tablet-minus-query) {
			@include header-sticky-styles();
		}
	}
	//Mobile sticky styles
	&.header-mobile-sticky {
		@media (max-width: $phone-minus-query) {
			@include header-sticky-styles();
		}
	}

	.wp-block-kadence-image:not(:last-child) {
		margin-bottom: 0;
	}
}

.wp-block-kadence-header-desktop {
	// Override a style we set elsewhere
	p {
		margin-bottom: unset;
	}

	@media (max-width: $tablet-minus-query) {
		display: none;
	}
}
.wp-block-kadence-header-tablet {
	display: none;

	.wp-block-kadence-header-column-tablet-right {
		flex-grow: 1;
		justify-content: flex-end !important;
	}

	@media (max-width: $tablet-minus-query) {
		display: block;
	}
}

.kb-header-container {
	//this fixes bleeding margins in header rows and rows with backgrounds bleeding out of headers with border radiuses
	//but it also breaks the sub menus being able to break out from the header.
	//overflow: auto;
}

.kb-header-placeholder-wrapper {
	position: relative;
	z-index: 50;
}

.kb-header-sticky-wrapper {
	width: 100%;
}

.wp-block-kadence-header .wp-block-kadence-header-section,
.wp-block-kadence-header .wp-block-kadence-header-column {
	& > p {
		margin-block-start: 0;
	}
}
