.kadence-blocks-inspector-tabs{
	display: flex;

	div {
		background: #efefef;
		border: 1px solid #333;
	}

	button {
		display: flex;
		flex: 1;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		background-color: #FFF;
		height: 75px;

		border: 0;
		border-top: 1px solid #e0e0e0;
		border-bottom: 1px solid #e0e0e0;
	}

	.is-active {
		box-shadow: inset 0 0 0 1px #007cba;
		background-color: #f0f0f0;
	}


}

[data-kadence-hide-advanced="true"] {
	.block-editor-block-inspector__advanced {
		display: none;
	}
}
