/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

.wp-block-kadence-off-canvas {
	//initially hidden
	display: none;

	margin: 0;
	padding: 0;
	z-index: 1001;

	background-color: white;
	text-align: left;
	border: none;
	max-height: 100%;
	overflow-y: auto;

	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	min-width: 100px;

	> .block-editor-inner-blocks {
		flex: 1;
		min-width: 0;
		width: 100%;
	}

	&.active {
		display: flex;

		&.off-canvas-side-left {
			justify-content: flex-start;
		}

		&.off-canvas-side-right {
			justify-content: flex-end;
		}

		& + .kb-off-canvas-overlay {
			display: block;
		}
	}

	.kb-off-canvas-label {
		bottom: 100%;
		font-size: 10px;
		line-height: 20px;
		background-color: lightgray;
		width: 100%;
	}

	& + .kb-off-canvas-overlay {
		//initially hidden
		display: none;

		position: fixed;
		z-index: 1000;
	}
}

//this needed to be in a more specific selector for the block editor
.block-editor-block-list__layout .wp-block-kadence-off-canvas {
	position: fixed;
}

.wp-block-kadence-off-canvas-close {
	border: 0;
	background: transparent;
	cursor: pointer;
	padding: 0;
	z-index: 11;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	color: #444444;
	-webkit-appearance: none;
	position: absolute;
	top: 4px;
	right: 4px;
}
.wp-block-kadence-off-canvas-close:focus {
	outline: none;
}
.kb-off-canvas-inner.kt-close-position-inside {
	position: relative;
}
