$admin-bar-height: 32px;
$admin-bar-height-mobile: 46px;

/* The off canvas area */
.wp-block-kadence-off-canvas {
	background-color: white;
	height: 100%;
	min-width: 250px;
	// left: -9999rem;
	// right: 9999rem;
	position: fixed;
	z-index: 9999;
	top: 0;
	overflow-x: scroll;
	transition: 0.5s ease-in-out;

	&.open-right {
		right: -100%;
	}
	&.open-left {
		left: -100%;
	}

	.kb-off-canvas-inner {
		width: auto;
		max-width: 100vw;
		height: 100%;
		display: flex;
		flex-direction: column;
		box-sizing: border-box;
	}

	&.active {
		&.open-right {
			right: 0;
		}
		&.open-left {
			left: 0;
		}

		& + .kb-off-canvas-overlay {
			display: block;
		}
	}

	.kb-off-canvas-close {
		margin: 0;
		padding: 0;
		color: currentColor;
		background: none;
		border: none;
		border-radius: 0;

		border: 0;
		background: transparent;
		cursor: pointer;
		padding: 0;
		z-index: 11;
		display: inline-flex;
		justify-content: top;
		align-items: center;
		color: #444444;
		-webkit-appearance: none;
		position: absolute;
		top: 4px;
		right: 4px;
		svg {
		}

		&:focus {
			outline: none;
		}

		&:hover {
			margin: 0;
			padding: 0;
			color: currentColor;
			background: none;
			border: none;
			border-radius: 0;
		}
	}
}

//admin bar top adjustment
body.admin-bar .wp-block-kadence-off-canvas {
	top: $admin-bar-height-mobile;
	height: calc(100% - $admin-bar-height-mobile);

	@media screen and (min-width: 783px) {
		top: $admin-bar-height;
		height: calc(100% - $admin-bar-height);
	}
}

/* Overlay for grey-out effect */
.kb-off-canvas-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5); /* Adjust opacity here */
	z-index: 9998; /* Ensure overlay is below off-canvas menu */
	display: none; /* Initially hidden */
}

.sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}
