/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */
// Item
// Defaults

.kt-row-layout-inner,
.kb-row-layout-wrap {
	position: relative;
	border: 0 solid transparent;
}
.kt-row-layout-inner:before,
.kb-row-layout-wrap:before {
	clear: both;
	display: table;
	content: "";
}
.kt-row-column-wrap {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	gap: var(--global-row-gutter-md, 2rem) var(--global-row-gutter-md, 2rem);
	grid-auto-rows: minmax(min-content, max-content);
	z-index: 1;
	position: relative;
}
.wp-block-kadence-rowlayout .kt-row-column-wrap.kb-theme-content-width {
	margin-left: auto;
	margin-right: auto;
}
.kt-inner-column-height-full:not(.kt-row-layout-row) {
	grid-auto-rows: minmax(0, 1fr);

	> .wp-block-kadence-column {
		align-self: stretch;

		& > .kt-inside-inner-col {
			height: 100%;
		}
	}
}
.kt-row-valign-middle.kt-inner-column-height-full
	> .wp-block-kadence-column:not(.kb-section-dir-horizontal)
	> .kt-inside-inner-col {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.kt-row-valign-bottom.kt-inner-column-height-full
	> .wp-block-kadence-column:not(.kb-section-dir-horizontal)
	> .kt-inside-inner-col {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}
.kt-row-valign-middle.kt-inner-column-height-full
	> .wp-block-kadence-column.kb-section-dir-horizontal
	> .kt-inside-inner-col {
	align-items: center;
}
.kt-row-valign-bottom.kt-inner-column-height-full
	> .wp-block-kadence-column.kb-section-dir-horizontal
	> .kt-inside-inner-col {
	align-items: flex-end;
}
//tablet collapsed columns
@media screen and (max-width: 1024px) {
	.kt-inner-column-height-full.kt-tab-layout-row,
	.kt-inner-column-height-full.kt-tab-layout-inherit.kt-row-layout-row {
		/* autoprefixer: ignore next */
		grid-auto-rows: minmax(min-content, max-content);
	}
	.kt-inner-column-height-full.kt-tab-layout-inherit.kt-row-layout-row
		> .wp-block-kadence-column
		> .kt-inside-inner-col {
		height: auto;
	}
	.kt-inner-column-height-full.kt-tab-layout-row > .wp-block-kadence-column > .kt-inside-inner-col {
		height: auto;
	}
}
//mobile collapsed columns
@media screen and (max-width: 767px) {
	.kt-inner-column-height-full.kt-mobile-layout-row {
		/* autoprefixer: ignore next */
		grid-auto-rows: minmax(min-content, max-content);
	}
	.kt-inner-column-height-full.kt-mobile-layout-row > .wp-block-kadence-column > .kt-inside-inner-col {
		height: auto;
	}
}
.kt-row-layout-overlay {
	top: 0;
	left: 0;
	position: absolute;
	opacity: 0.3;
	height: 100%;
	width: 100%;
	z-index: 0;
	filter: opacity(100%);
}
.kt-row-layout-overlay.kt-jarallax {
	filter: none;
}
// Tablet specific
@media (min-width: 768px) and (max-width: 1024px) {
	.wp-block-kadence-rowlayout [id*="jarallax-container-"] > div {
		height: var(--kb-screen-height-fix, 100vh) !important;
		margin-top: -40px !important;
	}
}
// safari tablet fix.
@media only screen and (min-width: 768px) and (max-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
	.wp-block-kadence-rowlayout [id*="jarallax-container-"] > div {
		height: var(--kb-screen-height-fix, 100vh) !important;
		margin-top: -40px !important;
	}
}
.entry-content .wp-block-kadence-rowlayout.alignfull,
.entry-content .wp-block-kadence-rowlayout.alignwide {
	text-align: inherit;
	margin-bottom: 0;
}
.kt-row-layout-bottom-sep {
	position: absolute;
	height: 100px;
	bottom: -1px;
	left: 0;
	overflow: hidden;
	right: 0;
	z-index: 1;
	svg {
		position: absolute;
		bottom: 0px;
		left: 50%;
		transform: translateX(-50%);
		width: 100.2%;
		height: 100%;
		display: block;
		fill: white;
	}
}
.kt-row-layout-top-sep {
	position: absolute;
	height: 100px;
	top: -1px;
	left: 0;
	overflow: hidden;
	right: 0;
	z-index: 1;
	svg {
		position: absolute;
		top: 0px;
		left: 50%;
		transform: translateX(-50%) rotate(180deg);
		width: 100.2%;
		height: 100%;
		display: block;
		fill: white;
	}
}
// Background Slider
.kt-row-layout-inner > .kb-blocks-bg-slider,
.kb-row-layout-wrap > .kb-blocks-bg-slider {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 0;
	margin: 0;
	.kb-blocks-bg-slider-init.kt-blocks-carousel-init {
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		padding: 0;
		margin: 0;
	}
	.splide__track,
	.splide__list,
	.splide__slide,
	.kb-bg-slide-contain {
		height: 100%;
	}
	.splide__list {
		height: 100% !important;
	}
	.kb-bg-slide-contain div.kb-bg-slide {
		background-position: center;
		background-size: cover;
		background-repeat: no-repeat;
	}
	.kb-blocks-bg-slider-init:not(.splide-initialized) .kb-bg-slide-contain {
		display: none;
		&:first-child {
			display: block;
		}
	}
	.kb-bg-slide-contain div {
		position: relative;
		height: 100%;
	}
}
.kb-blocks-bg-slider-init.splide .splide__pagination {
	bottom: 10px;
}
.kb-blocks-bg-slider-init.splide .splide__arrow {
	z-index: 100;
}
// background Video
.kb-blocks-bg-video-container {
	bottom: 0;
	right: 0;
	top: 0;
	left: 0;
	position: absolute;
	overflow: hidden;

	.kb-blocks-bg-video {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		height: auto;
		width: 100%;
		min-width: 100%;
		min-height: 100%;
		&::-webkit-media-controls {
			display: none !important;
		}
	}

	&.embedded {
		.kb-bg-video-iframe {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			min-width: 100%;
			height: 0;
			padding-bottom: 56.25%;
			&.kb-bg-video-ratio-4-3 {
				padding-bottom: 75%;
			}
			&.kb-bg-video-ratio-3-2 {
				padding-bottom: 66.66%;
			}
		}
		@media (max-aspect-ratio: 16/9) {
			.kb-bg-video-iframe {
				min-height: 100%;
				aspect-ratio: 16/9;
			}
		}
		.kb-blocks-bg-video {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border: 0;
			transform: translate(0%, 0%);
		}
	}

	.kb-background-video-buttons-wrapper {
		position: absolute;
		z-index: 11;
		bottom: 20px;
		right: 20px;

		button.kb-toggle-video-btn {
			padding: 8px;
			margin: 0 0 0 8px;
			border: 0;
			background: rgba(0, 0, 0, 0.3);
			cursor: pointer;
			font-size: 24px;
			color: #fff;
			display: inline-block;
			opacity: 0.5;
			height: 32px;
			line-height: 16px;
			transition: opacity 0.3s ease-in-out;
			box-sizing: border-box;
			svg {
				width: 16px;
				height: 16px;
				vertical-align: bottom;
			}
		}
		button.kb-toggle-video-btn:hover {
			opacity: 1;
		}
	}
}
.kb-blocks-bg-video {
	object-position: 50% 50%;
	object-fit: cover;
	background-position: center center;
	width: 100%;
	height: 100%;
}

@media (max-width: 767px) {
	.kvs-sm-false {
		display: none !important;
	}
}
@media (min-width: 768px) and (max-width: 1024px) {
	.kvs-md-false {
		display: none !important;
	}
}
@media screen and (min-width: 1025px) {
	.kvs-lg-false {
		display: none !important;
	}
}
// Fix issue with cover block.
.wp-block-kadence-rowlayout .kb-blocks-bg-slider .splide-arrow {
	z-index: 1000;
}

//fix for nav blcoks inside a row layout, default them to a very high z-index for their submenus
//weird :where selector to manage specificity to not override the z-index control
:where(.kb-row-layout-wrap:has(.wp-block-kadence-navigation)) {
	z-index: 1000;
}
