name: PHP Compatibility

on:
    workflow_dispatch:
    push:
        paths:
            - '**.php'

jobs:
    uses: pantheon-systems/phpcompatibility-action@v1
    with:
        test-versions: 7.4-
        paths: ${{ github.workspace }}/src
        extensions: 'php,inc'