@use '../../styles/tokens' as *;

.kadence-blocks-style-library__save-status {
	font-size: $font-size-small;
	line-height: 2.2;

	&--saving {
		color: $color-text-muted;
	}

	&--saved {
		color: $color-success;
	}

	&--error {
		color: $color-error;
	}
}
